<!--
  Generated template for the Fastbuy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar>
      <ion-title>闪购</ion-title>
   </ion-navbar>

   <ion-toolbar no-padding>
      <ion-slides class="slide-title" loop='false' autoplay='false' [initialSlide]='0' pager='false' [slidesPerView]="4"
         paginationHide='true' paginationClickable='true'>
         <ion-slide [style.pointerEvents]="selected==0?'none':'auto'">
            <div tappable (click)="getData(0)">
               <span class="slide-title-unit" [ngClass]="{'slide-title-active': selected == 0}">全部</span>
            </div>
         </ion-slide>
         <ion-slide *ngFor="let slide of category?.data; let i = index;" [style.pointerEvents]="selected==slide.cat_id?'none':'auto'">
            <div tappable (click)="getData(slide.cat_id)">
               <span class="slide-title-unit" [ngClass]="{'slide-title-active': selected == slide.cat_id}">{{slide.cat_name}}</span>
            </div>
         </ion-slide>
      </ion-slides>
   </ion-toolbar>
</ion-header>


<ion-content parallax-header>
   <div *ngIf="data" fadeIn>
      <div class="top_img header-image">
         <img [ads-click]="ads" *ngFor="let ads of category?.bannerone" [img-lazy-load]="ads?.ad_img" defaultSrc="./assets/images/images/640-320.jpg"
            width="100%" alt="">
      </div>
      <div class="main-content">

         <no-goods *ngIf="data&&!data?.data?.length"></no-goods>
         <ul class="purchase-box">
            <li class="wrp" *ngFor="let cleAll of data?.data" tappable (click)="goParticularsPage(cleAll.id)">
               <div class="img">
                  <img [img-lazy-load]="cleAll.goods_img" />
                  <div class="time_d">
                     <countdown [endDate]="cleAll.promote_end_date"></countdown>
                  </div>
               </div>
               <div class="txt">
                  <div class="tt-2">
                     {{cleAll.name}}
                  </div>
                  <div class="tt-1" *ngIf="mine?.showPrice">
                     <div class="cx"><em>{{cleAll.promote_price}}</em></div>&nbsp;<div class="suzi">原价：<em>¥{{cleAll.shop_price}}</em></div>
                  </div>
                  <div class="tt-3">
                     <div class="has-been-sold">已抢{{cleAll.sales_number||0}}件</div>
                     <button>立即抢购</button>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <!--<ion-fab left bottom>
        <button ion-fab color="jingku1" mini>
            {{data?.page}}/{{data?.pages}}
        </button>
    </ion-fab>-->
   <ion-fab right bottom>
      <button ion-fab color="jingku1" (click)="scrollToTop()" mini goBackTop></button>
   </ion-fab>
   <ion-infinite-scroll threshold="20%" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>
