<!--
  Generated template for the Fastbuy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>闪购</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="fore fore1"><img src="./assets/images/images/shangou_01_01.jpg" alt=""></div>
    <div class="fore fore2">
        <div><img src="./assets/images/images/shangou_01_03.jpg" alt="">
            <div class="text">隐形眼镜</div>
        </div>
        <div><img src="./assets/images/images/shangou_01_05.jpg" alt="">
            <div class="text">美瞳</div>
        </div>
        <div><img src="./assets/images/images/shangou_01_07.jpg" alt="">
            <div class="text">护理液</div>
        </div>
        <div><img src="./assets/images/images/shangou_01_13.jpg" alt="">
            <div class="text">太阳镜</div>
        </div>
        <div><img src="./assets/images/images/shangou_01_14.jpg" alt="">
            <div class="text">眼镜架</div>
        </div>
        <div><img src="./assets/images/images/shangou_01_16.jpg" alt="">
            <div class="text">眼镜片</div>
        </div>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_22.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img">
                <img src="./assets/images/images/jifenStore_1_02_02.jpg" alt="">
                <div class="time">
                    <ion-icon name="ios-time-outline"></ion-icon>
                    <countdown [endDate]="454545454"></countdown>
                </div>
            </div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_24.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img"><img src="./assets/images/images/jifenStore_1_02_02.jpg" alt=""></div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_27.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img"><img src="./assets/images/images/jifenStore_1_02_02.jpg" alt=""></div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_29.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img"><img src="./assets/images/images/jifenStore_1_02_02.jpg" alt=""></div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_32.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img"><img src="./assets/images/images/jifenStore_1_02_02.jpg" alt=""></div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3">
        <div><img src="./assets/images/images/shangou_01_34.jpg" alt=""></div>
        <ion-card *ngFor="let item of [{},{},{},{},{}]" (click)="goDuihuanDetailsPage(1)">
            <div class="img"><img src="./assets/images/images/jifenStore_1_02_02.jpg" alt=""></div>
            <div class="info">
                <h3>博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦博士伦</h3>
                <p><span class="red">¥450000</span></p>
            </div>
        </ion-card>
    </div>
    <div class="fore fore3"></div>
</ion-content>