<!--
  Generated template for the Fastbuy page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="    text-align: -webkit-center;background: #FFF;">
   <ion-navbar>
      <ion-toolbar class="segment-style">
         <div style="    height: 1.2rem;">
         </div>
               <ion-segment mode="md" [(ngModel)]="receiptTool" (ionChange)="flag=true;" style="    width: 58%; border: 1px solid #CCC;" (click)="receiptTools()">
                    <ion-segment-button value="receiptSskFor"  style="    font-size: 1.7rem; height: 3rem;line-height: 3rem;">
                          限时闪购
                         </ion-segment-button>
                   <ion-segment-button value="receiptList" style="    font-size: 1.7rem; height: 3rem;line-height: 3rem;">
                       活动促销
                   </ion-segment-button>
                 
               </ion-segment>
               <div style="    height: 1.2rem;"></div>
               
           </ion-toolbar>
   </ion-navbar>

</ion-header> -->



<ion-header>


   <ion-toolbar class="segment-style">
         <div style="    height: 1.2rem;"></div>
       <ion-segment mode="md"  [(ngModel)]="receiptTool"  style="    width: 58%; border: 1px solid #CCC;" (click)="receiptTools()" (ionChange)="flag=true;myContent.scrollToTop(0)">
         <ion-segment-button value="receiptSskFor"  style="    font-size: 1.7rem; height: 3rem;line-height: 3rem;">
            限时闪购
           </ion-segment-button>
     <ion-segment-button value="receiptList" style="    font-size: 1.7rem; height: 3rem;line-height: 3rem;">
         活动促销
     </ion-segment-button>
         
       </ion-segment>
       <div style="    height: 1.2rem;"></div>
   </ion-toolbar>
</ion-header>



<ion-content parallax-header #myContent [ngSwitch]="receiptTool">
      <ion-toolbar class="mytoolbar" no-padding  *ngIf="trynow" >
            <div class="quick_buy" >
                  <ul class="top_menu">
                     <li class="menu_ico" tappable (click)="getData(0)" [ngClass]="{'meon':selected==0}">全部</li>
                     <li class="menu_icotwo"></li>
                     <ng-container *ngFor="let item of category?.data">
                        <li class="menu_ico" tappable (click)="getData(item.cat_id)" [ngClass]="{'meon':selected==item.cat_id}">{{item.cat_name}}</li>
                     </ng-container>
                  </ul>
               </div>
               </ion-toolbar>
   
      <div class="receiptList" *ngSwitchCase="'receiptSskFor'" [ngStyle]="{background:suoquList&&!suoquList?.data?.length?'url(./assets/images/images/invoice.png) no-repeat center 100px':'none'}">
         <div *ngIf="data" fadeIn>
        
      <div class="top_img header-image">
         <img [ads-click]="ads" *ngFor="let ads of category?.bannerone" [img-lazy-load]="ads?.ad_img" defaultSrc="./assets/images/images/640-320.jpg" width="100%" alt="">
      </div>
      <div class="main-content">

   


         <no-goods *ngIf="data&&!data?.data?.length"></no-goods>
         <ul class="purchase-box">
            <li class="wrp" *ngFor="let cleAll of data?.data" tappable (click)="goParticularsPage(cleAll.id)">
               <div class="img">
                  <img [img-lazy-load]="cleAll.goods_img" />
                  <div class="time_d">
                     <countdown [endDate]="cleAll.promote_end_date"></countdown>
                  </div>
               </div>
               <div class="txt">
                  <div class="tt-2">
                     {{cleAll.name}}
                  </div>
                  <div class="tt-1" *ngIf="mine?.showPrice">
                     <div class="cx"><em>{{cleAll.promote_price}}</em></div>
                     <div class="suzi">&nbsp;<em>原价¥{{cleAll.shop_price}}</em></div>
                  </div>
                  
                  <div class="tt-3">
                     <button>立即抢购</button>
                  </div>
               </div>
            </li>
         </ul>
      </div>
         </div>
      </div>

      <div class="receiptSskFor" *ngSwitchCase="'receiptList'" [ngStyle]="{background:suoquList&&!suoquList?.data?.length?'url(./assets/images/images/invoice.png) no-repeat center 100px':'none'}">
         <div class="activityPromotion">
               <div class="activityPromotion_banner">
                     <div class="banner-wrapper">
                           <img width="100%" *ngIf="!bannerImgs" src="./assets/images/images/640-360.jpg" alt="">
                           <ng-container *ngIf="bannerImgs?.length">
                              <ion-slides #bannerSlide autoplay="4000" pager (ionSlideAutoplayStop)="bannerSlide.startAutoplay()" style="margin-bottom: 4%">
                                 <!-- *ngIf="bannerImgs" loop-->
                                 <ion-slide *ngFor="let item of bannerImgs" tappable [ads-click]="item">
                                    <img [img-lazy-load]="item.ad_img" defaultSrc="./assets/images/images/640-360.jpg" alt="" style="height:232.88px;">
                                 </ion-slide>
                              </ion-slides>
                           </ng-container>
                        </div>
               </div>
               <div class="activityPromotion_title">
                  <div class="activityPromotion_img" *ngFor="let posters of response">
                   <div style="position: relative;">  
                     <div>   <img src={{posters.poster}} alt=""  (click)="gotoinfo(posters.id)" style="height: 20rem;width: 100%;">
                     </div>
                  
                     <div class="time_d">
                        <countdown [endDate]="posters.timer"></countdown>
                     </div>
                        <ul>
                              <li *ngFor="let inst of posters.items">
                                 <img [img-lazy-load]="inst.images" defaultSrc="./assets/images/images/640-360.jpg" alt="" (click)="goParticularsPage(inst.goods_id)" >
                                 <span>{{inst.shop_price}}<em>{{inst.original}}</em></span>
                              </li>
                           </ul>
                  </div>
                    
                  
                    
                  </div>
               </div>
         </div>
         </div>
   <!--<ion-fab left bottom>
        <button ion-fab color="jingku1" mini>
            {{data?.page}}/{{data?.pages}}
        </button>
    </ion-fab>-->
   <ion-fab right bottom scroll-to-top>
      <button ion-fab color="jingku1" (click)="scrollToTop()" mini goBackTop></button>
   </ion-fab>
   <ion-infinite-scroll threshold="20%" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>