page-fastbuy {
    .fore {
        img {
            width: 100%;
        }
    }
    .fore2 {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2px 2px;
        >div {
            width: calc(33% - 10px);
            position: relative;
            margin: 2px 5px;
            .text {
                position: absolute;
                width: 100%;
                height: 100%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                top: 0;
            }
        }
    }
    .fore3 {
        >div:first-child {
            img {
                width: 100%;
                display: block;
            }
        }
        .singleton-warp {
            padding: 5px 5px;
            .card {
                width: calc(50% - 10px);
                display: inline-block;
                margin: 5px;
                .img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 170px;
                    position: relative;
                    img {
                        display: block;
                        margin: 0 auto;
                        width: auto;
                    }
                    .time {
                        position: absolute;
                        bottom: 0;
                        height: 30px;
                        width: 100%;
                        overflow: hidden;
                        background: #000;
                        opacity: .5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        .icon {
                            margin: 0 5px;
                            font-size: 2rem;
                        }
                        span {
                            margin: 0;
                            background: initial;
                            color: #fff;
                            min-width: initial;
                        }
                    }
                }
                .info {
                    color: #4d4d4d;
                    padding: 10px;
                    border-top: 1px solid #ccc;
                    white-space: nowrap;
                    h3 {
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .red {
                        color: #e60000;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}