<!--
  Generated template for the WriteOrders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>填写订单</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="fore1" (click)="openOrderModalShippingPage()" *ngIf="defaultShipping">
        <div class="wrap">
            <div>{{defaultShipping.consignee}}<span class="phone">{{defaultShipping.mobile|phonenumberfilter}}</span></div>
            <div>{{defaultShipping.address}}</div>
        </div>
    </div>
    <div class="background"></div>
    <ion-item-divider>
        货品清单
    </ion-item-divider>
    <ion-list class="fore2" *ngFor="let item of data?.cart_goods_list;let i=index">

        <div class="fore_child">
            <ion-item-divider>
                <span ion-text color="danger">订单{{i+1}}: </span>{{item.title}}
            </ion-item-divider>
            <div class="goods-list" *ngFor="let goods of item?.goods_list;">
                <ion-item no-lines>
                    <ion-thumbnail item-left>
                        <img src="{{goods.goods_img}}">
                    </ion-thumbnail>
                    <h2>{{goods.goods_name}}</h2>
                    <span class="type">促销???</span>
                </ion-item>
                <div class="attr-wrap">
                    <div class="one" *ngFor="let attr of goods?.attrs;">
                        <div class="left">
                            <div class="top">
                                <div *ngIf="attr.qiujing">{{attr.qiujing}}</div>
                                <div *ngIf="attr.zhujing">{{attr.zhujing}}</div>
                                <div *ngIf="attr.zhouwei">{{attr.zhouwei}}</div>
                                <div *ngFor="let attr2 of attr?.attrs;">{{attr2}}</div>
                            </div>
                            <div class="bottom">
                                <div>单价：{{attr.goods_price}}/副</div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price color">¥{{attr.formated_subtotal}}</div>
                            <div class="count">{{attr.goods_number}}副</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option" margin-right>
                <ion-item mode="ios" detail-push (click)="openOrderModalDistributionPage(item)">
                    配送方式
                    <ion-note item-right>
                        {{item.distributionMethod}}
                    </ion-note>
                </ion-item>
                <ion-item mode="ios" detail-push *ngIf="item.no_use_bonus?.length!=0" (click)="openOrderModalCouponPage(item)">
                    优惠券选择
                    <ion-note item-right>
                        可使用{{item.no_use_bonus?.length}}个优惠券
                    </ion-note>
                </ion-item>
                <div class="input">
                    <input type="text" placeholder="商家备注">
                </div>
            </div>
            <div class="result">小计：<span class="price">{{item.goods_subtotal}}</span> 共5？？？件</div>
        </div>
    </ion-list>
    <ion-item mode="ios" no-lines margin-right detail-push>
        来镜加工
    </ion-item>
    <div class="background"></div>
    <div class="fore3">
        <div>
            <span>购物金额小计：</span><span class="price">{{'¥'+data?.total?.formated_goods_price}}</span>
        </div>
        <div>
            <span>+配送费用</span><span>{{data?.total?.suppliers_shipping_fee_formated}}</span>
        </div>
        <div>
            <span>+获赠积分</span><span>{{data?.total?.will_get_give_rank_integral}}</span>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="pagefoot">
        <div class="left">
            合计：<span class="price">¥{{data?.total?.amount_formated}}</span>
        </div>
        <div class="right">
            <div ion-button no-margin full large color="dark" (click)="onsubmit()">提交订单</div>
        </div>
    </div>
</ion-footer>