page-write-orders {
    .content {
        background: #f7f7f7;
    }
    .fore1 {
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
        background-repeat: no-repeat;
        background-position: right 14px center;
        background-size: 14px 14px;
        .wrap {
            background: url(../assets/images/images/allorders_1_03.png) 10px bottom repeat-x;
            padding: 20px 25px 20px 20px;
            color: #808080;
            >div:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #666;
                margin-bottom: 10px;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }
    .fore2 {
        background: #fff;
        ion-item-divider.item {
            font-weight: 500;
            font-size: 1.5rem;
        }
        .item {
            display: flex;
            align-items: center;
            h2 {
                @include ellipsis_2;
            }
            .type {
                color: #fff;
                padding: 3px 8px;
                background: #e60000;
                border-radius: 3px;
                display: inline-block;
                margin-top: 5px;
                font-size: 1rem;
            }
        }
        .attr-wrap {
            border-bottom: 1px solid #dedede;
            margin: 10px 16px;
            margin-bottom: 0;
            .one {
                background: #f7f7f7;
                border-radius: 3px;
                display: flex;
                justify-content: space-between;
                color: #808080;
                padding: 10px;
                line-height: 2rem;
                margin-bottom: 10px;
                .color {
                    color: #4c4c4c;
                }
                .left {
                    .top {
                        >div {
                            float: left;
                            min-width: 50%;
                        }
                    }
                    .bottom {
                        clear: both;
                    }
                }
                .right {
                    text-align: right;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }
        .option {
            .input {
                text-align: center;
                padding: 10px 0;
                input {
                    border: 1px solid #e0e0e0;
                    border-radius: 4px;
                    width: 90%;
                    height: 4rem;
                    padding: 0 10px;
                }
            }
        }
        .result {
            border-top: 1px solid #dedede;
            text-align: right;
            padding: 10px;
            .price {
                color: #e60000;
                font-size: 1.6rem;
            }
        }
    }
    .fore3 {
        color: #666;
        padding: 10px 16px;
        background: #fff;
        margin-bottom: 10px;
        >div {
            display: flex;
            justify-content: space-between;
            line-height: 2rem;
            .price {
                color: #e60000;
            }
        }
    }
    .pagefoot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            margin-left: 10px;
            .price {
                color: #e60000;
            }
        }
        .right {
            width: 100px;
        }
    }
}