<!--
  Generated template for the WriteOrders page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>填写订单</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ng-container *ngIf="data">
        <div class="fore fore1" tappable (click)="openOrderModalShippingPage()" *ngIf="defaultShipping">
            <div class="wrap">
                <div style="color: #4c4c4c;font-size: 1.6rem;">{{defaultShipping.consignee}}
                    <span class="phone">{{defaultShipping.mobile | phonenumberfilter}}</span>
                </div>
                <div>{{defaultShipping.region+'&nbsp;'+defaultShipping.address}}</div>
            </div>
        </div>
        <div class="fore fore1" tappable (click)="openOrderModalShippingPage()" *ngIf="!defaultShipping">
            <div class="wrap">
                选择收货地址
            </div>
        </div>
        <!-- <ion-item class="fore" mode="ios" no-lines margin-right detail-push tappable (click)="openOrderPaymentModal(data)">
            支付方式
            <ng-container item-right *ngFor="let mtd of data?.payment_list">
                <ion-note style="margin:0;" *ngIf="mtd.selected==1">{{mtd.pay_name}}</ion-note>
            </ng-container>
        </ion-item> -->
        <ng-container *ngIf="data?.total?.real_goods_count==1">
            <ion-list class="fore fore2" *ngFor="let item of data?.cart_goods_list;let i=index">
                <!-- <ion-item-divider>
                <span ion-text color="danger">订单{{i+1}}: </span>{{item.title}}
            </ion-item-divider> -->
                <div class="goods-list" *ngFor="let goods of item?.goods_list;">
                    <ion-item no-lines>
                        <ion-thumbnail item-left tappable navPush="ParticularsPage" [navParams]="{goodsId:goods.goods_id}">
                            <img img-lazy-load="{{goods.goods_img}}">
                        </ion-thumbnail>
                        <h2>{{goods.cutting_id>0?goods.cutting_name:goods.goods_name}}</h2>
                        <span class="type" *ngIf="goods?.gift_list">{{goods?.gift_list?.title}}</span>
                    </ion-item>
                    <div class="attr-wrap">
                        <div class="one" *ngFor="let attr of goods?.attrs;">
                            <div class="left">
                                <div class="top" *ngIf="!(attr?.cutting_id>0)">
                                    <div *ngIf="attr.qiujing">球镜：{{attr.qiujing}}</div>
                                    <div *ngIf="attr.zhujing">柱镜：{{attr.zhujing}}</div>
                                    <div *ngIf="attr.zhouwei">轴位：{{attr.zhouwei}}</div>
                                    <div *ngFor="let attr2 of attr?.attrs;">{{attr2}}</div>
                                </div>
                                <div class="top" *ngIf="(attr?.cutting_id>0)">
                                    <div *ngFor="let _attr of attr?.cutting_attr;">
                                        <span style="white-space: initial;" *ngFor="let __attr of _attr;">{{__attr}}</span>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <!-- <div>总价：{{attr.formated_subtotal}}</div> -->
                                </div>
                            </div>
                            <div class="right">
                                <div class="price color" *ngIf="!(attr?.pro_id>0)">{{attr.goods_price}}</div>
                                <div class="price color" *ngIf="attr?.pro_id>0">{{attr.goodsPrice}}
                                    <p class="old">{{attr.goods_price}}</p>
                                </div>
                                <div class="count">x{{attr.goods_number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="result">小计：<span class="price">{{item.goods_subtotal}}</span> 共{{item.count_goods}}件</div> -->
            </ion-list>
        </ng-container>
        <ng-container *ngIf="data?.total?.real_goods_count>1">
            <div class="fore more-goods">
                <ion-item mode="ios" detail-push no-lines tappable navPush="GoodslistPage">
                    <ng-container item-left *ngFor="let item of data?.cart_goods_list">
                        <ng-container *ngFor="let goods of item?.goods_list;let i=index">
                            <ion-thumbnail item-left>
                                <img img-lazy-load="{{goods.goods_img}}">
                            </ion-thumbnail>
                        </ng-container>
                    </ng-container>
                    <ion-note item-end>
                        <span style="font-weight: 700;" *ngIf="data?.total?.real_goods_count>3">···</span>&nbsp;共{{data?.total?.real_goods_count||'0'}}件</ion-note>
                </ion-item>
            </div>
        </ng-container>
        <ion-list class="fore fore4">
            <ion-item mode="ios" detail-push tappable (click)="goPayAndShipPage()" style="border-top:none;">
                支付配送
                <ion-note item-end text-end class="payment-note">
                    <div>{{paymentMothdName}}</div>
                    <div>{{selectedShip}}</div>
                    <div *ngIf="(!selectedShip&&!paymentMothdName)">请选择</div>
                </ion-note>
            </ion-item>
            <ion-item mode="ios" tappable (click)="goUsecouponPage()" detail-push class="coupon" *ngIf="goodsType!='integral'&&!(dId>0)">
                优惠券选择
                <span class="count" *ngIf="selectedBonus.length">已选{{selectedBonus.length||0}}张</span>
                <span class="count" *ngIf="data?.yes_bonus&&!selectedBonus.length">{{data?.yes_bonus||0}}张可用</span>
                <ion-note *ngIf="!data?.yes_bonus&&!selectedBonus.length" item-end>
                    暂无可用
                </ion-note>
                <ion-note *ngIf="data?.yes_bonus&&!selectedBonus.length" item-end>
                    请选择
                </ion-note>
                <ion-note *ngIf="selectedBonus.length" item-end>
                    - ¥{{data?.total?.bonus_formated}}
                </ion-note>
            </ion-item>
            <ion-item mode="ios" detail-push tappable (click)="goCouponShipPage()">
                运费优惠券
                <span class="count" *ngIf="selectedShipBonus.length">已选{{selectedShipBonus.length||0}}张</span>
                <span class="count" *ngIf="shipBonus&&!selectedShipBonus.length">{{shipBonus}}张可用</span>
                <ion-note *ngIf="!shipBonus&&!selectedShipBonus.length" item-end>
                    暂无可用
                </ion-note>
                <ion-note *ngIf="shipBonus&&!selectedShipBonus.length" item-end>
                    请选择
                </ion-note>
                <ion-note *ngIf="selectedShipBonus.length" item-end>
                    - {{data?.total?.shipping_bonus_formated}}
                </ion-note>
            </ion-item>
            <ion-item mode="ios" detail-push tappable (click)="goBusinessmenNotePage()">
                商家备注
                <ion-note item-end *ngIf="!noteStatus">填写备注信息</ion-note>
                <ion-note item-end *ngIf="noteStatus">已填写备注，点击查看</ion-note>
            </ion-item>
            <ion-item *ngIf="data?.cart_machining==1" style="border-bottom:none;">
               <ion-label>来镜加工</ion-label>
               <ion-toggle mode="ios" color="jingku1" [(ngModel)]="data.jump_machining" (ionChange)="change_machining(data.jump_machining)"></ion-toggle>
           </ion-item>
        </ion-list>
        <div class="fore fore3" *ngIf="goodsType!='integral'&&!(dId>0)">
            <div>
                <span>商品金额：</span>
                <span class="price">¥{{data?.total?.formated_goods_price}}</span>
            </div>
            <div>
                <span>运费：</span>
                <span class="price">+ {{data?.total?.suppliers_shipping_fee_formated}}</span>
            </div>
            <div *ngIf="data?.total?.shipping_bonus_formated">
                <span>运费优惠：</span>
                <span class="price">- {{data?.total?.shipping_bonus_formated}}</span>
            </div>
            <div *ngIf="data?.total?.formated_subsidy_price!=0">
                <span>镜库补贴：</span>
                <span class="price">- ¥{{data?.total?.formated_subsidy_price}}</span>
            </div>
            <div *ngIf="data?.total?.formated_shipping_subsidy.slice(1)!=0">
                <span>运费补贴：</span>
                <span class="price">- {{data?.total?.formated_shipping_subsidy}}</span>
            </div>
            <div *ngIf="data?.total?.bonus_formated!=0">
                <span>优惠券：</span>
                <span class="price">- ¥{{data?.total?.bonus_formated}}</span>
            </div>
            <div *ngIf="data?.total?.will_get_integral!=0">
                <span>消费积分：</span>
                <span class="price">{{data?.total?.will_get_integral}}</span>
            </div>
        </div>
        <div class="fore fore3" *ngIf="dId>0">
            <div>
                <span>铺货总金额：</span>
                <span class="price">{{data?.total?.subtotal}}</span>
            </div>
            <div>
                <span>配送费用：</span>
                <span class="price">{{data?.DistributionInfo?.shipping_fee}}</span>
            </div>
            <div *ngIf="data?.total?.formated_subsidy_price!=0">
                <span>+押金：</span>
                <span class="price">{{data?.DistributionInfo?.deposit}}</span>
            </div>
        </div>
        <div class="fore fore3" *ngIf="goodsType=='integral'">
            <!-- <div>
                <span>购物积分：</span>
                <span class="price">+ ¥{{data?.total?.integral}}</span>
            </div> -->
            <div>
                <span>配送费用：</span>
                <span>{{data?.total?.suppliers_shipping_fee_formated}}</span>
            </div>
        </div>
    </ng-container>

</ion-content>

<ion-footer>
    <div class="pagefoot">
        <div class="left">
            <span class="price" *ngIf="!(dId>0)" style="white-space: nowrap;font-size: 1.4rem;">实付款：¥{{data?.total?.amount_formated||'0.00'}}</span>
            <span class="price" *ngIf="dId>0" style="white-space: nowrap;font-size: 1.4rem;">实付款：{{data?.total?.subtotals||'0.00'}}</span>
            <span *ngIf="goodsType=='integral'">&nbsp;积分：<span class="price">{{data?.total?.integral}}</span>
            </span>
        </div>
        <div class="right">
            <div ion-button no-margin full large color="jingku1" tappable (click)="onsubmit()">提交订单</div>
        </div>
    </div>
</ion-footer>