<!--
  Generated template for the ParticularsHomeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>店铺详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="banner-shop">
        <div class="banner-shadow">
            <div class="banner-shop-logo">
                <div class="banner-shop-anoLogo">
                    <img img-lazy-load="{{shopdata?.data?.logo}}" alt="">
                </div>
            </div>
            <div class="banner-shop-content">
                <div class="name">{{shopdata?.data?.name}}</div>
                <div class="heart" tappable (click)="collectStore(shopdata?.data?.is_select)">
                    <ion-icon name="md-heart-outline" *ngIf="!shopdata?.data?.is_select"></ion-icon>
                    <ion-icon name="md-heart" color="danger" *ngIf="shopdata?.data?.is_select"></ion-icon>
                    <span>收藏</span>
                </div>
            </div>
        </div>
    </div>
    <div class="details-fenlei-nav">
        <div tappable class="fenlei-nav" (click)="goBackPage('allGoods');">
            <div class="fenlei-nav-img"></div>
            <p>全部商品</p>
        </div>
        <div tappable class="fenlei-nav" (click)="goBackPage('goNew');">
            <div class="fenlei-nav-img new"></div>
            <p>上新</p>
        </div>
        <div tappable class="fenlei-nav" (click)="goBackPage('cuXiao');">
            <div class="fenlei-nav-img cuxiao"></div>
            <p>促销</p>
        </div>
    </div>
    <div class="sale-info-content">
        <!-- <div tappable class="sale-info-item boss">
            <span>联系卖家</span>
        </div> -->
        <div tappable (click)="callnumber(shopdata?.data?.mobile)" class="sale-info-item phone">
            <span>商家电话</span>
            <span>{{shopdata?.data?.mobile_url}}</span>
        </div>
        <div tappable (click)="presentPopover($event,'qrcode')" *ngIf="shopdata?.data?.qrcode" class="sale-info-item erweima">
            <span>店铺二维码</span>
        </div>
        <div tappable (click)="presentPopover($event,'company_yyzz')" *ngIf="shopdata?.data?.company_yyzz" class="sale-info-item shenfenzheng">
            <span>证照信息</span>
        </div>
    </div>
    <div class="sale-info-content">
        <div tappable class="sale-info-item">
            <span>店铺简介</span>
            <span>{{shopdata?.data?.address}}</span>
        </div>
        <div tappable class="sale-info-item">
            <span>所在地区</span>
            <span>{{shopdata?.data?.region}}</span>
        </div>
        <div tappable class="sale-info-item">
            <span>开店时间</span>
            <span>2015-02-02</span>
        </div>
    </div>
    <div class="shop-fashion" *ngIf="shopdata?.data?.brand_list?.length">
        <div class="shop-fashion-tit">
            <span>授权品牌</span>
        </div>
        <div class="shop-fashion-content">
            <ng-container *ngFor="let item of shopdata?.data?.brand_list;let i = index">
                <div tappable *ngIf="i<4" class="shop-fashion-item">
                    <span>{{item.brand_name}}</span>
                </div>
            </ng-container>
        </div>
        <div class="shop-details-more-fashion">
            <div tappable class="into-more-fashion" (click)="goShopAllFashionPage()">
                <span>查询该店所有授权品牌</span>
            </div>
        </div>
    </div>

</ion-content>