page-integralstore {
    .fore {
        background: #fff;
    }
    .fore1 {
        img {
            width: 100%;
        }
        .btns {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            display: flex;
            >div {
                width: 50%;
                font-size: 1.5rem;
                text-align: center;
                .red {
                    color: #e60000;
                    font-size: 1.6rem;
                }
                &:first-child {
                    border-right: 1px solid #ccc;
                }
            }
        }
    }
    .fore2 {
        overflow: hidden;
        background: #f7f7f7;
        padding: 0 5px;
        .card {
            margin: 5px;
            width: calc(50% - 10px);
            display: inline-block;
            box-shadow: initial;
            .img {
                display: flex;
                align-items: center;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .info {
                color: #666;
                padding: 10px;
                border-top: 1px solid #ccc;
                white-space: nowrap;
                font-size: 1.4rem;
                p {
                    color: #666;
                }
                h3 {
                    width: 100%;
                    color: #666;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .red {
                    color: #e60000;
                    font-size: 1.6rem;
                }
            }
        }
    }
}