<!--
  Generated template for the NewProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>新品专区</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ng-container *ngIf="data">
		<div class="fore1 banner">
			<ng-container *ngFor="let item of data?.banner">
				<img [img-lazy-load]="item.ad_img" [ads-click]="item.link_type" alt="">
			</ng-container>
		</div>
		<div class="fore2">
			<div class="left">
				<ng-container *ngFor="let item of data?.new_goods">
					<img [img-lazy-load]="item.ad_img" [ads-click]="item.link_type" alt="">
					<div class="goods_tit">
						<em>{{item.ad_name}}</em>
					</div>
				</ng-container>
			</div>
			<div class="right">
				<ng-container *ngFor="let item of data?.banner_dan">
					<img [img-lazy-load]="item.ad_img" [ads-click]="item.link_type" alt="">
					<div class="goods_tit">
						<em>TOP榜单</em>
						<span class="goodsname"> / {{item.ad_name}}</span>
					</div>
				</ng-container>
			</div>
		</div>
		<div class="fore3">
			<div class="container">
				<div class="head">
					<p class="theme_name">热门品牌上新推荐</p>
					<p class="line"></p>
					<p class="theme_dec">
						<span>最新品牌</span>
						<em>|</em>
						<span>劲爆来袭</span>
						<em>|</em>
						<span>每周上新</span>
					</p>
				</div>
				<div class="imgs">
					<ng-container *ngFor="let item of data?.banner_tui">
						<div>
							<img [img-lazy-load]="item.ad_img" [ads-click]="item.link_type" alt="">
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="fore4">
			<div class="container">
				<div class="head">
					<p class="theme_name">{{data?.new_tui?.info?.title}}</p>
					<p class="line"></p>
					<p class="theme_dec">
						<span>最新品牌</span>
						<em>|</em>
						<span>劲爆来袭</span>
						<em>|</em>
						<span>每周上新</span>
					</p>
				</div>
				<div class="goods">
					<ng-container *ngFor="let item of data?.new_tui?.list">
						<div class="item" tappable [navPush]="'ParticularsPage'" [navParams]="{goodsId:item.goods_id}">
							<div class="img">
								<img [img-lazy-load]="item.original_img">
							</div>
							<div class="new">NEW</div>
							<div class="name">{{item.goods_name}}</div>
							<div class="price">{{item.shop_price}}</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
		<div class="fore5 jian">
			<ng-container *ngFor="let item of data?.banner_jiang">
				<div>
					<img width="100%" [img-lazy-load]="item.ad_img" [ads-click]="item.link_type" alt="">
				</div>
			</ng-container>
		</div>
		<div class="fore6">
			<div class="container">
				<div class="head">
					<p class="theme_name">{{data?.new_tui?.info?.title}}</p>
					<p class="line"></p>
					<p class="theme_dec">
						<span>最新品牌</span>
						<em>|</em>
						<span>劲爆来袭</span>
						<em>|</em>
						<span>每周上新</span>
					</p>
				</div>
				<div class="goods">
					<ng-container *ngFor="let item of data?.top_tui?.list">
						<div class="item" tappable [navPush]="'ParticularsPage'" [navParams]="{goodsId:item.goods_id}">
							<div class="img">
								<img [img-lazy-load]="item.original_img">
								<div class="new">NEW</div>
							</div>
							<div class="name">{{item.goods_name}}</div>
							<div class="price">{{item.shop_price}}</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</ng-container>
</ion-content>