page-classify {
    img {
        display: block;
    }
    .swiper-slide {
        text-align: initial;
        .slide-zoom {
            text-align: initial;
        }
    }
    .slide-zoom {
        height: 100%;
        overflow: scroll;
    }
    ion-header {
        ion-toolbar {
            &:last-child {
                border-top: #e0e0e0 1px solid;
            }
            .head-segment-style {
                width: 20rem;
                margin: 0 auto;
            }
            .editBtn {
                position: absolute;
                right: 5px;
            }
            .mysearchbar {
                .toolbar-background-md {
                    background-color: #f5f5f5;
                }
                .searchbar-ios .searchbar-input {
                    background: #fff;
                }
            }
        }
    }
    .classify-wrap {
        ion-nav {
            .scroll-content {
                margin-bottom: 0 !important;
            }
            .fixed-content {
                margin-bottom: 0 !important;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        background: #fff;
        .brand-wrap {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                .txt {
                    border-left: 10px solid #000;
                    // font-weight: 700;
                    font-size: 2rem;
                    padding-left: 5px;
                }
                .more {
                    color: #666;
                    font-size: 1.5rem;
                }
            }
            @mixin body1 {
                min-width: 241px;
                margin-right: 1.6rem;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    border-radius: 3px;
                }
                border-radius: 3px;
                h3 {
                    color: #666;
                }
                span {
                    color: #808080;
                }
            }
            @mixin body2 {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                >div {
                    width: 33%;
                    margin-bottom: 0.2rem;
                    img {
                        width: 100%;
                    }
                }
            }
            .top-scrollbar {
                overflow-x: scroll;
                display: flex;
                padding: 10px 0;
                border-bottom: 1px solid #e6e6e6;
                >div {
                    min-width: 84px;
                    font-size: 1.3rem;
                    text-align: center;
                    margin-right: 1.6rem;
                    height: 100%;
                    img {
                        height: 28px;
                        margin: 5px auto;
                    }
                }
            }
            .fore1-jinxuan {
                .body {
                    display: flex;
                    overflow-x: scroll;
                    >div {
                        @include body1
                    }
                }
            }
            .fore-huanxin {
                .body {
                    display: flex;
                    overflow-x: scroll;
                    >div {
                        @include body1
                    }
                }
            }
            .fore-remen {
                .body {
                    @include body2
                }
            }
            .fore-yinxing {
                .body {
                    .top {
                        img {
                            width: 100%;
                        }
                    }
                    .main {
                        @include body2
                    }
                }
            }
            .fore-meitong {
                .top {
                    img {
                        width: 100%;
                    }
                }
                .main {
                    @include body2
                }
            }
        }
        .care-wrap {
            .activein {}
            .shop .noshop-show,
            .goods .nogoods-show {
                margin-top: 50px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 13rem;
                }
            }
            .shop {
                .item-wrap {
                    display: flex;
                    align-items: center;
                    h2 {
                        @include ellipsis_2;
                    }
                    .type {
                        color: #fff;
                        padding: 1px 8px;
                        background: #e60000;
                        border-radius: 3px;
                        display: inline-block;
                        margin-top: 5px;
                        font-size: small;
                        padding: 2px 5px;
                    }
                    ion-note {
                        color: #808080;
                        font-size: 1.4rem;
                    }
                }
                .noshop-show {}
            }
            .goods {
                @include slidingList1;
                .nogoods-show {}
            }
        }
    }
}