page-classify {
    .swiper-slide {
        text-align: initial;
        .slide-zoom {
            text-align: initial;
        }
    }
    ion-header {
        ion-toolbar {
            &:last-child {
                border-top: #e0e0e0 1px solid;
            }
            .mysearchbar {
                .toolbar-background-md {
                    background-color: #f5f5f5;
                }
                .searchbar-ios .searchbar-input {
                    background: #fff;
                }
            }
            .segment-md .segment-button {
                border: none;
                font-size: 1.6rem;
                &:first-child {
                    border-right: 1px solid #e0e0e0;
                }
            }
            .segment-style {
                width: 55%;
                margin: 0 auto;
                overflow: hidden;
            }
            .bar-buttons-md[right] {
                position: absolute;
                right: 0;
            }
        }
    }
    .slide-zoom {
        height: 100%;
        overflow: scroll;
    }
    .brand-wrap {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
            .txt {
                border-left: 10px solid #000;
                // font-weight: 700;
                font-size: 2rem;
                padding-left: 5px;
            }
            .more {
                color: #666;
                font-size: 1.5rem;
            }
        }
        @mixin body1 {
            min-width: 241px;
            margin-right: 1.6rem;
            &:last-child {
                margin-right: 0;
            }
            img {
                border-radius: 3px;
            }
            border-radius: 3px;
            h3 {
                color: #666;
            }
            span {
                color: #808080;
            }
        }
        @mixin body2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >div {
                width: 32%;
                margin-bottom: 0.5rem;
            }
        }
        .top-scrollbar {
            overflow-x: scroll;
            display: flex;
            padding: 10px 0;
            border-bottom: 1px solid #e6e6e6;
            >div {
                min-width: 84px;
                font-size: 1.3rem;
                text-align: center;
                margin-right: 1.6rem;
                height: 100%;
                img {
                    height: 28px;
                    margin: 5px 0;
                }
            }
        }
        .fore1-jinxuan {
            .body {
                display: flex;
                overflow-x: scroll;
                >div {
                    @include body1
                }
            }
        }
        .fore-huanxin {
            .body {
                display: flex;
                overflow-x: scroll;
                >div {
                    @include body1
                }
            }
        }
        .fore-remen {
            .body {
                @include body2
            }
        }
        .fore-yinxing {
            .body {
                .top {
                    img {
                        width: 100%;
                    }
                }
                .main {
                    @include body2
                }
            }
        }
        .fore-meitong {
            .top {
                img {
                    width: 100%;
                }
            }
            .main {
                @include body2
            }
        }
    }
    .care-wrap {
        height: 100%;
        .item-wrap {
            display: flex;
            align-items: center;
        }
        @keyframes checkbox-in {
            from {
                width: 0;
                padding: 0;
            }
            to {
                width: 21px;
                padding: 16px;
            }
        }
        @keyframes checkbox-out {
            from {
                width: 21px;
                padding: 16px;
            }
            to {
                width: 0;
                padding: 0;
            }
        }
        .activein {
            animation: checkbox-in 0.2s;
        }
        .activeout {
            animation: checkbox-out 0.2s;
        }
        .shop {
            height: 100%;
            .type {
                color: #fff;
                padding: 1px 8px;
                background: #e60000;
                border-radius: 3px;
                display: inline-block;
                margin-top: 5px;
            }
            ion-note {
                color: #808080;
                font-size: 1.4rem;
            }
            .noshop-show {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 16rem;
                }
            }
        }
        .goods {
            height: 100%;
            .label-md {
                margin-bottom: 0;
            }
            .right-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #e60000;
                margin-top: 10px;
            }
            .nogoods-show {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    width: 16rem;
                }
            }
        }
    }
}