page-classify {
    .mysearchbar {
        .toolbar-background-md {
            background-color: #f5f5f5;
        }
        .searchbar-ios .searchbar-input {
            background: #fff;
        }
    }
    .segment-style {
        width: 46%;
        margin: 0 auto;
        overflow: hidden;
    }
    .slide-zoom {
        height: 100%;
        overflow: scroll;
    }
    .classify-wrap {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        >div {
            width: 50%;
            display: inline-block;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 20px;
            &:nth-child(2n) {
                border-right: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
            img {
                width: 42%;
            }
        }
    }
}