page-businessmen-note {
    .store {
        border-bottom: $border;
        background: #fff;
        overflow: hidden;
        .imgbox {
            @include scroll-img(66px);
        }
        .badge-box {
            margin: 10px;
            .button {}
        }
        .writein{
            display: flex;
        }
        textarea {
            min-height: 70px;
            height: 70px;
            background: #f7f7f7;
            border: $border-img;
            width: auto;
            padding: 5px;
            margin: 10px;
            margin-top: 0;
            height: 100%;
            resize: none;
            outline-style:none;
            overflow: auto;
            flex: 1;
            &:focus{
                border-color: #999999;
            }
        }
    }
}