<!-- Generated template for the PayPasswordComponent component -->
<div class="alieditContainer" id="payPassword_container">
  <input minlength="6" maxlength="6" tabindex="1" id="payPassword_rsainput" name="payPassword_rsainput" class="ui-input i-text"
    oncontextmenu="return false" onpaste="return false" oncopy="return false" oncut="return false" autocomplete="off" value=""
    type="password">
  <div class="sixDigitPassword" tabindex="0">
    <i><b></b></i>
    <i><b></b></i>
    <i><b></b></i>
    <i><b></b></i>
    <i><b></b></i>
    <i><b></b></i>
    <span class="guangbiao" style="left:0px;"></span>
  </div>
</div>
<p></p>