page-brand-list {
    @include deteleShadow;
    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border: 0;
    }
    .toolbar {
        .title {
            padding: 0 32px 1px;
        }
    }
    .segment .segment-button {
        display: flex;
        justify-content: center;
        align-items: center;
        .myicon {
            margin-left: 5px;
            margin-left: 4px;
            &.sortdown {
                >div:first-child ion-icon {
                    color: #ccc;
                }
            }
            &.sortup {
                >div:last-child ion-icon {
                    color: #ccc;
                }
            }
            &.sort {
                color: #ccc;
            }
        }
        ion-icon {
            line-height: normal;
            font-size: 2rem;
            color: #666;
        }
    }
    .brand-list-car-btn {
        .fab {
            background: rgba(0, 0, 0, .5);
        }
        .car {
            position: relative;
        }
        .badge {
            position: absolute;
            padding: 4px 4px;
            border-radius: 50%;
            background: red;
            right: 3px;
            min-width: 20px;
            top: 3px;
        }
    }
    .page {
        .fab {
            height: 20px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}