<!--
  Generated template for the BrandList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-navbar>
            <ion-searchbar [navPush]="SearchPage" [(ngModel)]="myHomeSearch" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" placeholder="博士伦" animated="false" spellcheck="true" mode="ios">
            </ion-searchbar>
            <ion-buttons end>
                <button ion-button clear icon-only icon-left (click)="listStyleflag=!listStyleflag">
                <ion-icon name="md-list" *ngIf="!listStyleflag" ></ion-icon>
                <ion-icon name="md-apps" *ngIf="listStyleflag" ></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-toolbar>
    <ion-toolbar>
        <my-toolbar></my-toolbar>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
        <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="data">
        <single-foods-card [data]="data" *ngIf="!listStyleflag" padding></single-foods-card>

        <single-foods-item [data]="data" *ngIf="listStyleflag"></single-foods-item>
    </div>

    <ion-infinite-scroll *ngIf="" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <ion-buttons left>
            <button ion-button>
                上一页
            </button>
        </ion-buttons>
        <ion-title>1/250</ion-title>
        <ion-buttons right>
            <button ion-button>
                下一页
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>