page-brand-list {
    ion-toolbar {
        border-top: 1px solid #e6e6e6;
    }
    .scroll-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;
    }
}