page-login {
    .content {
        background: url(../assets/images/bg_login.jpg) center bottom no-repeat;
        background-size: 100%;
    }
    .form-wrap {
        padding: 0 40px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        height: 100%;
    }
    .logo{
        text-align: center;
        width: 100%;
        margin-bottom: 75px;
    }
    .logo img{
        width: 206px;
        max-width: 206px;
    }
    ion-list {
        padding-top: 0;
    }
    .item {
        color: #fff;
        background: none;
    }
    .item-input {
        padding: 0;
    }
    .item-input .item-inner {
        padding-left: 45px;
        background: url(../assets/icon/icon_03.png) 3px center no-repeat;
        background-size: 20px;
    }
    .item-block:last-child .item-inner {
        background-image: url(../assets/icon/icon_07.png);
    }
    .btn-wrap {
        padding: 0 40px;
    }
    
}