page-login {
    .content {
        background: url(../assets/images/bg_login.jpg) center top no-repeat;
        background-size: 100%;
    }
    .form-wrap {
        padding: 0 40px;
        padding-top: 27%;
        height: 100%;
    }
    .logo {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
        img {
            width: 206px;
            max-width: 206px;
        }
    }
    ion-list.list {
        padding-top: 0;
        margin-bottom: 3px;
    }
    .item {
        color: #fff;
        background: none;
        .item-input {
            padding: 0;
        }
        .item-inner {
            padding-left: 45px;
            background: url(../assets/icon/icon_03.png) 3px center no-repeat;
            background-size: 20px;
        }
        &:nth-child(2) .item-inner {
            background-image: url(../assets/icon/icon_07.png);
        }
    }
    .forgot-password {
        overflow: hidden;
        margin-bottom: 40px;
        .button {
            float: right;
        }
    }
    .btn-wrap {
        padding: 0 30px;
        .button {
            height: 2.4em;
            margin: 1.4rem 0.2rem;
        }
    }
}