page-login {
    .content {
        background: url(../assets/images/bg_login.jpg) center top no-repeat;
        background-size: cover;
        .scroll-content {
            background: none;
        }
    }
    .form-wrap {
        max-width: 370px;
        width: 65%;
        min-width: 230px;
        margin: 0 auto;
        padding-top: 30%;
    }
    .logo {
        text-align: center;
        width: 100%;
        margin-bottom: 3rem;
        padding: 0 30px;
        img {
            max-width: 100%;
        }
    }
    .item {
        color: #fff;
        background: none;
        .item-input {
            padding: 0;
        }
        .item-inner {
            padding-left: 33px;
            background: url(../assets/icon/images/icon_03.png) 0px center no-repeat;
            background-size: 25px;
        }
        &:nth-child(2) .item-inner {
            background-image: url(../assets/icon/images/icon_07.png);
        }
    }
    .forgot-password {
        overflow: hidden;
        margin-bottom: 2rem;
        .button {
            float: right;
        }
    }
    .btn-wrap {
        padding: 0 30px;
        .button {
            height: 2.7em;
            margin: 1.4rem 0.2rem;
        }
    }
}