page-particulars-modal-jingjia {
    .item p:last-child {
        font-size: 2rem;
        color: red;
    }
    .price {
        color: map-get($colors, danger);
    }
    .main {
        overflow: scroll;
        color: #808080;
        font-size: 1.6rem;
        .table-head {
            padding: 10px 0;
        }
        >div {
            display: flex;
            >div {
                min-width: 100px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    ion-row {
        border-bottom: 0.5px solid #e0e0e0;
        color: #808080;
        font-size: 1.6rem;
        ion-col {
            text-align: center;
        }
    }
    ion-footer {
        .btns {
            display: flex;
            button {
                width: 50%;
            }
        }
        .result {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span:first-child {
                font-size: 1.7rem;
                color: red;
                margin-right: 10px;
            }
            span:last-child {
                color: #808080;
            }
        }
    }
}


/*page-particulars-modal-jingjia {
    .item p:last-child {
        font-size: 2rem;
        color: red;
    }
    .price {
        color: map-get($colors, danger);
    }
    .main {
        overflow: scroll;
    }
    ion-row {
        border-bottom: 0.5px solid #e0e0e0;
        color: #808080;
        font-size: 1.6rem;
        ion-col {
            text-align: center;
            min-width: 100px;
        }
    }
}*/