<!--
  Generated template for the InvoiceAskFor1 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>发票</ion-title>
        <ion-buttons right>
            <button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
                <ion-icon name="ios-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content #myContent>
    <div class="search" [ngClass]="{'active':showSearch}">
        <div class="head" (click)="showSearch=!showSearch">
            <div class="ic">
                <ion-icon name="search"></ion-icon>条件筛选
            </div>
            <ion-icon class="mo" color="colorsix" name="ios-arrow-down"></ion-icon>
        </div>
        <div class="body" [hidden]="showSearch" padding>
            <div class="time">
                发生时间：
                <div class="text">
                    <ion-datetime (ionChange)="search()" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD"
                        min="2015" [(ngModel)]="time"></ion-datetime>
                        
                    <ion-icon *ngIf="time" tappable (click)="time=null;" style="font-size:3rem;position: absolute;right: 45px;top: 0px;width: 19px;text-align: center;z-index:1000;"
                        name="ios-close"></ion-icon>
                    <div class="btn"></div>
                </div>
            </div>
            <div class="price">
                订单金额：
                <input type="number" [(ngModel)]="min_money">&nbsp;&nbsp;—&nbsp;&nbsp;
                <input type="number" [(ngModel)]="max_money">
                <div class="btn" (click)="search()">搜索</div>
            </div>
            <ion-note>温馨提示：</ion-note>
            <br>
            <ion-note>1.后付费月结算单的可开票金额为当月实际长得结算金额。</ion-note>
            <br>
            <ion-note>2.本月产生得后付费业务结算单在下月二号以后才可以索取发票。</ion-note>
            <br>
            <ion-note>3.发票基于订单、月结算单开具（单个订单、月结算不可拆分开具）</ion-note>
        </div>
    </div>
    <div class="dingdan-wrap" radio-group>
        <div class="dingdan" *ngFor="let item of data?.data">
            <ion-item mode="ios" no-lines>
                <ion-label>订单号：{{item.order_sn}}</ion-label>
                <ion-checkbox mode="ios" color="jingku1" (ionChange)="checkOrder(item)" [checked]="data.selected"></ion-checkbox>
            </ion-item>
            <div class="body1">
                <div>订单实付金额：{{item.money_format}}</div>
                <div>下单时间：{{item.add_time}}</div>
            </div>
            <div class="body2">
                <div>产品名称：</div>
                <div class="right">
                    <div *ngFor="let goods of item?.goods">
                        <span>{{goods.goods_name}}</span>
                        <span>X{{goods.goods_number}}</span>
                    </div>
                </div>
            </div>
            <div class="bottom">可开具发票：{{item.money_format}}</div>
        </div>
    </div>

    <ion-fab right bottom>
        <button ion-fab color="jingku1" mini>
            {{data?.page}}/{{data?.pages}}
        </button>
        <button ion-fab color="jingku1" mini goBackTop scroll-to-top></button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="flag">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar no-padding>
        <div class="selectall" *ngIf="data">
            <div class="left">
                <ion-checkbox margin-horizontal margin-right color="jingku1" mode="ios" [(ngModel)]="data.selected"></ion-checkbox>
                全选
            </div>
            <div class="right">
                <div class="price">可开具总金额：
                    <span color="danger" ion-text>¥{{data?.order_amount}}</span>
                </div>
                <div class="price">最少开具金额：¥{{data?.min_open}}</div>
            </div>
        </div>
    </ion-toolbar>
    <ion-toolbar no-padding>
        <button no-margin color="jingku1" (click)="onsubmit()" ion-button large full>索取发票</button>
    </ion-toolbar>
</ion-footer>