<!--
  Generated template for the OrderWuliuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订单跟踪</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngFor="let box of data?.data">
    <div class="new-order-track">
      <span>物流编号：{{box.invoice_no}}</span>
      <!-- <span class="new-txt-rd2">状态：{{box.msg}}</span> -->
    </div>
    <div id="changeContent1" style="padding: 10px 20px;background: #fff;">

      <div class="new-order-flow new-p-re">
        <span class="new-order-arr"></span>
        <ul class="new-of-storey">
          <ng-container *ngFor="let item of box.list | reverse;let i = index">
            <li class="time">{{item.time}}</li>
            <li *ngFor="let wuliu of item.data | reverse;let j = index">
              <span class="icon" [class.on]="i==0&&j==0"></span>
              <span>{{wuliu.context}}</span>
              <span>{{wuliu.time}}</span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div id="changeContent2" class="new-order-map" style="display:none">
    </div>
  </ng-container>

</ion-content>