page-peceipt {
    .receiptSskFor {
        min-height: 100%;
        .an-invoice {
            padding: 0 5px;
            background: #fff;
            border-radius: 3px;
            .main {
                padding: 10px;
                display: flex;
                border-bottom: 1px solid #e0e0e0;
                .type {
                    margin-right: 10px;
                    img {
                        margin-bottom: 5px;
                        width: 20px;
                        min-width: 20px;
                    }
                }
                .right {
                    >div:first-child {
                        font-size: 1.6rem;
                        span {
                            color: #526bb5;
                            font-size: 1.5rem;
                        }
                    }
                    >div:last-child {
                        margin: 6px 0;
                        font-size: 1.5rem;
                        color: #999;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: flex-end;
                padding: 4px;
                .button {
                    padding: 0 2em;
                }
            }
        }
    }
    .receiptList {
        .head {
            background: #fff;
            margin-bottom: 10px;
        }
        .reminder {
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: map-get($colors, border) 1px solid;
            >div {
                padding: 6px 26px;
                color: #999;
                border-radius: 30px;
                background: #f7f7f7;
                ion-icon {
                    color: #526bb5;
                }
            }
        }
        .fore.time {
            display: flex;
            align-items: center;
            padding-left: 46px;
            .name {
                width: 10rem;
                color: #333333;
            }
            .show {
                display: flex;
                .text {
                    border: #999 1px solid;
                    border-right: none;
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 140px;
                    position: relative;
                    margin-right: 10px;
                    padding-left: 5px;
                    .btn {
                        height: calc(100% + 2px);
                        position: absolute;
                        top: -1px;
                        right: 0;
                    }
                    ion-datetime {
                        padding: 0;
                        z-index: 2;
                    }
                }
                .btn {
                    padding: 6px 11px;
                    color: #fff;
                    border-radius: 2px;
                    background: #526bb5;
                }
            }
        }
        ion-list {
            background: #fff;
            margin-bottom: 10px;
        }
        .fore {
            padding: 18px 0 18px 30px;
            font-size: 1.6rem;
            border-bottom: map-get($colors, border) 1px solid;
            &:last-child {
                border: none;
            }
            .name {
                display: inline-block;
                width: 12rem;
            }
            .value {
                color: #999;
                font-size: 1.4rem;
            }
        }
    }
    .receiptInfo {
        .head {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            background: #fff;
            justify-content: center;
            align-items: center;
            color: #999;
            .button {
                margin-right: 10px;
            }
        }
        .an-invoice {
            background: #fff;
            margin-bottom: 10px;
            .fore {
                padding: 18px 0 18px 30px;
                font-size: 1.6rem;
                border-bottom: map-get($colors, border) 1px solid;
                .name {
                    display: inline-block;
                    width: 12rem;
                }
                .value {
                    color: #999;
                    font-size: 1.4rem;
                }
            }
            .bottom {
                display: flex;
                justify-content: flex-end;
                padding: 5px;
                .button {
                    padding: 0 2em;
                }
            }
        }
    }
}