<!--
  Generated template for the Peceipt page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>发票管理</ion-title>
    </ion-navbar>
    <ion-toolbar class="segment-style">
        <ion-segment [(ngModel)]="receiptTool" (ionChange)="flag=true;">
            <ion-segment-button value="receiptSskFor">
                发票索取
            </ion-segment-button>
            <ion-segment-button value="receiptList">
                发票列表
            </ion-segment-button>
            <ion-segment-button value="receiptInfo">
                发票信息管理
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content #myContent [ngSwitch]="receiptTool">
    <div class="receiptSskFor" *ngSwitchCase="'receiptSskFor'">
        <ion-card *ngFor="let item of suoquList?.data">
            <div class="an-invoice">
                <div class="main">
                    <div class="type" *ngIf="item.inv_type==1||item.inv_type==3">
                        <img src="./assets/icon/images/user_cener_2_03.png" alt="">
                    </div>
                    <div class="type" *ngIf="item.inv_type==2||item.inv_type==3">
                        <img src="./assets/icon/images/user_cener_2_06.png" alt="">
                    </div>
                    <div class="right">
                        <div>{{item.name}}&nbsp;<span>(最少可开票金额{{item.min_money}})</span></div>
                        <div>可开票总金额:{{item.order_amount}}</div>
                    </div>
                    <!--<img src="./assets/icon/images/user_cener_2_06.png" alt="">-->
                </div>
                <div class="bottom">
                    <button ion-button color="dark" (click)="goInvoiceAskFor1Page(item.suppliers_id)">索取</button>
                </div>
            </div>
        </ion-card>
    </div>
    <div class="receiptList" *ngSwitchCase="'receiptList'">
        <div class="head">
            <div class="reminder">
                <div>
                    <ion-icon name="md-alert"></ion-icon>
                    发票在申请后的3个工作日开具并寄出
                </div>
            </div>
            <div class="fore time">
                <span class="name">发生时间：</span>
                <div class="show">
                    <div class="text">
                        <ion-datetime cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" min="2015" [max]="nowTime" [(ngModel)]="myDate"></ion-datetime>
                        <div class="btn">
                            <img src="./assets/icon/images/user_cener_1_39_03.png">
                            <!--<ion-icon name="md-calendar"></ion-icon>-->
                        </div>
                    </div>

                    <div class="btn" (click)="search()">搜索</div>
                </div>
            </div>
        </div>
        <ion-list padding-left no-margin *ngFor="let item of invoiceList?.data">
            <div class="fore">
                <span class="name">商家名称：</span>
                <span class="value">{{item.suppliers_name}}</span>
            </div>
            <div class="fore">
                <span class="name">发票金额：</span>
                <span class="value">{{item.money}}</span>
            </div>
            <div class="fore">
                <span class="name">申请时间：</span>
                <span class="value">{{item.addtime}}</span>
            </div>
            <div class="fore">
                <span class="name">发票抬头：</span>
                <span class="value">{{item.payee}}</span>
            </div>
            <div class="fore">
                <span class="name">收取方式：</span>
                <span class="value">快递</span>
            </div>
            <div class="fore">
                <span class="name">状态</span>
                <span class="value" style="color: #526bb5;">{{item.status}}</span>
            </div>
        </ion-list>
    </div>
    <div class="receiptInfo" *ngSwitchCase="'receiptInfo'">
        <div class="head">
            <button ion-button color="blueBtn" (click)="goInvoiceQualificationPage()">新增发票资质</button>发票资质审核通过后不可删除修改
        </div>
        <div class="an-invoice" *ngFor="let item of invRoleList.data">
            <ion-list padding-left no-margin>
                <div class="fore">
                    <span class="name">开具类型：</span>
                    <span class="value" *ngIf="item.type==1">个人</span>
                    <span class="value" *ngIf="item.type==2">企业</span>
                </div>
                <div class="fore">
                    <span class="name">发票抬头：</span>
                    <span class="value">{{item.payee}}</span>
                </div>
                <div class="fore">
                    <span class="name">发票类型：</span>
                    <span class="value" *ngIf="item.inv_type==1">普通发票</span>
                    <span class="value" *ngIf="item.inv_type==2">增值税专用发票</span>
                </div>
                <div class="fore">
                    <span class="name">资质审核：</span>
                    <span class="value" *ngIf="item.if_check==1">已审核</span>
                    <span class="value" *ngIf="item.if_check==2">未审核</span>
                </div>
            </ion-list>
            <div class="bottom">
                <button ion-button color="dark" (click)="goInvoiceQualificationPage(item.ivid)">修改</button>
            </div>
        </div>
    </div>

    <ion-fab right bottom (click)="myContent.scrollToTop()">
        <button ion-fab color="dark" mini><img width="100%" src="./assets/icon/gotop.png" alt=""></button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="flag">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>