page-receipt {
    
    .receiptSskFor {
        min-height: 100%;
        .an-invoice {
            padding: 0 5px;
            background: #fff;
            border-radius: 3px;
            .main {
                padding: 8px;
                border-bottom: 1px solid #e0e0e0;
                font-size: 1.2rem;
                .d1 {
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;
                    .type {
                        margin-left: 5px;
                        width: 17px;
                    }
                }
                .d2 {
                    color: #999;
                }
                .d3 {
                    color: #526bb5;
                }
                >div {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: flex-end;
                padding: 4px;
                .button {
                    padding: 0 1.8rem;
                }
            }
        }
    }
    .receiptList {
        min-height: 100%;
        .head {
            margin-bottom: 10px;
            .reminder {
                padding: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                >div {
                    background: #ffffff;
                    padding: 6px 26px;
                    color: #999;
                    border-radius: 30px;
                    ion-icon {
                        color: #526bb5;
                    }
                }
            }
            .sh {
                background: #ffffff;
                margin: 0 10px;
                padding: 16px;
                .line {
                    display: flex;
                    align-items: center;
                    margin-bottom: 14px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .name {
                        margin-right: 10px
                    }
                }
                .line.status {
                    .name {}
                    .show {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                        .checkbox {
                            margin-right: 6px;
                        }
                        span {
                            margin-right: 16px;
                            color: #666666;
                        }
                    }
                }
                .line.time {
                    .show {
                        flex: 1;
                        display: flex;
                        .text {
                            border: #e0e0e0 1px solid;
                            border-right: none;
                            position: relative;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex: 1;
                            position: relative;
                            margin-right: 10px;
                            padding-left: 11px;
                            font-size: 1.4rem;
                            max-width: 200px;
                            color: #666666;
                            .btn {
                                height: calc(100% + 2px);
                                position: absolute;
                                top: -1px;
                                right: 0;
                                background: #3f69a5 url(../assets/icon/images/user_cener_1_39_03.png) no-repeat center center/15px;
                                width: 40px;
                            }
                            ion-datetime {
                                padding: 0;
                                z-index: 2;
                            }
                        }
                        .btn {
                            padding: 5px 11px;
                            color: #fff;
                            border-radius: 2px;
                            background: #3f69a5;
                        }
                    }
                }
            }
        }
        .list {
            background: #fff;
            margin: 10px;
            .li {
                border-bottom: #e0e0e0 1px solid;
                padding: 12px;
                &:last-child{
                    border-bottom: 0;
                }
                >div {
                    margin-bottom: 6px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .name{
                    color: #4d4d4d;
                    font-size: 1.6rem;
                }
                .txt{
                    color: #999999;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .receiptInfo {
        min-height: 100%;
        .head {
            padding: 10px 0;
            margin-bottom: 10px;
            display: flex;
            background: #fff;
            align-items: center;
            color: #999;
            font-size: 1.2rem;
            .button {
                margin-right: 10px;
                margin-left: 14px;
            }
        }
        .receiptInfo-invoice {
            background: #fff;
            margin-bottom: 10px;
            .list {
                padding-left: 14px;
                .row {
                    padding: 14px 0;
                    font-size: 1.4rem;
                    display: flex;
                    border-bottom: 1px solid #e0e0e0;
                    padding-right: 22px;
                    .name {
                        padding-right: 20px;
                    }
                    .value {
                        color: #999;
                        font-size: 1.4rem;
                        flex: 1;
                    }
                    &:last-child{
                        border-bottom: 0px;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: flex-end;
                padding: 5px 12px;
                border-top: 1px solid #e0e0e0;
                .button {
                    padding: 0 2em;
                }
            }
        }
    }
}