page-add-shipping-address {
    .setDefault {
        label {
            display: flex;
            align-items: center;
        }
    }
    .item {
        min-height: 62px !important;
        ion-label[fixed] {
            flex-basis: 100px !important;
        }
    }
}