<ion-content>
   <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
      <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
   </ion-refresher>
   <nothing backgroundImg="url(./assets/icon/no-cart.png)" *ngIf="carDetails?.suppliers_goods_list.length==0"></nothing>
   <div class="top-head" *ngIf="carDetails&&carDetails?.suppliers_goods_list?.length!=0"><!--   -->
      <div class="title">
         <div class="s-title">
            <div class="backbtn" *ngIf="hasBackBtn" (click)="goback()">
               <ion-icon name="ios-arrow-back"></ion-icon>
            </div>
            <div class="txt">购物车</div>
         </div>
         <div class="num">共{{carDetails?.goods_count || 0}}件宝贝</div>
      </div>
      <div class="btn">
         <button (click)="isEdit=!isEdit;">{{isEdit?'完成':'管理'}}</button>
      </div>
   </div>
   <ion-list>
      <!-- ——————————————————————— 店铺 ——————————————————————— -->
      <div class="single-shop" *ngFor="let item1 of carDetails?.suppliers_goods_list">
         <div class="single-shop-head" tappable navPush="ParticularsHomePage" [navParams]="{suppliersId:item1.suppliers_id}">
            <div class="checkswrap">
               <ion-checkbox *ngIf="!isEdit" color="jingku1" tappable (click)="checkGoods(item1.suppliers_id,1,item1.is_select==1?0:1);" [checked]="item1?.is_select==1" mode="ios"></ion-checkbox>
               <ion-checkbox *ngIf="isEdit" color="jingku1" (click)="check1(item1,carDetails)" [(ngModel)]="item1.selected" mode="ios"></ion-checkbox>
            </div>
            <div>
               <span>{{item1.title}}</span>
               <ion-icon color="colorsix" name="ios-arrow-forward"></ion-icon>
               <!--<button item-right ion-button clear color="danger">优惠券???</button>-->
            </div>
         </div>
         <!-- ——————————————————————— 商品 ——————————————————————— -->
         <div class="single-shop-goods" [class.disable]="!item2.in_area_id||item2.is_on_sale=='0'" *ngFor="let item2 of item1.goods_list ">
            <div class="single-shop-goods-head">
               <div class="checkswrap" *ngIf="(item2.in_area_id&&item2.is_on_sale!='0')||isEdit">
                  <ion-checkbox *ngIf="!isEdit" tappable (click)="checkGoods(item2.cutting_id>0?item2.g_parent_id:item2.goods_id,item2.cutting_id>0?3:0,item2.is_select==1?0:1)" [checked]="item2?.is_select==1" color="jingku1" mode="ios"></ion-checkbox>
                  <ion-checkbox *ngIf="isEdit" tappable color="jingku1" (click)="check2(item2,item1)" [(ngModel)]="item2.selected" mode="ios"></ion-checkbox>
               </div>
               <ion-item no-lines (click)="goParticularPage(item2)">
                  <ion-thumbnail item-left tappable>
                     <img img-lazy-load="{{item2.goods_thumb}}">
                  </ion-thumbnail>
                  <h2 tappable>{{item2.cutting_id>0?item2.cutting_name:item2.goods_name}}</h2>
                  <span tappable class="type" *ngIf="item2?.gift_list">{{item2?.gift_list?.title}}</span>
                  <span tappable class="type" *ngIf="!item2.in_area_id">不在本地区销售</span>
                  <span tappable class="type" *ngIf="item2.is_on_sale=='0'">此商品已下架</span>
               </ion-item>
            </div>
            <!-- ——————————————————————— 商品属性 ——————————————————————— -->
            <div class="single-shop-goods-body">
               <div class="item-wrap" *ngFor="let item3 of item2.attrs;">
                  <div class="checkswrap" *ngIf="(item2.in_area_id&&item2.is_on_sale!='0')||isEdit">
                     <ion-checkbox *ngIf="!isEdit&&!(item3.cutting_id>0)" [(ngModel)]="item3.is_select" [checked]="item3.is_select" tappable color="jingku1" (click)="checkGoodsAttr(item3.rec_id,item3.is_select==1?1:0)" mode="ios"></ion-checkbox>
                     <ion-checkbox *ngIf="isEdit&&!(item3.cutting_id>0)" [(ngModel)]="item3.selected" (click)="check3(item3,item2,item1)" tappable color="jingku1" mode="ios"></ion-checkbox>
                  </div>
                  <div class="sliding-item-box" [style.marginLeft]="item3.cutting_id>0?'36px':'0'">
                     <ion-item-sliding>
                        <ion-item no-lines>
                           <div class="goodsinfo">
                              <div class="attr" *ngIf="item2?.cutting_id==0">
                                 <span *ngIf="item3.qiujing">球镜：{{item3.qiujing}}</span>
                                 <span *ngIf="item3.zhujing">柱镜：{{item3.zhujing}}</span>
                                 <span *ngIf="item3.zhouwei">轴位：{{item3.zhouwei}}</span>
                                 <span *ngFor="let item4 of (item3?.arr_attr);">{{item4}}</span>
                              </div>
                              <div class="attr" *ngIf="item2?.cutting_id>0">
                                 <span *ngFor="let item4 of item2.cutting_attr;">
                                    <span style="white-space: initial;" *ngFor="let item5 of item4;">{{item5}}</span>
                                 </span>
                              </div>
                              <div class="bottom">
                                 <div class="price" *ngIf="item3?.cha_price&&mine?.showPrice">{{item3?.shop_goods_price}}
                                    <span class="old">¥{{item3?.goods_price}}</span>
                                 </div>
                                 <div class="price" *ngIf="!item3?.cha_price&&mine?.showPrice">¥{{item3?.goods_price}}</div>&nbsp;
                                 <div class="number">
                                    <count-input [minValue]="item3?.goods_properties?.number||1" [maxValue]="item3?.product_number=='-1'?item2?.g_goods_number:item3?.product_number" [rank]="item3?.goods_properties?.number" (valueChange)="numberChangeI($event,item3)" [value]="item3?.goods_number" [hasBorder]="true"></count-input>
                                 </div>
                              </div>
                              <div style="font-size: 1rem;color: #e60000;" *ngIf="item3?.gift_list?.title">{{item3?.gift_list?.title}}</div>
                           </div>
                        </ion-item>
                        <ion-item-options side="right">
                           <button ion-button color="danger" tappable (click)="deleteItem(item3)">删除</button>
                        </ion-item-options>
                     </ion-item-sliding>
                  </div>
               </div>
            </div>
         </div>
         <div class="single-shop-little-result">
            <span>共{{item1?.goods_count}}件</span>
            <ng-container *ngIf="mine?.showPrice">
               <span class="fgx">|</span>
               <span>小计：</span>
               <span class="red">¥{{item1?.goods_price_total}}</span>
            </ng-container>
         </div>
      </div>
   </ion-list>
</ion-content>
<ion-footer *ngIf="carDetails&&carDetails?.suppliers_goods_list?.length!=0">
   <ion-toolbar>
      <div class="car-accounts">
         <!--  *ngIf="carDetails&&carDetails?.suppliers_goods_list?.length!=0" -->
         <div class="left">
            <label tappable class="select-all ">
               <div class="checkswrap">
                  <ion-checkbox color="jingku1" *ngIf="!isEdit" tappable (click)="checkGoods(null,2,carDetails?.total?.is_select?0:1)" [checked]="carDetails?.total?.is_select" color="jingku1" mode="ios"></ion-checkbox>
                  <ion-checkbox color="jingku1" [(ngModel)]="carDetails.selected" (click)="checkAll()" *ngIf="isEdit" mode="ios"></ion-checkbox>
               </div>
               <span>全选</span>
            </label>
            <div *ngIf="!isEdit&&mine?.showPrice" class="price">
               <div class="total">合计：<em>¥{{carDetails?.total?.goods_amount || '0.00' | tofixed}}</em></div>
               <div class="subtotal" *ngIf="carDetails?.total?.reduce_price!=0">
                  总额：<em>¥{{carDetails?.total?.old_price_amount || '0.00' | tofixed}}</em> 立减：<em>¥{{carDetails?.total?.reduce_price || '0.00' | tofixed}}</em>
               </div>
            </div>
         </div>
         <div *ngIf="!isEdit" class="right" tappable (click)="goAccounts()">去结算（{{carDetails?.total?.real_goods_count || 0}}）</div>
         <div *ngIf="isEdit" class="attention-and-delete">
            <button ion-button outline round color="jingku1" (click)="beCareFor()">移入关注</button>
            <button ion-button outline round color="danger" (click)="dropCartGoodsSelect()">删除</button>
         </div>
      </div>
   </ion-toolbar>
</ion-footer>