page-car {
    .list {
        margin: 0;
    }
    @mixin item-style {
        display: flex;
        align-items: center;
        .item.item-block .item-inner {
            padding-right: 0;
            .label {
                margin: 0;
            }
        }
    }
    .single-shop {
        background: #fff;
        .single-shop-head {
            display: flex;
            align-items: center;
            border-bottom: #e0e0e0 1px solid;
            .item {
                .item-inner {
                    font-size: 1.5rem;
                    color: #747474;
                    .label {
                        display: flex;
                        align-items: center;
                        .icon {
                            font-size: 2rem;
                            color: inherit;
                        }
                        span{
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        .single-shop-goods {
            &.disable {
                .single-shop-goods-head {
                    .item {
                        opacity: .4;
                    }
                }
                .single-shop-goods-body {
                    .item {
                        .attr,
                        .bottom {
                            opacity: .4;
                            pointer-events: none;
                        }
                    }
                }
            }
            .item {
                padding-left: 0;
            }
            position: relative;
            overflow: hidden;
            .single-shop-goods-head {
                @include item-style;
                .label {
                    h2 {
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        color: #666;
                        white-space: pre-wrap;
                        font-size: 1.4rem;
                    }
                    .type {
                        display: inline-block;
                        color: #e60000;
                        font-size: 1.3rem;
                        margin-top: 4px;
                        white-space: pre-wrap;
                    }
                }
            }
            .single-shop-goods-body {
                .item-wrap {
                    @include item-style;
                    .sliding-item-box {
                        width: 100%;
                    }
                    margin-bottom: 10px;
                    .label {
                        .goodsinfo {
                            background: #f7f7f7;
                            padding: 10px;
                            .attr {
                                display: flex;
                                flex-wrap: wrap;
                                span {
                                    // width: 33.33%;
                                    color: #808080;
                                    font-size: 1.3rem;
                                    margin-bottom: 10px;
                                    /* display: inline-block; */
                                    /* text-align: center; */
                                    padding-right: 5px;
                                    margin: 0 6px 10px 0;
                                }
                            }
                            .bottom {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .price {
                                    color: #e60000;
                                    .old {
                                        text-decoration: line-through;
                                        color: #999;
                                        margin-left: 6px;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .single-shop-little-result {
            padding: 10px;
            color: #4d4d4d;
            border-top: 1px solid #e0e0e0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.2rem;
            .fgx {
                margin: 0 5px;
                vertical-align: top;
            }
            .red {
                color: #e60000;
                font-size: 1.5rem;
            }
        }
    }
    ion-footer {
        .car-accounts {
            height: 50px;
            display: flex;
            justify-content: space-between;
            background: #fff;
            white-space: nowrap;
            >div {
                display: flex;
                align-items: center;
                &.left {
                    .select-all {
                        display: flex;
                        align-items: center;
                        color: #808080;
                    }
                    .price {
                        font-size: 1.4rem;
                        .subtotal {
                            color: #666;
                            font-size: 1rem;
                        }
                    }
                }
                &.right {
                    width: 30%;
                    justify-content: center;
                    background: get-color(jingku1);
                    color: #fff;
                }
            }
        }
    }
}