<!--
  Generated template for the Car page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>购物车</ion-title>
        <ion-buttons right>
            <button ion-button clear *ngIf="carDetails&&carDetails?.suppliers_goods_list?.length!=0" (click)="isEdit=!isEdit;">{{isEdit?'取消':'编辑'}}</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
        <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
    </ion-refresher>
    <nothing backgroundImg="url(./assets/icon/no-cart.png)" *ngIf="carDetails?.suppliers_goods_list.length==0"></nothing>
    <ion-list>
        <div class="single-shop" *ngFor="let item of carDetails?.suppliers_goods_list">
            <div class="single-shop-head" tappable navPush="ParticularsHomePage" [navParams]="{suppliersId:item.suppliers_id}">
                <ion-checkbox *ngIf="!isEdit" color="jingku1" tappable (click)="checkGoods(item.suppliers_id,1,item.is_select==1?0:1);" [checked]="item?.is_select==1" mode="ios" margin-left></ion-checkbox>
                <ion-checkbox *ngIf="isEdit" color="jingku1" [checked]="carDetails.total.selected" [(ngModel)]="item.selected" mode="ios" margin-left></ion-checkbox>
                <ion-item mode="ios" no-lines>
                    <ion-icon color="colorsix" item-left name="shop"></ion-icon>
                    {{item.title}}&nbsp;
                    <ion-icon color="colorsix" name="ios-arrow-forward"></ion-icon>
                    <!--<button item-right ion-button clear color="danger">优惠券???</button>-->
                </ion-item>
            </div>
            <div class="single-shop-goods" *ngFor="let item2 of item.goods_list ">
                <div class="not-in-region" *ngIf="!item2.in_area_id">不在本地区销售</div>
                <div class="single-shop-goods-head">
                    <div margin-left *ngIf="item2.in_area_id||isEdit">
                        <ion-checkbox *ngIf="!isEdit" tappable (click)="checkGoods(item2.goods_id,0,item2.is_select==1?0:1)" [checked]="item2?.is_select==1" color="jingku1" mode="ios"></ion-checkbox>
                        <ion-checkbox *ngIf="isEdit" tappable color="jingku1" [(ngModel)]="item2.selected" [checked]="item.selected" (ionChange)="check(item2?.goods_id)" mode="ios"></ion-checkbox>
                    </div>
                    <ion-item margin-left no-lines>
                        <ion-thumbnail item-left>
                            <img img-lazy-load="{{item2.goods_thumb}}">
                        </ion-thumbnail>
                        <h2 tappable (click)="goParticularPage(item2.goods_id)">{{item2.goods_name}}</h2>
                        <span tappable (click)="goParticularPage(item2.goods_id)" class="type" *ngIf="item2?.gift_list">{{item2?.gift_list?.title}}</span>
                    </ion-item>
                </div>
                <div class="single-shop-goods-body">
                    <div class="item-wrap" *ngFor="let item3 of item2.attrs;">
                        <!-- <div margin-left>
                            <ion-checkbox *ngIf="!isEdit" [(ngModel)]="item3.is_select" [checked]="item2.is_select" tappable color="jingku1"  (click)="checkGoodsAttr(item3.rec_id,item3.is_select==1?1:0)" mode="ios"></ion-checkbox>
                            <ion-checkbox *ngIf="isEdit" [(ngModel)]="item3.selected" [checked]="item2.selected" tappable  color="jingku1"  mode="ios"></ion-checkbox>
                        </div> -->
                        <div margin-left class="sliding-item-box">
                            <ion-item-sliding>
                                <ion-item no-lines>
                                    <div class="goodsinfo">
                                        <div class="attr">
                                            <span *ngIf="item3.qiujing">球镜：{{item3.qiujing}}</span>
                                            <span *ngIf="item3.zhujing">柱镜：{{item3.zhujing}}</span>
                                            <span *ngIf="item3.zhouwei">轴位：{{item3.zhouwei}}</span>
                                            <span *ngFor="let item4 of item3?.arr_attr;">{{item4}}</span>
                                        </div>
                                        <div class="bottom">
                                            <div class="price">¥{{item3?.goods_price}}</div>
                                            <div class="number">
                                                <count-input [minValue]="1"  [rank]="item2?.goods_properties?.number" (valueChange)="numberChangeI($event,item3)" [lock]="item3.inputLock" [value]="item3?.goods_number"></count-input>
                                            </div>
                                        </div>
                                    </div>
                                </ion-item>
                                <ion-item-options side="right">
                                    <button ion-button color="danger" tappable (click)="deleteItem(item3)">删除</button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="single-shop-little-result">共{{item?.goods_count}}件<span class="fgx"> | </span>小计: <span class="red">¥{{item?.goods_price_total}}</span></div>
            <div class="background"></div>
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <div class="car-accounts" *ngIf="carDetails&&carDetails?.suppliers_goods_list?.length!=0">
        <div class="left">
            <label tappable class="select-all" margin-horizontal>
                <ion-checkbox color="jingku1" *ngIf="!isEdit" tappable (click)="checkGoods(null,2,carDetails.total.is_select?0:1)" [checked]="carDetails.total.is_select" margin-right color="jingku1" mode="ios"></ion-checkbox>
                <ion-checkbox color="jingku1" [(ngModel)]="carDetails.total.selected" *ngIf="isEdit" mode="ios" margin-right></ion-checkbox>
                全选
            </label>
            <div *ngIf="!isEdit" class="price">
                <div class="total">合计：¥{{carDetails?.total?.goods_amount | tofixed}}</div>
                <div class="subtotal" *ngIf="carDetails?.total?.reduce_price!=0">
                    总额：¥{{carDetails?.total?.old_price_amount| tofixed}} 立减：¥{{carDetails?.total?.reduce_price| tofixed}}
                </div>
            </div>
        </div>
        <div *ngIf="!isEdit" class="right" tappable (click)="goAccounts()">去结算（{{carDetails?.total?.real_goods_count}}）</div>
        <div *ngIf="isEdit" class="attention-and-delete">
            <button ion-button outline color="jingku1" (click)="beCareFor()">移入关注</button>
            <button ion-button color="jingku1" (click)="dropCartGoodsSelect()">　删除　</button>
        </div>
    </div>
</ion-footer>