nothing {
    $default-size: 10rem;
    .nothings-show {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding-bottom: 63px;
        .img {
            width: $default-size;
            min-width: $default-size;
            height: $default-size;
            min-height: $default-size;
            border-radius: 50%;
            border: 1px solid #cbced0;
            background-position: center center;
            background-size: 50%;
            background-repeat: no-repeat;
        }
    }
}