<!--
  Generated template for the ShippingAddress page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>收货地址</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="addressList?.data?.length!=0">
        <div class="address-wrap" *ngFor="let item of addressList?.data">
            <div class="top">
                <ion-item>
                    <h2>{{item.consignee}}　<span>{{item.mobile|phonenumberfilter}}</span></h2>
                    <p>{{item.address}}</p>
                </ion-item>
            </div>
            <div class="bottom">
                <div class="checkbox">
                    <ion-checkbox [checked]="item.selected==1" (click)="setDefaultAddress(item.address_id)" mode="ios"></ion-checkbox>默认地址
                </div>
                <div class="btns">
                    <button ion-button outline (click)="deleteOne(item.address_id)">删除</button>
                    <button ion-button [navPush]="AddShippingAddressPage" [navParams]="{addId:item.address_id}">编辑</button>
                </div>
            </div>
        </div>
        <ion-item detail-push mode="ios" no-lines margin-top [navPush]="AddShippingAddressPage">添加收获地址</ion-item>
    </div>
    <div class="no-add" *ngIf="addressList?.data?.length==0">
        <div class="img"></div>
        <div class="text">暂无收货地址</div>
        <p><button ion-button outline [navPush]="AddShippingAddressPage">+添加收货地址</button></p>
    </div>
</ion-content>