page-account-info {
    .item:first-child {
        .item-inner {
            padding-right: 10px;
        }
    }
    .item.item-block .item-inner {
        padding-right: 32px;
    }
    .item {
        min-height: 5.4rem;
    }
    .note {
        font-size: 1.4rem;
    }
}