countdown {
    display: flex;
    .time {
        /* padding: 3px; */
        border-radius: 3px;
        margin: 0 3px;
        background-color: #fff;
        color: #000;
        min-width: 20px;
        /* height: 16px; */
        display: inline-block;
    }
}