countdown {
    .time {
        padding: 3px;
        border-radius: 3px;
        margin-right: 3px;
        background-color: #fff;
        color: #000;
        min-width: 20px;
        display: inline-block;
    }
}