countdown {
    display: inline-block;
    display: flex;
    align-items: center;
    span {
        border-radius: 3px;
        margin: 0 3px;
        background-color: #fff;
        color: #000;
        min-width: 20px;
        text-align: center;
        display: inline-block;
    }
}