page-pay-and-ship {
    .pay-head,
    .ship-head {
        border-bottom: $border;
        color: #666;
        padding-left: 10px;
        display: flex;
        align-items: center;
        min-height: 47px;
        font-weight: 500;
        img {
            width: 20px;
            margin: 5px 10px 5px 0;
        }
    }
    .ship-body,
    .pay-body {
        .options {
            padding: 5px 10px;
        }
        .button {
            font-size: 1.3rem;
            height: 3rem;
        }
    }
    .ship-body {
        >div {
            border-bottom: $border;
        }
        .scroll-img {
            @include scroll-img(66px);
        }
    }
}