page-more-brand {
    .top {
        img {
            width: 100%;
        }
    }
    .main {
        overflow: hidden;
        >div {
            width: 32.66%;
            float: left;
            margin-right: 1%;
            margin-bottom: 0.2rem;
            &:nth-child(3n) {
                margin-right: 0;
            }
            img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}