page-subnav-page1 {
    overflow: scroll;
    .content {
        background: #fff;
        .scroll-content {
            background: #fff;
        }
    }
    .classify-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 650px;
        margin: 10px auto;
        width: 76%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        >div {
            width: 50%;
            display: inline-block;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 20px;
            &:nth-child(2n) {
                border-right: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
            /*&:nth-last-of-type(2) {
                border-bottom: 0;
            }*/
            img {
                width: 26%;
                padding: 10px 0;
            }
        }
    }
}