<!--
  Generated template for the DiscountCoupon page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar>
      <ion-title>优惠券</ion-title>
      <ion-buttons right>
         <!-- <button ion-button clear (click)="isEdit = !isEdit">{{!isEdit?'管理':'取消'}}</button> -->
         <button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
            <ion-icon name="ios-more"></ion-icon>
         </button>
      </ion-buttons>
   </ion-navbar>
   <ion-toolbar no-padding class="mytoolbar">
      <div class="coupon-types" id="top">
         <div class="swiper-container" id="nav">
            <div class="left swiper-wrapper">
               <div class="swiper-slide" *ngFor="let item of category">
                  <span class="type" tappable (click)="couponSelect=item.cat_id;showmark=false;">{{item.cat_name}}({{data?.counts[item.cat_id-1]||0}})</span>
               </div>
               <div class="bar">
                  <div class="color"></div>
               </div>
            </div>
         </div>
         <div class="right" (click)="showmark = !showmark">
            <img src="assets/icon/discount-coupon_03.png" width="20" alt="">
         </div>
      </div>
   </ion-toolbar>
</ion-header>

<div class="mark" *ngIf="showmark" fadeIn tappable (click)="showmark=false">
   <div class="title" *ngIf="category?.length">- 全部{{category?.length}}个分类 -</div>
   <div class="type-wrap" (click)="$event.stopPropagation()">
      <button *ngFor="let item of category;let index=index;" ion-button round tappable [class.on]="couponSelect==item.cat_id" (click)="showmark=false;slideTo(index)"><em></em>{{item.cat_name}}({{data?.counts[item.cat_id-1]||0}})</button>
   </div>
</div>

<ion-content>
   <div class="swiper-container" id="page">
      <div class="swiper-wrapper">
         <div class="swiper-slide slidepage" *ngFor="let item of category;let index = index;">
            <div class="no-coupon" *ngIf="item?.mylist&&!item?.mylist?.data?.length">
               <div class="img">
                  <img src="./assets/images/images/coupon_4_03.png" alt="">
               </div>
               <div class="title">没有优惠券哦</div>
            </div>
            <div class="supplier" *ngFor="let supp of item?.mylist?.data">
               <div class="head">
                  <div class="left">
                     <div class="logo">
                        <img [img-lazy-load]="supp?.supplier_info?.logo" alt="">
                     </div>
                     <div class="name">{{supp?.supplier_info?.suppliers_name}}</div>
                  </div>
                  <div class="right">
                     <button *ngIf="supp.suppliers_id!=-1" navPush="ParticularsHomePage" [navParams]="{suppliersId: item.suppliers_id}">进店</button>
                  </div>
               </div>
               <div class="coupon-wrap" *ngFor="let item of supp?.list">
                  <div class="check" *ngIf="isEdit">
                     <ion-checkbox tappable color="jingku1" [(ngModel)]="item.selected" mode="ios"></ion-checkbox>
                  </div>
                  <div class="coupon">
                     <div class="left">
                        <div class="img">
                           <img [img-lazy-load]="supp?.supplier_info?.logo" alt="">
                        </div>
                        <div class="center">
                           <div class="info">¥<span class="bigfont">{{item.type_money}}</span>&nbsp;&nbsp;满{{item.min_goods_amount}}可用</div>
                           <div class="title">{{item.apply_type_name}}</div>
                           <div class="time">{{item.use_end_date}}</div>
                        </div>
                     </div>
                     <div class="right">
                        <button ion-button small round block (click)="getPrivilege(item.type_id)">去使用</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <ion-fab right bottom scroll-to-top>
      <button ion-fab color="jingku1" mini goBackTop></button>
   </ion-fab>
   <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="flag">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
   </ion-infinite-scroll>
</ion-content>

<ion-footer>
   <ion-toolbar no-padding>
      <ng-container *ngIf="!isEdit">
         <button style="margin: 0;height: 44px;" ion-button full color="jingku1" navPush="DiscountCouponPage">领取更多优惠券</button>
         <!-- <div class="footbtn">
            <button ion-button round outline color="jingku1">查看优惠券记录</button>
            <button ion-button round color="jingku1">领取更多优惠券</button>
         </div> -->
      </ng-container>
      <ng-container *ngIf="isEdit">
         <button style="margin: 0;height: 44px;" ion-button full color="jingku1">删除</button>
      </ng-container>
   </ion-toolbar>
</ion-footer>