page-coupon {
    @include deteleShadow;
    .content {
        .unused,
        .stale,
        .used {
            background: #f7f7f7;
            min-height: 100%;
            .no-coupon {
                @include reminderBlankPage();
            }
            .item {
                @include coupon;
            }
        }
        .stale {
            .item {
                .head {
                    background: url(../assets/images/images/coupon_2_03.png) left center/100% 100% no-repeat;
                }
                .main {
                    background: #fff url(../assets/images/images/coupon_3_03.png) right top/69px no-repeat;
                    .name {
                        span {
                            color: #999;
                            border: 1px solid #999;
                        }
                    }
                }
            }
        }
        .used {
            .item {
                .head {
                    background: url(../assets/images/images/coupon_2_03.png) left center/100% 100% no-repeat;
                }
                .main {
                    background: #fff url(../assets/images/images/coupon_2_06.png) right top/82px no-repeat;
                    .name {
                        span {
                            color: #999;
                            border: 1px solid #999;
                        }
                    }
                }
            }
        }
    }
}