<!--
  Generated template for the Coupon page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>优惠券</ion-title>
    </ion-navbar>
    <ion-toolbar class="segment-style">
        <ion-segment mode="md" [(ngModel)]="couponSelect" (ionChange)="segmentChange()">
            <ion-segment-button value="">
                未使用
            </ion-segment-button>
            <ion-segment-button value="over_time">
                已过期
            </ion-segment-button>
            <ion-segment-button value="use">
                已使用
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content [ngSwitch]="couponSelect">
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
        <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
    </ion-refresher>
    <div [ngClass]="{unused:couponSelect=='',stale:couponSelect=='over_time',used:couponSelect=='use'}">
        <div class="no-coupon" *ngIf="data?.data.length==0">
            <div class="img">
                <img src="./assets/images/images/coupon_4_03.png" alt="">
            </div>
            <div class="title">您还没有优惠券哦！</div>
        </div>
        <div class="item" *ngFor="let item of data?.data">
            <div class="head">
                <div class="price">￥<span>{{item.type_money}}</span></div>
                <div class="canbe">满{{item.min_goods_amount}}元可用</div>
            </div>
            <div class="main">
                <div class="name"><span>{{item.type_name}}</span></div>
                <div>{{item.suppliers_name}}</div>
                <div class="time">{{item.use_end_date}}</div>
            </div>
        </div>
    </div>
</ion-content>