/* ion-app.ios.platform-cordova page-particulars-modal .toolbar.statusbar-padding:first-child,{
    padding-top: 0 !important;
} */

page-particulars-modal {
    .header .toolbar {
        .title {
            .toolbar-title {
                padding-top: 0 !important;
                margin-top: 0 !important;
            }
        }
    }
    .privilege {
        .main {
            display: flex;
            border: 1px solid #7986cb;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 17px);
            margin: 10px auto;
            color: #8a8a8a;
            background: #fff;
            padding: 0;
            &.cantget {
                // opacity: .4;
            }
            .left {
                display: flex;
                justify-content: space-around;
                text-align: left;
                flex-direction: column;
                position: relative;
                margin-left: 10px;
                flex: 1;
                >div {
                    margin-bottom: 7px;
                    &:first-child {
                        color: #000;
                        .price {
                            color: #7986cb;
                            span {
                                font-size: 3rem;
                                margin-left: 3px;
                            }
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .right {
                padding: 5px 20px 0;
                .click {
                    color: #66a6ff;
                    box-shadow: 0 0 5px #5971cb;
                    background: #fff;
                }
                background:#7986cb url(../assets/icon/images/particulars-coupon_01_03.jpg) repeat-y left/4px;
            }
        }
    }
    .onemore {
        .item {
            color: #858585;
            min-height: 5.4rem;
            .title {
                padding: 3px 6px;
                border: 1px solid #f53d3d;
                color: #f53d3d;
                border-radius: 3px;
                font-size: 1.4rem;
            }
        }
    }
}