page-search {
    .title {
        padding: 0 4px 1px 34px;
    }
    .head {
        display: flex;
        justify-content: space-between;
        color: #666;
        margin-bottom: 5px;
        line-height: 2;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}