<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title class="mysearchbar">
            <ion-searchbar [(ngModel)]="myHomeSearch" placeholder="搜索镜库商品/店铺" mode="ios" showCancelButton="true" cancelButtonText="取消" debounce="500" type="search"  (keypress)="searchbar($event)"></ion-searchbar>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="head">
        <div>热门搜索</div>
        <div tappable (click)="getNewBatch()" *ngIf="data?.pagers>1">换一换</div>
    </div>
    <div class="btns">
        <button ion-button outline [color]="nowIndex==i?'dark':'cancelBtn'" *ngFor="let item of data?.data;let i=index" tappable (click)="nowIndex=i;myHomeSearch=item.title;searchbar()">{{item.title}}</button>
    </div>
</ion-content>