page-search {
    ion-title.title {
        padding: 0 4px 1px 34px;
    }
    .segment .segment-button{
       color: #666666;
       height: 100%;
    }
    .head {
        display: flex;
        justify-content: space-between;
        color: #666;
        margin-bottom: 5px;
        line-height: 2;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}