page-search {
    .head {
        display: flex;
        justify-content: space-between;
        color: #666;
        margin-bottom: 10px;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}