page-invoice-ask-for2 {
    .fore {
        background: #fff;
    }
    .item-md .radio-md[item-left] {
        margin-right: 20px;
    }
    .top {
        color: #808080;
        display: flex;
        justify-content: space-between;
        padding: 16px 10px;
        .count {
            color: #333;
            font-size: 1.8rem;
        }
        .price {
            font-size: 1.8rem;
            color: #e60000;
        }
    }
    .receipt-info {
        padding: 0 5px;
        .title {
            padding: 15px 10px;
            font-size: 1.6rem;
        }
        >div {
            border-bottom: 1px solid map-get($colors, border);
            &:last-child {
                border: none;
            }
            span {
                margin-right: 10px;
            }
        }
    }
    .receipt-address {
        padding: 0 5px;
        .title {
            padding: 16px 10px;
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ion-note {
                margin-left: 10px;
                font-size: 12px;
            }
            .right-t {
                color: #526bb5;
                font-size: 12px;
            }
        }
        .item {
            border-top: 1px solid map-get($colors, border);
            color: #808080;
            .name {
                margin-right: 20px;
            }
            .address {
                color: #808080;
                font-size: 1.3rem;
                margin: 5px 0;
            }
        }
    }
    ion-footer {
        .btns {
            display: flex;
            .button {
                width: 50%;
            }
        }
    }
}