page-shop-all-fashion {
    .all-fashion-tit {
        height: 5rem;
        padding-left: 3%;
        span {
            line-height: 5rem;
            display: inline-block;
            color: #4d4d4d;
            font-size: 1.5rem;
            font-weight: normal;
        }
    }
    .shop-fashion-content {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 4% 0;
        .shop-fashion-item {
            width: 47%;
            height: 3rem;
            background: #fff;
            text-align: center;
            float: left;
            margin-bottom: 3%;
            span {
                display: inline-block;
                line-height: 3rem;
                color: #666;
                font-size: 1.4rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}