page-glasses-design {
    .fore {
        margin-bottom: 10px;
        background: #fff;
        img {
            display: block;
        }
    }
    .fore2 {
        .head {
            text-align: center;
            padding: 15px 0 5px;
            img {
                height: 37px;
            }
        }
        .body {
            padding: 5px 0 5px 2%;
            overflow: hidden;
            img {
                max-width: 47%;
                float: left;
                margin: 1%;
            }
        }
    }
    .fore3 {
        img {
            display: block;
            width: 100%;
        }
    }
    .fore4 {
        display: flex;
        .left {
            width: 100px;
            height: 100px;
            min-height: 100px;
            min-width: 100px;
            margin: 5px 18px 5px 0;
            img {
                max-height: 100px;
            }
        }
        .right {
            flex: 1;
            width: calc(100% - 110px);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .title {
                font-size: 1.6rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .price {
                height: 30px;
                padding-left: 40px;
                line-height: 36px;
                color: #fff;
                font-size: 1.6rem;
                background: url(../assets/icon/images/APP_sheji_03.png) left top/auto 100% no-repeat;
            }
            .purchase {
                display: flex;
                align-items: center;
                img {
                    height: 10px;
                }
            }
        }
    }
}