page-new-my {
   .my-head{
      background: url(../assets/images/images/bannerShop_02.jpg) no-repeat center top/auto 100%;
      color: #fff;
      .t_btn{
         display: flex;
         justify-content: space-between;
      }
   }
}
