page-subnav-page2 {
    .collapsible-header {
        button[item-right] {
            margin: 0;
            height: 100%;
            width: 50px;
            ion-icon {
                transition: transform 100ms ease-in-out;
                transform: rotate(0deg);
                font-size: 2.3rem;
                &.rotate {
                    transform: rotate(180deg)
                }
            }
        }
    }
    .item-accordion {
        height: 0;
        display: block !important;
        transition: all 100ms ease-in-out;
        overflow: hidden;
        .item {
            background: #f7f7f7;
            color: #808080;
            min-height: 50px;
        }
        &.active {
            height: 49px;
        }
    }
}