page-subnav-page2 {
    .collapsible-header {
        ion-icon {
            transform: rotate(0deg);
            &.rotate {
                transform: rotate(180deg)
            }
        }
    }
    .item-accordion {
        height: 0;
        display: block !important;
        transition: all 100ms ease-in-out;
        overflow: hidden;
        .item {
            background: #f7f7f7;
            color: #808080;
            min-height: 50px;
        }
        &.active {
            height: 49px;
        }
    }
}