<!--
  Generated template for the CompanyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>切换公司</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item-group>
			<ion-item-divider style="color: #808080;background-color: #fafafa;" mode="ios">你已经加入以下企业，选择进入</ion-item-divider>
			<ng-container *ngFor="let item of companyList?.data">
				<ion-item *ngIf="item.checked==1">
					<ion-label style="font-size: 1.6rem;">{{item.cname}}</ion-label>
					<span item-end style="color: #3f69a5;">当前企业</span>
				</ion-item>
			</ng-container>
			<ng-container *ngFor="let item of companyList?.data">
				<ion-item tappable *ngIf="item.checked!=1" (click)="clickItem(item.cid)">
					<ion-label style="font-size: 1.6rem;">{{item.cname}}</ion-label>
					<span item-end style="font-size: 15px;">
						<ion-icon name="ios-arrow-forward-outline"></ion-icon>
					</span>
				</ion-item>
			</ng-container>

		</ion-item-group>
	</ion-list>
</ion-content>