swiper {
    .card {
        // width: 80%;
        width: 100%;
        margin: 0;
        box-shadow: none;
        display: flex;
        align-items: center;
        img {
            margin: auto auto;
            max-height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .myswiper-container {
        width: 100%;
        perspective: 1200px;
        .swiper-wrapper {
            align-items: center;
            .swiper-slide {
                width: 100%;
                transform-style: preserve-3d;
                flex-shrink: 0;
                .main-img {
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
    .swiper-slide,
    .swiper-wrapper {
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        width: 100%;
    }
}