<!--
  Generated template for the Particulars page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>商品详情</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="imgs" *ngIf="getGoodsInfo">
        <ion-slides loop="true" parallax="true">
            <ion-slide *ngFor="let item of getGoodsGallery">
                <ion-card>
                    <img src="{{item.img_url}}" imageViewer />
                    <!--<div class="card-title">Amsterdam</div>-->
                    <!--<div class="card-subtitle">64 Listings</div>-->
                </ion-card>

            </ion-slide>
        </ion-slides>
    </div>
    <div class="price_time" *ngIf="getGoodsInfo&&getGoodsInfo.is_pre">
        <div class="left">
            <p>￥<span class="number">{{getGoodsInfo.shop_price}}</span>每人限购：99副</p>
            <p>商品总量：{{getGoodsInfo.goods_number}}件</p>
        </div>
        <div class="right" [ngSwitch]="getGoodsInfo.type">
            <p *ngSwitchCase="getGoodsInfo.type==2">距离活动结束还剩：</p>
            <p *ngSwitchCase="getGoodsInfo.type==1">距离活动开始还剩：</p>
            <p *ngSwitchDefault>这里是倒计时~</p>
            <p *ngIf="getGoodsInfo.down_time">
                <countdown [endDate]="getGoodsInfo.down_time"></countdown>
            </p>
        </div>
    </div>
    <div class="info" *ngIf="getGoodsInfo">
        <div class="title">
            {{getGoodsInfo.goods_name}}
        </div>
        <div class="body">
            批发价&nbsp;：<span class="now-price">￥<span class="number">{{getGoodsInfo.shop_price}}</span></span><span class="old-price">￥<span>{{getGoodsInfo.old_shop_price}}</span></span>&nbsp;<span class="rush-icon">抢购</span>

        </div>
        <div class="bottom">
            <div>建议零售价&nbsp;：<span class="offer-price">￥{{getGoodsInfo.market_price}}</span></div>
            <div>商品编号&nbsp;：{{getGoodsInfo.goods_sn}}</div>
        </div>
    </div>
    <div class="background"></div>
    <div class="price-info" *ngIf="getPriceSection&&getPriceSection.status!=0">
        <!-- *ngIf="getPriceSection.status!=0"-->
        <div class="main">
            <div class="info-item" *ngFor="let item of getPriceSection.data">
                <span *ngIf="item.max_num">{{item.number+'-'}}{{item.max_num}}盒</span>
                <span *ngIf="!item.max_num">大于{{item.number}}盒</span>
                <span>{{item.format_price}}</span>
            </div>
        </div>
        <div class="right">
            <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
    </div>
    <div class="background"></div>
    <div class="coupon" item-padding>
        <ion-list mode="md" (click)="presentModal('优惠券')">
            <ion-item>
                领券
                <img src="./assets/icon/images/particulars_03.jpg" alt="">
                <ion-note item-right>
                    点击领取
                </ion-note>
                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
            </ion-item>
            <ion-item (click)="presentModal('买一盒送一盒',$event)">
                <img src="./assets/icon/images/particulars_09.jpg" style="height: 20px;" alt=""> <span>买一盒送一盒</span>

                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
            </ion-item>
            <!--<ion-item (click)="presentModal('买一盒送一盒',$event)">

                <img src="./assets/icon/images/particulars_09.jpg" style="height: 20px;" alt=""> <span>买一盒送一盒</span>

                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
            </ion-item>-->
        </ion-list>

    </div>
    <div class="background"></div>
    <div class="to-adress" (click)="presentModal('发货地址')" item-padding>
        <ion-item no-lines>
            发货地：北京
            <ion-note>
                配送时间：预计7-14个工作日送达
            </ion-note>
        </ion-item>
    </div>
    <div class="background"></div>
    <div class="will-address" item-padding>
        <ion-item no-lines (click)="presentModal('配送地址')">
            送至：北京<span class="nogoods">（无货）</span>
            <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
        <div class="bottom">
            <ion-note>
                快递：该商品满99包邮，运费10元
            </ion-note>
        </div>
    </div>
    <div class="background"></div>
    <div class="attribute" item-padding>
        <ion-item (click)="presentModal('选择商品属性')" no-lines>
            选择：规格、光度等
            <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
    </div>
    <div class="background"></div>
    <div class="goods-service">
        <ion-item no-lines item-padding (click)="presentModal('商品服务保障')">
            <ion-icon name="md-basket" item-left></ion-icon>
            商品服务保障
            <ion-icon name="ios-arrow-forward" item-right></ion-icon>
        </ion-item>
        <div class="bottom">
            <ion-note>
                <img src="./assets/icon/images/particulars_05_03.jpg" alt=""> 正品保障
            </ion-note>
            <ion-note>
                <img src="./assets/icon/images/particulars_05_05.jpg" alt=""> 白条支付
            </ion-note>
        </div>
    </div>
    <div class="background"></div>
    <div class="store" *ngIf="getSupplierInfo">
        <div class="head">
            <ion-item no-lines>
                <ion-thumbnail item-left>
                    <img src="{{getSupplierInfo.logo}}">
                </ion-thumbnail>
                <h2>{{getSupplierInfo.name}}</h2>
            </ion-item>
        </div>
        <div class="data">
            <div>
                <span>45</span>
                <span>新品</span>
            </div>
            <div>
                <span>123456</span>
                <span>促销</span>
            </div>
            <div>
                <span>123</span>
                <span>热销</span>
            </div>
        </div>
        <div class="btn">
            <button ion-button icon-right icon-left color="dark" outline>
                 <ion-icon>
                     <img src="./assets/icon/images/particulars_23.jpg">
                </ion-icon>
                进入店铺
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </div>
        <ion-list class="safeguard" no-margin>
            <ion-item>
                <div class="note-wrap">
                    <ion-note>
                        <ion-icon>
                            <img src="./assets/icon/images/particulars_2_20.jpg">
                        </ion-icon>
                        担保交易
                    </ion-note>
                    <ion-note>
                        <ion-icon>
                            <img src="./assets/icon/images/particulars_2_14.jpg">
                        </ion-icon>
                        客户自提
                    </ion-note>
                    <ion-note>
                        <ion-icon>
                            <img src="./assets/icon/images/particulars_2_16.jpg">
                        </ion-icon>
                        返修退换货
                    </ion-note>
                    <ion-note>
                        <ion-icon>
                            <img src="./assets/icon/images/particulars_2_18.jpg">
                        </ion-icon>
                        普通发票
                    </ion-note>
                </div>
                <ion-icon name="ios-arrow-forward" item-right></ion-icon>
            </ion-item>
            <ion-item no-lines>
                <ion-icon item-left>
                    <img src="./assets/icon/images/particulars_2_30.jpg">
                </ion-icon>
                <ion-note>
                    北京市朝阳区.............
                </ion-note>
                <ion-icon item-right name="ios-call"></ion-icon>
            </ion-item>
        </ion-list>
    </div>
    <div class="background"></div>
    <div class="group-and-recommend">
        <ion-segment [(ngModel)]="selectGroupRecommend" mode="md">
            <ion-segment-button value="group">
                套餐组合
            </ion-segment-button>
            <ion-segment-button value="recommend">
                为你推荐
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="selectGroupRecommend">
            <div class="group" *ngSwitchCase="'group'">
                <ion-slides pager>
                    <ion-slide>
                        <div class="wrap">
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox mode="ios"></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="wrap">
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="wrap">
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                            <div class="goods">
                                <div class="top">
                                    <ion-checkbox></ion-checkbox>
                                    <img src="./assets/icon/shangpinxiangqing.jpg" alt="">
                                </div>
                                <div class="bottom">
                                    <h6>博士伦美瞳两名士大夫士大夫</h6>
                                    <h6>￥450</h6>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>

            <div class="recommend" *ngSwitchCase="'recommend'">
                <ion-slides pager>
                    <ion-slide>

                    </ion-slide>
                    <ion-slide>

                    </ion-slide>
                    <ion-slide>

                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
    <div class="background"></div>
    <div class="pic-and-arguments">
        <ion-segment [(ngModel)]="selectPicArguments" mode="md">
            <ion-segment-button value="pic">
                套餐组合
            </ion-segment-button>
            <ion-segment-button value="arguments">
                为你推荐
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="selectPicArguments">
            <div class="pic" *ngSwitchCase="'pic'">
                <ion-list>
                    <ion-item class="check" detail-push>
                        <ion-icon name="ios-arrow-down"></ion-icon>
                        上拉查看详情
                    </ion-item>
                </ion-list>

                <img src="./assets/icon/images/particulars_2_34.jpg" alt="">
            </div>
            <div class="arguments" *ngSwitchCase="'arguments'">
                <div class="wrapper">
                    <div *ngFor="let item of getGoodsParameter">
                        <div class="name">{{item.name}}：<span>{{item.value}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>

    <!--<div class="warning-show">
        <span>请用电脑下单！</span>
    </div>-->
</ion-content>
<ion-footer>
    <div class="main">
        <div class="left">
            <div>
                <ion-icon name="ios-home-outline"></ion-icon>
                <span>客服</span>
            </div>
            <div (click)="beCareFor()">
                <ion-icon *ngIf="getGoodsInfo&&getGoodsInfo.is_collect" color="danger" name="ios-heart"></ion-icon>
                <span *ngIf="getGoodsInfo&&getGoodsInfo.is_collect">已关注</span>
                <ion-icon *ngIf="getGoodsInfo&&!getGoodsInfo.is_collect" name="ios-heart-outline"></ion-icon>
                <span *ngIf="getGoodsInfo&&!getGoodsInfo.is_collect">关注</span>
            </div>
            <div>
                <ion-icon name="ios-home-outline"></ion-icon>
                <span>店铺</span>
            </div>
        </div>

        <div class="right">
            <span>暂不支持手机下单</span>
        </div>
    </div>
</ion-footer>