page-scan {
   .content {
      background: #000000;
   }
   .scroll-content {
      background: #000000;
      overflow: hidden;
   }
   .qrscanner {
      background: none;
      &-area {
         width: 100%;
         height: 86%; // background: url(../assets/images/scanner.svg) no-repeat center center;
         background-size: contain;
         position: relative;
      }
      .view {
         position: absolute;
         top: 25%;
         left: 20%;
         width: 60%;
         height: 40%;
         box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.5);
         .angle {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid #44b549;
         }
         .angle1 {
            left: 0;
            top: 0;
            border-right: none;
            border-bottom: none;
         }
         .angle2 {
            right: 0;
            top: 0;
            border-bottom: none;
            border-left: none;
         }
         .angle3 {
            bottom: 0;
            left: 0;
            border-top: none;
            border-right: none;
         }
         .angle4 {
            right: 0;
            bottom: 0;
            border-left: none;
            border-top: none;
         }
      }
   }
   .through-line {
      left: 25%;
      width: 50%;
      height: 1px;
      border-radius: 50%;
      background: #44b549;
      opacity: .4;
      box-shadow: 0 0 5px 2px #44b549;
      position: absolute;
      animation: myfirst 2s linear infinite alternate;
   }
   @keyframes myfirst {
      0% {
         top: 30%;
      }
      25% {
         top: 35%;
      }
      50% {
         top: 40%;
      }
      75% {
         top: 45%;
      }
      100% {
         top: 50%;
      }
   }
   .button-bottom {
      width: 128px;
      position: absolute;
      left: 50%;
      bottom: 80px;
      margin-left: -64px;
      .icon-camera {
         float: left;
      }
   }
}