page-helper-details {
   pointer-events: initial !important;
   -ms-touch-action: initial !important;
   touch-action: initial !important;

   p {
      &:first-child {
         margin: 0;
      }
   }
}