page-particulars-modal-jingpian {
    .item p:last-child {
        font-size: 2rem;
        color: red;
    }
    .result {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span:first-child {
            font-size: 1.7rem;
            color: red;
            margin-right: 10px;
        }
        span:last-child {
            color: #808080;
        }
    }
}