<!--
  Generated template for the CompanyInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>企业资料</ion-title>
		<ion-buttons right>
			<button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
				 <ion-icon name="ios-more"></ion-icon>
			</button>
	  </ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<ng-container *ngIf="data">

		<div class="tit">企业信息</div>
		<div class="list">
			<div class="li">
				<div class="name">企业名称：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.company" [placeholder]="checks?'无':'请填写'" type="text"></ion-input>
			</div>
			<div class="li">
				<div class="name">经营所在地：</div>
				<div class="inp" style="position: relative;">
					<city-picker tappable required item-content cancelText="取消" doneText="完成" separator="-" [citiesData]="cityData" [(ngModel)]="cityName"
					 name="cityName" [disabled]="checks" (ionChange)="cityChange($event)" placeholder="请选择"></city-picker>
				</div>
			</div>
			<div class="li">
				<div class="name">经营地址：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.address" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">注册电话</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.zctel" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">银行开户可许证：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.xk" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">营业执照编号：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.yyzzsn" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">营业执照：</div>
				<div class="camra" tappable *ngIf="!checks">
					<img img-lazy-load="./assets/icon/choosefile.png" alt="">
					<input type="file" (get-image)="params.zhizhao = $event.img_url;zhizhao_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
				</div>
				<div class="camra ui" tappable>
					<img img-lazy-load="{{zhizhao_img || data?.data?.zhizhao || './assets/icon/choosefile_2.png'}}" alt="">
				</div>
			</div>
			<div class="li">
				<div class="name">医疗器械许可证：</div>
				<div class="camra" tappable *ngIf="!checks">
					<img img-lazy-load="./assets/icon/choosefile.png" alt="">
					<input type="file" (get-image)="params.medical = $event.img_url;medical_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
				</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.medical" [disabled]="checks" type="text" value="无"></ion-input>
				<div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.medical)">
					<img img-lazy-load="{{medical_img || data?.data?.medical || './assets/icon/xkz_yl.jpg'}}" alt="">
					<div *ngIf="!(medical_img || data?.data?.medical)" class="sli-fdj " style="    position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					background: rgba(0, 0, 0, 0.5);
					padding-top: 19px;
					color: #ece0e0;
					font-size: 12px;"><span style="    display: block;
					width: 21px;
					height: 30px;
					margin: 0 auto;
					background: url(./assets/icon/dsearch.png) no-repeat center/100%;"></span>示例</div>
				</div>
			</div>
			<div class="li">
				<div class="name">银行开户许可证：</div>
				<div class="camra" tappable *ngIf="!checks">
					<img img-lazy-load="./assets/icon/choosefile.png" alt="">
					<input type="file" (get-image)="params.brank_permit = $event.img_url;brank_permit_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
				</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.brank_permit" [disabled]="checks" type="text" value="无"></ion-input>
				<div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.brank_permit)">
					<img img-lazy-load="{{brank_permit_img || data?.data?.brank_permit || './assets/icon/xkz_yh.jpg'}}" alt="">
					<div *ngIf="!(brank_permit_img || data?.data?.brank_permit)" class="sli-fdj " style="    position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					background: rgba(0, 0, 0, 0.5);
					padding-top: 19px;
					color: #ece0e0;
					font-size: 12px;"><span style="    display: block;
					width: 21px;
					height: 30px;
					margin: 0 auto;
					background: url(./assets/icon/dsearch.png) no-repeat center/100%;"></span>示例</div>
				</div>
			</div>
		</div>
		<div class="tit">法人信息</div>
		<div class="list">
			<div class="li">
				<div class="name">法人姓名：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.fr" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">身份证号：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.code_sn" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">手机号码：</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.mobile" [placeholder]="checks?'无':'请填写'" type="number" value=""></ion-input>
			</div>
			<div class="li">
				<div class="name">身份证正面照片：</div>
				<div class="camra" tappable *ngIf="!checks">
					<img img-lazy-load="./assets/icon/choosefile.png" alt="">
					<input type="file" (get-image)="params.zsfz = $event.img_url;zsfz_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
				</div>
				<div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.zsfz)">
					<img img-lazy-load="{{zsfz_img || data?.data?.zsfz || './assets/icon/choosefile_1.png'}}" alt="">
				</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.zsfz" [disabled]="checks" type="text" value="无"></ion-input>
			</div>
			<div class="li">
				<div class="name">身份证反面照片：</div>
				<div class="camra" tappable *ngIf="!checks">
					<img img-lazy-load="./assets/icon/choosefile.png" alt="">
					<input type="file" (get-image)="params.fsfz = $event.img_url;fsfz_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
				</div>
				<div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.fsfz)">
					<img img-lazy-load="{{fsfz_img || data?.data?.fsfz || './assets/icon/choosefile_3.png'}}" alt="">
				</div>
				<ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.fsfz" [disabled]="checks" type="text" value="无"></ion-input>
			</div>
			<!-- <div class="li">
				<div class="name">营业执照：</div>
				<div class="camra ui" tappable>
					<img img-lazy-load="{{data?.data?.zhizhao}}" alt="">
				</div>
			</div> -->
		</div>
		<div class="submit" padding style="padding-top: 0;" *ngIf="!checks">
			<button ion-button block color="jingku1" (click)="submit()" large>确认</button>
		</div>
	</ng-container>
</ion-content>