<ion-header>

   <ion-navbar>
      <ion-title>{{edit?'来镜加工':'确认信息'}}</ion-title>
   </ion-navbar>

</ion-header>


<ion-content>

   <div class="user-bonus" tappable (click)="userBonus()" *ngIf="!edit&&data&&data?.suppliers_list?.length">
      <span class="usetxt">选择优惠券</span>
      <span class="price" *ngIf="data?.bonus_amount>0">- {{data?.bonus_amount_format}}</span>
   </div>
   <div class="user-bonus_fee"    *ngIf="!edit&&data&&data?.suppliers_list?.length">
      <span class="usetxt">加工费用：</span>
      <span style="color:red">{{poplmonet}}</span>
   </div>   
   <div class="swiper-container" id="page" [class.confirm]="!edit">
      <div class="swiper-wrapper">
         <div class="swiper-slide slidepage" *ngFor="let item of list;let i = index;">
            <div class="main_cfd">
               <header *ngIf="edit" tappable (click)="item.showBody = !item.showBody">
                  <div class="head_title">
                     添加工单
                  </div>
                  <div class="icon-tool">
                     <ion-icon name="ios-add-circle" tappble (click)="addOrder()"></ion-icon>
                  </div>
               </header>
               <section>
                  <div class="choose" *ngIf="edit">
                     <div tappable (click)="edit?goChooseLensRPage(item):item.showBody = !item.showBody">
                        <div class="icon">
                           <span *ngIf="!item?.R">R</span>
                           <img *ngIf="item?.R" [img-lazy-load]="item?.R?.goods_thumb" alt="">
                        </div>
                        <div class="txt">眼镜片-右眼(R)</div>
                     </div>
                     <div tappable (click)="edit?goChooseLensLPage(item):item.showBody = !item.showBody">
                        <div class="icon">
                           <span *ngIf="!item?.L">L</span>
                           <img *ngIf="item?.L" [img-lazy-load]="item?.L?.goods_thumb" alt="">
                        </div>
                        <div class="txt">眼镜片-左眼(L)</div>
                     </div>
                     <div tappable (click)="edit?goChooseFramePage(item):item.showBody = !item.showBody">
                        <div class="icon">
                           <span *ngIf="!item?.J">
                              <img img-lazy-load="./assets/icon/add_cccccc.png" style="width: 30px" alt="">
                           </span>
                           <img *ngIf="item?.J" [img-lazy-load]="(item?.J?.goods_thumb)?(item?.J?.goods_thumb):'./assets/icon/avatar_default.jpg'" alt="">
                        </div>
                        <div class="txt">镜架</div>
                     </div>
                  </div>
                  <div class="card-main">
                     <table>
                        <tr>
                           <td class="name" width=175>
                              <span>加工处方单{{i+1}}</span>
                              <ion-icon tappable (click)="removeOrder($event,i)" *ngIf="edit&&list.length>1" name="ios-trash-outline"></ion-icon>
                           </td>
                           <td style="color: #3f69a5;">右眼</td>
                           <td style="color: #3f69a5;">左眼</td>
                        </tr>
                        <tr>
                           <td class="name">球镜</td>
                           <td style="color: #3f69a5;">{{item?.R?.qiujing || '--'}}</td>
                           <td style="color: #3f69a5;">{{item?.L?.qiujing|| '--'}}</td>
                        </tr>
                        <tr>
                           <td class="name">柱镜</td>
                           <td style="color: #3f69a5;">{{item?.R?.zhujing || '--'}}</td>
                           <td style="color: #3f69a5;">{{item?.L?.zhujing || '--'}}</td>
                        </tr>
                        <tr>
                           <td class="name">轴位</td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.rzhouxiang" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.lzhouxiang" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="name">ADD</td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.radd" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.ladd" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="name">近用瞳距</td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.rjytj" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.ljytj" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="name">瞳距</td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.rtongju" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.ltongju" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td class="name">瞳高</td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.rtonggao" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                           <td>
                              <div ion-item [attr.detail-push]="edit">
                                 <ion-input autocomplete="off" autocorrect="off" [readonly]="!edit" class="inp" clearInput [(ngModel)]="item.ltonggao" [placeholder]="edit?'请填写':'无'" type="text"></ion-input>
                              </div>
                           </td>
                        </tr>
                     </table>

                     <div *ngIf="item?.J" class="eye frame">
                        <div class="h_title">镜架</div>
                        <div class="t_labels">
                           <div class="lab" *ngIf="!is_scanner">镜架来源：{{item?.J?.rec_id?'订单选择':'客户自备'}}</div>
                           <div class="lab">镜架品牌：{{item?.J?.pinpai||'无'}}</div>
                           <div class="lab">镜架型号：{{item?.J?.xinghao||'无'}}</div>
                           <div class="lab">加工类型：{{item?.J?.mach_type_name||'无'}}</div>
                           <div class="lab">镜架备注：{{item?.J?.beizhu||'无'}}</div>
                        </div>
                     </div>
                  </div>
               </section>

            </div>
         </div>
         
         <div class="nomore">
               没有更多加工单了哦
            </div>
      </div>
      <div class="swiper-pagination"></div>
   </div>

   <ion-fab bottom right class="addBtn" scroll-to-top>
      <button ion-fab mini color="jingku1" goBackTop></button>
   </ion-fab>
   
</ion-content>

<ion-footer>
   <ion-toolbar>
      <div slideInUp>
         <button *ngIf="edit" ion-button round large full (click)="confirm()" color="jingku1" no-margin>确认信息</button>
         <button *ngIf="!edit" ion-button round large full (click)="submit()" color="jingku1" no-margin>提交</button>
      </div>
   </ion-toolbar>
</ion-footer>