page-add-process,page-add-process-scanner {
   .add_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e60000;
      padding: 10px 0;
      font-weight: 500;
      background-color: #fff;
      margin: 12px;
      .icon {
         font-weight: 500;
         margin-right: 7px;
      }
   }
   .main_cfd {
      margin-top: 10px;
      border-top: 1px solid #fafafa;
      margin-bottom: 10px;
      header {
         background-color: #fff;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 12px 21px;
         .head_title {
            color: #4d4d4d; // margin-bottom: 5px;
         }
         .icon-tool {
            .icon {
               color: #b8b8b8;
               font-size: 22px;
            }
         }
         .head_msg {
            color: #37baa1;
            font-size: 1.2rem;
         }
      }
      section {
         .choose {
            display: flex;
            justify-content: space-around;
            padding: 0px 1%;
            background-color: #fff;
            padding-bottom: 10px;
            border-bottom: 1px solid #fafafa;
            >div {
               background: #f7f7f7;
               display: flex;
               flex-direction: column;
               align-items: center;
               padding: 18px 0;
               margin: 0 1%;
               flex: 1;
               &:last-child {}
               .icon {
                  font-size: 3rem;
                  height: 47px;
                  color: #cccccc;
                  margin-bottom: 6px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                     height: 100%;
                  }
               }
               .img {}
               .txt {
                  color: #666666;
                  font-size: 12px;
               }
            }
         }
         .pro_main {
            display: flex;
            flex-wrap: wrap;
            .eye {
               padding: 10px 13px;
               background: #fff;
               border-bottom: 1px solid #fafafa;
               padding-bottom: 0;
               flex-shrink: 0;
               flex: 1;
               .h_title {
                  color: #3f69a5;
                  margin-bottom: 10px;
                  font-size: 1.4rem;
               }
               .t_labels {
                  display: flex;
                  flex-wrap: wrap;
                  margin-top: 10px;
                  .lab {
                     border: 1px solid #3f69a5;
                     color: #3f69a5;
                     font-size: 1.3rem;
                     padding: 4px 4px;
                     margin: 0 4px 8px 0;
                     border-radius: 3px;
                     font-size: 1rem;
                     &:last-child{
                        margin-right: 0;
                     }
                  }
               }
               .m_list {
                  .li {
                     font-size: 1.3rem;
                     display: flex;
                     border-top: 1px solid #fafafa;
                     align-items: center;
                     padding-left: 3px;
                     &.has_lab {
                        padding-right: 0;
                     }
                     .name {
                        white-space: nowrap;
                        color: #666666;
                        flex-basis: 64px;
                     }
                     .inp {
                        flex: 1;
                        color: #666666;
                        border: none;
                        input {
                           margin: 16px 0;
                        }
                     }
                     .labels {
                        @extend .t_labels;
                     }
                  }
               }
               &.right_eye{
               }
               &.left_eye{

               }
               &.frame{
                  min-width: 100%;
               }
            }
         }
      }
   }
}