<!--
  Generated template for the ImgTabs2 component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="show">
    <img (click)="goParticulars()" src="{{ slides?slides[selectedIndex]?.goods_img:'' }}" alt="">
</div>
<div class="pick">
    <ion-slides class="slide-title" [slidesPerView]="pageNumber" paginationHide='true' paginationClickable='true'>
        <ion-slide *ngFor="let slide of slides; let i = index;">
            <div (click)="onClick(i)">
                <div class="slide-title-unit" [ngClass]="{'slide-title-active': selectedIndex == i}">
                    <div class="img"><img src="{{slide?.thumb}}" alt=""></div>
                    <div class="info">
                        <div class="name">{{slide?.name}}</div>
                        <div class="price">{{slide?.market_price}}</div>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div>
                <div class="slide-title-unit">
                    <div class="watch-more">
                        <p>查&nbsp;看</p>
                        <p>更&nbsp;多</p>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</div>