page-login-by-phone {
    .yzm {
        display: flex;
        .get_yzm {
            border-left: 1px solid #e6e6e6;
            background: #fff;
            display: flex;
            align-items: center;
        }
    }
}