page-detail-erweima {
    .erweima-code-erea {
        width: 25rem;
        height: 32rem;
        background: #f8f8f8;
        border-radius: 10%;
        .code-tit {
            height: 15%;
            font-size: 2rem;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #e0e0e0;
        }
        .code-box {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 85%;
                margin-top: 5%;
            }
        }
        p {
            color: #666;
            text-align: center;
        }
    }
}