page-repair-return {
    .toolbar {
        .segment-ios {
            width: 76%;
            margin: auto
        }
    }
    .mysearchbar {
        .toolbar-background-md {
            background-color: #f5f5f5;
        }
        .searchbar-ios .searchbar-input {
            background: #fff;
        }
    }
}