page-signup-second {
    .content .list-wrap{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
        .item-label-fixed{
            min-height: 62px;
        }
    }
    .tool{
        display: flex;
        justify-content: space-between; 
        .login{
            float: right; 
            margin-bottom: 20px;
            .text{
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                color: #999;    
            }
        }
    }
    
    .btn-register{
        width: 80%;
        margin: 0 auto;
    }
}
