page-home {
    .search-view {
        background: url(../assets/icon/homepage_06.png) 4px center no-repeat;
        background-size: 12px;
        .search {
            padding-left: 15px;
            color: #e6e6e6;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    .add_icon {
        margin-right: 5px;
    }
    .banner-wrapper ion-slide img {
        width: 100%;
        // height: 200px;
    }
    .btn-tool {
        background-color: #fff;
    }
    .btn-tool .top,
    .btn-tool .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            color: #666;
            img {
                width: 42px;
                margin-bottom: 7px;
            }
        }
    }
    .parting-line {
        height: 10px;
        background-color: #efefef;
    }
    .home-content .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .txt {
            border-left: 10px solid #000;
            font-weight: 700;
            font-size: 2rem;
            padding-left: 5px;
        }
        .more {
            color: #666;
        }
    }
    .hot-group {
        .main {
            .banner img {
                width: 100%;
                display: block;
            }
        }
        ion-grid {
            padding: 0;
            border-left: 1px #e0e0e0 solid;
            ion-col[width-33] {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                color: #454545;
                padding: 7px;
                border-right: 1px #e0e0e0 solid;
                border-bottom: 1px #e0e0e0 solid;
                min-height: 6rem;
                img {
                    width: 100%;
                }
            }
        }
    }
    .hot-brand {
        .main {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            >div {
                width: 25%;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                height: 90px;
                overflow: hidden;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    width: 100%;
                }
                &:last-child {
                    width: 50%;
                }
            }
        }
    }
    .handpick {
        .main {
            .pick {
                /*
                height: 150px;
                white-space: nowrap;
                overflow: hidden;
                ion-scroll {
                    height: 100%;
                    .scroll-content {
                        padding: 16px 0 16px;
                        .scroll-zoom-wrapper div {
                            margin-right: 10px;
                        }
                    }
                }
                div {
                    height: 100%;
                    display: inline-block;
                    img {
                        height: 100%;
                    }
                }*/
            }
        }
    }
    .good-shop {
        .main {
            ion-slides {
                .swiper-slide {
                    padding: 20px;
                }
            }
        }
    }
    .hot-other {
        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card-wrap {
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                width: 49%;
                margin-bottom: 5px;
                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px -3px 6px #e6e6e6 inset;
                }
                .info {
                    .text {
                        color: #808080;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }
                    .price {
                        color: #e60000;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}