page-home {
    .search-view {
        background: url(../assets/icon/homepage_06.png) 4px center no-repeat;
        background-size: 12px;
        .search {
            padding-left: 15px;
            color: #e6e6e6;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
    .add_icon {
        margin-right: 5px;
    }
    .banner-wrapper ion-slide img {
        width: 100%;
        // height: 200px;
    }
    .btn-tool {
        background-color: #fff;
    }
    .btn-tool .top,
    .btn-tool .bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            color: #666;
            img {
                width: 42px;
                margin-bottom: 7px;
            }
        }
    }
    .home-content .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .txt {
            border-left: 10px solid #000;
            font-weight: 700;
            font-size: 2rem;
            padding-left: 5px;
        }
        .more {
            color: #666;
        }
    }
    /*——————————————————————————————————————————热门品类——————————————————————————————————————————*/
    .hot-group {
        .main {
            .banner img {
                width: 100%;
                display: block;
            }
        }
        ion-grid {
            padding: 0;
            border-left: 1px #e0e0e0 solid;
            ion-col[width-33] {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                color: #454545;
                padding: 7px;
                border-right: 1px #e0e0e0 solid;
                border-bottom: 1px #e0e0e0 solid;
                min-height: 6rem;
                img {
                    width: 100%;
                }
            }
        }
    }
    /*——————————————————————————————————————————热门品牌——————————————————————————————————————————*/
    .hot-brand {
        .main {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            >div {
                width: 25%;
                border-right: 1px solid #e0e0e0;
                border-bottom: 1px solid #e0e0e0;
                height: 90px;
                overflow: hidden;
                display: flex;
                align-items: center;
                img {
                    display: block;
                    width: 100%;
                }
                &:last-child {
                    width: 50%;
                }
            }
        }
    }
    /*——————————————————————————————————————————精选专题——————————————————————————————————————————*/
    .handpick {
        .main {
            margin-bottom: 10px;
        }
    }
    /*——————————————————————————————————————————好店推荐——————————————————————————————————————————*/
    .good-shop {
        .main {
            ion-slides {
                .swiper-slide {
                    padding: 0 20px 20px;
                    margin-bottom: 10px;
                    .card {
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .collect {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            justify-content: space-between;
                            color: #fff;
                            padding: 10px;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
    /*——————————————————————————————————————————热门单品——————————————————————————————————————————*/
    .hot-other {
        .main {}
    }
}