<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button clear icon-only icon-left [navPush]="cityPage">
                    <img src="./assets/icon/homepage_03.png" width="20px" class="add_icon">
                    北京
                </button>
        </ion-buttons>
        <div style="position: relative">
            <ion-searchbar placeholder="搜索镜库上平/店铺" animated mode="ios"></ion-searchbar>
            <div class="mark-searchbar" [navPush]="SearchPage"></div>
        </div>

        <ion-buttons right>
            <button ion-button clear icon-only icon-left [navPush]="MessagePage"><img src="./assets/icon/homepage_09.png" width="20px"></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content (ionScrollEnd)="scrollHeight()">
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
        <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
    </ion-refresher>
    <div class="banner-wrapper" *ngIf="bannerImgs">
        <ion-slides #bannerSlide autoplay="4000" loop="false" pager>
            <ion-slide *ngFor="let item of bannerImgs">
                <img (click)="clickBanner(item)" [src]="item.ad_img" />
            </ion-slide>
        </ion-slides>
    </div>
    <div class="btn-tool" padding>
        <div class="top">
            <div [navPush]="PresellPage">
                <div class="img">
                    <img src="./assets/icon/yushou.png" alt="">
                </div>
                <span>预售</span>
            </div>
            <div [navPush]="RechargePage">
                <div class="img">
                    <img src="./assets/icon/home_5_05.png" alt="">
                </div>
                <span>充值</span>
            </div>
            <div [navPush]="FastbuyPage">
                <div class="img">
                    <img src="./assets/icon/home_5_07.png" alt="">
                </div>
                <span>闪购</span>
            </div>
            <div>
                <div class="img">
                    <img src="./assets/icon/home_5_09.png" alt="">
                </div>
                <span>品牌</span>
            </div>
        </div>
        <div class="bottom">
            <div [navPush]="WhitebarPage">
                <div class="img">
                    <img src="./assets/icon/home_5_15.png" alt="">
                </div>
                <span>白条</span>
            </div>
            <div [navPush]="DiscountCouponPage">
                <div class="img">
                    <img src="./assets/icon/home_5_16.png" alt="">
                </div>
                <span>优惠券</span>
            </div>
            <div [navPush]="IntegralstorePage">
                <div class="img">
                    <img src="./assets/icon/home_5_18.png" alt="">
                </div>
                <span>积分商城</span>
            </div>
            <div [navPush]="GlassesDesignPage">
                <div class="img">
                    <img src="./assets/icon/home_5_20.png" alt="">
                </div>
                <span>镜库设计</span>
            </div>

        </div>
    </div>
    <div class="background"></div>
    <!--——————————————————————————————————————————热门类型——————————————————————————————————————————-->
    <div class="hot-group home-content" *ngIf="categoryAddetatils" padding>
        <div class="title">
            <span class="txt">热门品类</span>
            <span class="more">更多&gt;</span>
        </div>
        <div class="main">
            <div class="banner">
                <img src="./assets/icon/images/brand_1_20.jpg" alt="">
            </div>
            <ion-grid>
                <ion-row wrap>
                    <ion-col *ngFor="let item of categoryAddetatils" [navPush]="BrandListPage" [navParams]="{listId:item.ad_id}" width-33>
                        <img src="{{item.ad_img}}" alt="">
                        <!--<span>隐形眼镜</span>-->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="background"></div>
    <!--——————————————————————————————————————————热门品牌——————————————————————————————————————————-->
    <div class="hot-brand home-content" *ngIf="getBrands" padding>
        <div class="title">
            <span class="txt">热门品牌</span>
            <span class="more">更多&gt;</span>
        </div>
        <div class="main">
            <div *ngFor="let item of getBrands">
                <img src="{{item.brand_logo}}" alt="{{item.brand_name}}">
            </div>
            <div>
                <img src="./assets/icon/homepage_53.png" alt="">
            </div>
        </div>
    </div>
    <div class="background"></div>
    <!--——————————————————————————————————————————精选专题——————————————————————————————————————————-->
    <div class="handpick home-content" *ngIf="getCategoryRecommendGoodsHot&&getCategoryRecommendGoodsBest&&getCategoryRecommendGoods" padding>
        <div class="title">
            <span class="txt">精选专题</span>
        </div>
        <div class="show" *ngFor="let item of jingxuan_img1?.data">
            <img src="{{item.ad_img}}" alt="">
        </div>
        <div class="pick">
            <ion-slides class="slide-title" slidesPerView="3">
                <ion-slide *ngFor="let slide of getCategoryRecommendGoodsHot; let i = index;">
                    <div (click)="goParticularsPage(slide.id)">
                        <div class="slide-title-unit">
                            <div class="img"><img src="{{slide?.thumb}}" alt=""></div>
                            <div class="info">
                                <div class="name">{{slide?.name}}</div>
                                <div class="price">{{slide?.market_price}}</div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <div class="slide-title-unit">
                            <div class="watch-more">
                                <p>查&nbsp;看</p>
                                <p>更&nbsp;多</p>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="show" *ngFor="let item of jingxuan_img2?.data">
            <img src="{{item.ad_img}}" alt="">
        </div>
        <div class="pick">
            <ion-slides class="slide-title" slidesPerView="3">
                <ion-slide *ngFor="let slide of getCategoryRecommendGoods; let i = index;">
                    <div (click)="goParticularsPage(slide.id)">
                        <div class="slide-title-unit">
                            <div class="img"><img src="{{slide?.thumb}}" alt=""></div>
                            <div class="info">
                                <div class="name">{{slide?.name}}</div>
                                <div class="price">{{slide?.market_price}}</div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <div class="slide-title-unit">
                            <div class="watch-more">
                                <p>查&nbsp;看</p>
                                <p>更&nbsp;多</p>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="show" *ngFor="let item of jingxuan_img3?.data">
            <img src="{{item.ad_img}}" alt="">
        </div>
        <div class="pick">
            <ion-slides class="slide-title" slidesPerView="3">
                <ion-slide *ngFor="let slide of getCategoryRecommendGoodsBest; let i = index;">
                    <div (click)="goParticularsPage(slide.id)">
                        <div class="slide-title-unit">
                            <div class="img"><img src="{{slide?.thumb}}" alt=""></div>
                            <div class="info">
                                <div class="name">{{slide?.name}}</div>
                                <div class="price">{{slide?.market_price}}</div>
                            </div>
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div>
                        <div class="slide-title-unit">
                            <div class="watch-more">
                                <p>查&nbsp;看</p>
                                <p>更&nbsp;多</p>
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
        <!--<div class="main" *ngIf="getCategoryRecommendGoodsHot">
            <img-tabs2 (slideClick)="onSlideClick($event)" [slides]="getCategoryRecommendGoodsHot" [pageNumber]="3"></img-tabs2>
        </div>
        <div class="main" *ngIf="getCategoryRecommendGoods">
            <img-tabs2 (slideClick)="onSlideClick($event)" [slides]="getCategoryRecommendGoods" [pageNumber]="3"></img-tabs2>
        </div>
        <div class="main" *ngIf="getCategoryRecommendGoodsBest">
            <img-tabs2 (slideClick)="onSlideClick($event)" [slides]="getCategoryRecommendGoodsBest" [pageNumber]="3"></img-tabs2>
        </div>-->
    </div>
    <div class="background"></div>
    <!--——————————————————————————————————————————好店推荐——————————————————————————————————————————-->
    <div class="good-shop home-content" *ngIf="bannerImgs" padding>
        <div class="title">
            <span class="txt">好店推荐</span>
            <span class="more">更多&gt;</span>
        </div>
        <div class="main">
            <ion-slides loop="true" parallax="true" pager>
                <ion-slide *ngFor="let item of bannerImgs">
                    <ion-card>
                        <img src="{{item?.ad_img}}" />
                        <div class="collect">
                            <div class="left">
                                <ion-icon name="md-heart-outline"></ion-icon>
                                <ion-icon name="md-heart"></ion-icon>收藏
                            </div>
                            <div class="right">21212121人已收藏</div>
                        </div>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="background"></div>
    <!--——————————————————————————————————————————热门单品——————————————————————————————————————————-->
    <div class="hot-other home-content" *ngIf="getCategoryRecommendGoodsHot" padding>
        <div class="title">
            <span class="txt">热门单品</span>
            <span class="more" [navPush]="BrandListPage" [navParams]="{list:'singleHot'}">更多&gt;</span>
        </div>
        <div class="main">
            <single-foods-card [data]="getCategoryRecommendGoodsHot"></single-foods-card>
        </div>
    </div>
    <ion-fab right bottom *ngIf="showBackTopBtn" (click)="scrollToTop()">
        <button ion-fab color="dark" mini><img width="75%" src="./assets/icon/gotop.png" alt=""></button>
    </ion-fab>
    <!--<button ion-button [navPush]="DirectiveTestPage">direvtive test</button>-->
</ion-content>