<ion-header>

    <ion-navbar>
        <ion-title>预售</ion-title>
    </ion-navbar>

</ion-header>


<ion-content parallax-header>
    <div class="header-image">
        <img src="./assets/images/images/yushou_01_02.jpg" alt="">
    </div>

    <div class="main-content">
        <div class="fore fore1">
            <div class="banner">
                <div class="top-scrollbar">
                    <div *ngFor="let item of getCategorys;let i = index" tappable (click)="getList(i)">
                        <div class="select" *ngIf="checkedIndex==i"></div>
                        <div>
                            <img *ngIf="i==0" [img-lazy-load]="checkedIndex==0?'./assets/icon/sg/11.png':'./assets/icon/sg/1.png'" alt="">
                            <img *ngIf="i==1" [img-lazy-load]="checkedIndex==1?'./assets/icon/sg/22.png':'./assets/icon/sg/2.png'" alt="">
                            <img *ngIf="i==2" [img-lazy-load]="checkedIndex==2?'./assets/icon/sg/33.png':'./assets/icon/sg/3.png'" alt="">
                            <img *ngIf="i==3" [img-lazy-load]="checkedIndex==3?'./assets/icon/sg/44.png':'./assets/icon/sg/4.png'" alt="">
                            <img *ngIf="i==4" [img-lazy-load]="checkedIndex==4?'./assets/icon/sg/55.png':'./assets/icon/sg/5.png'" alt="">
                            <img *ngIf="i==5" [img-lazy-load]="checkedIndex==5?'./assets/icon/sg/66.png':'./assets/icon/sg/6.png'" alt="">
                            <img *ngIf="i==6" [img-lazy-load]="checkedIndex==6?'./assets/icon/sg/77.png':'./assets/icon/sg/7.png'" alt="">
                            <img *ngIf="i==7" [img-lazy-load]="checkedIndex==7?'./assets/icon/sg/88.png':'./assets/icon/sg/8.png'" alt="">
                            <img *ngIf="i==8" [img-lazy-load]="checkedIndex==8?'./assets/icon/sg/99.png':'./assets/icon/sg/9.png'" alt="">
                        </div>
                        <span>{{item.cat_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ion-list>
            <div class="nomore" *ngIf="data?.data?.length<=0">该分类下暂无预售</div>
            <div class="fore singleton" *ngFor="let item of data?.data">
                <div class="left">
                    <div class="img-wrap">
                        <img img-lazy-load="http://img.jing-ku.com/{{item.goods_img}}" alt="">
                        <div class="time">
                            <ion-icon name="ios-time-outline"></ion-icon>
                            <countdown endDate="{{item.pre_end_date}}"></countdown>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="title">{{item.name}}</div>
                    <div class="strip">
                        <div class="wrap">
                            <div [ngStyle]="{'width.%':item.sales_num/item.goods_number*100}"></div>
                        </div>
                        <div class="number">
                            <span>已抢购{{item.sales_num+item.unit}}</span>
                            <span>仅剩{{item.goods_number+item.unit}}</span>
                        </div>
                    </div>
                    <div class="price">
                        <div class="red">{{item.promote_price}}</div>
                        <div class="old-price">{{item.shop_price}}</div>
                        <div ion-button color="dark" no-margin tappable (click)="goParticularsPage(item.id)">立即购买</div>
                    </div>
                </div>
            </div>
        </ion-list>
    </div>
    <!--<ion-fab left bottom>
        <button ion-fab color="dark" mini>
            {{data?.page}}/{{data?.pages}}
        </button>
    </ion-fab>-->
    <ion-fab right bottom>
        <button ion-fab color="dark" mini goBackTop (click)="scrollToTop()"></button>
    </ion-fab>

    <ion-infinite-scroll></ion-infinite-scroll>
</ion-content>