<!--
  Generated template for the AccountMoneyDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>收支明细</ion-title>
        <ion-buttons right>
            <button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
                <ion-icon name="ios-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="no-list" *ngIf="data&&!data?.list?.length">
        <div class="img">
            <img src="./assets/icon/no-log.png" alt="">
        </div>
        <div class="title">暂无收支明细</div>
    </div>
    <ion-list>
        <ion-item *ngFor="let item of data?.list">
            <h2 style="font-size:1.5rem;">{{item.title}}</h2>
            <p>{{item.change_time}}</p>
            <span item-right ion-text [color]="item.number>0?'danger':'dark'">{{item.number}}</span>
        </ion-item>
    </ion-list>

    <ion-fab right bottom *ngIf="data?.pages" scroll-to-top>
        <button ion-fab mini goBackTop></button>
    </ion-fab>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="flag">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>