page-message-details {
    .period {
        .card {
            box-shadow: initial;
        }
        .time {
            margin: 16px 0;
            text-align: center;
            font-size: 1rem;
            span {
                background: #d1d1d1;
                padding: 6px 11px;
                border-radius: 15px;
                color: #fff;
                margin: 0 auto;
            }
        }
        .title {
            padding-left: 16px;
            font-size: 1.6rem;
            padding-top: 10px;
            .red {
                color: #f60000;
            }
        }
        .userTidings-msg-content {
            white-space: normal;
            font-size: 1.4rem;
            padding: 10px 16px 15px;
        }
    }
}