page-orders-detail {
    .content {
        background: #f7f7f7;
        .fore1 {
            display: flex;
            justify-content: space-between;
            background: #fff;
            div:first-child {
                color: #666;
            }
            div:last-child {
                color: #e60000;
                font-size: 1.6rem;
            }
        }
        .fore2 {
            margin: 0 0 10px 0;
            background: url(../assets/images/images/allorders_1_03.png) 10px top repeat-x, url(../assets/images/images/allorders_1_03.png) 10px bottom repeat-x;
            background-color: #fff;
            color: #666;
            padding: 20px 10px;
            .user {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                .name {
                    font-size: 1.6rem;
                }
                .phone {
                    color: #333;
                }
            }
        }
        .fore3 {
            padding: 0 10px;
            margin-bottom: 10px;
            background: #fff;
            .item {
                border-bottom: 1px solid #e0e0e0;
                &:last-child {
                    border: none;
                }
                [item-content] {
                    .my-content {
                        display: flex;
                        color: #4d4d4d;
                        .left {
                            color: #999;
                            font-size: 1.2rem;
                            h2 {
                                color: #4d4d4d;
                                white-space: pre-wrap;
                                font-size: 1.6rem;
                                text-overflow: -o-ellipsis-lastline;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                margin-bottom: 10px;
                            }
                        }
                        .right {
                            color: #000;
                            text-align: right;
                            min-width: 80px;
                            .count {
                                margin-top: 10px;
                                color: #999;
                            }
                            .button {
                                background: #e6e6e6;
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
        .fore4 {
            background: #fff;
            padding: 0 10px;
            color: #808080;
            line-height: 2.3rem;
            .top {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #e0e0e0;
            }
            .bottom {
                padding: 10px 0;
                div:first-child {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .fore5 {
            padding: 10px;
            color: #808080;
            background: #fff;
            line-height: 2.3rem;
            margin-bottom: 10px;
            .top {
                border-bottom: 1px solid #e0e0e0;
                padding-bottom: 10px;
                >div {
                    display: flex;
                    justify-content: space-between;
                    .price {
                        color: #e60000;
                    }
                }
            }
            .bottom {
                padding: 10px 0;
                text-align: right;
                .price {
                    color: #e60000;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }
    }
    ion-footer {
        .result {
            text-align: right;
            color: #808080;
            background: #fff;
            padding: 10px;
            border-top: 1px solid #e0e0e0;
            .price {
                color: #e60000;
                font-size: 1.6rem;
                margin-left: 10px;
                font-weight: 500;
            }
        }
        .foot-button {
            display: flex;
        }
    }
}