<!--
  Generated template for the OrderPayOverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>订单支付完成</ion-title>
		<ion-buttons right>
			<button ion-button clear (click)="goAllorder()">完成</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content>
	<ng-container *ngIf="data">

		<section class="fore fore1">
			<div class="main">
				<div>
					<img src="./assets/icon/pay_over.png" alt="">
				</div>
				<div class="text_wrap">
					<span>支付方式：
						<span>{{data?.pay_name}}</span>
					</span>
					<span>订单金额：
						<span>{{data?.amout}}</span>
					</span>
				</div>
			</div>
			<button ion-button large block outline color="gray" (click)="goHome()">返回首页</button>
			<button ion-button large block color="jingku1" (click)="goAllorder()">查看订单</button>
			<p class="careful">注意：镜库平台及销售商不会以订单异常、系统升级为由要求您点击任何 网站链接进行退款操作。</p>
		</section>
		<section class="fore fore2">
			<div class="supplier" *ngFor="let item of data?.order_list">
				<div class="logo" tappable (click)="pushPage('ParticularsHomePage',{suppliers_id:item.suppliers_id})">
					<img src="{{item.logo}}" alt="">
				</div>
				<div class="main">
					<h2>{{item.suppliers_name}}</h2>
					<button ion-button icon-left small outline color="jingku1" style="font-size: 1rem;" (click)="collectStore(item)" [ngClass]="{'heart':item.supp_select}">
						<ion-icon [name]="item.supp_select?'ios-heart':'ios-heart-outline'"></ion-icon>
						<span>{{item.supp_select?'已关注':'关注'}}</span>
					</button>
				</div>
			</div>
		</section>
	</ng-container>
</ion-content>