<ion-content>
    <div style="position: absolute;
                top: 2px;
                right: 10px;
                font-size: 3rem;
                z-index: 11;
                padding: 0 10px;
                color: #666;" (click)="dismiss()">
        <ion-icon name="ios-close-outline"></ion-icon>
    </div>
    <ion-item no-lines class="head">
        <ion-thumbnail item-left>
            <img img-lazy-load="{{data?.goods_info?.goods_thumb}}">
        </ion-thumbnail>
        <h2 margin-right>{{data?.goods_info?.goods_name}}</h2>
        <p>商品编号：{{data?.goods_info?.goods_sn}}</p>
        <p>¥{{data?.goods_info?.shop_price}}</p>
    </ion-item>
    <div *ngIf="type=='goods'" class="main goods_main">
        <!-- is_subsidy 是否显示促销价 -->
        <div class="main-attr-wrap" *ngIf="mainAttrs">
            <div ion-button [outline]="item.id!=checkMainAttrId" class="main-attr" small *ngFor="let item of mainAttrs.values" tappable
                (click)="checkMainAttrId=item.id;checkMainAttrNum=item.number||1;checkMainAttr()">{{item.label}}</div>
        </div>
        <!-- <table>
            <tr>
                <th>数量</th>
                <th *ngIf="attrsList?.data[0].is_subsidy">促销价</th>
                <th *ngIf="attrsList?.data[0].is_subsidy">原价</th>
                <th *ngIf="!attrsList?.data[0].is_subsidy">价格</th>
                <th *ngFor="let item of attrsList?.data[0].goods_attr">{{item.attr_name}}</th>
                <th>库存</th>
            </tr>
            <tr *ngFor="let item of attrsList?.data">
                <td class="count-input-box">
                    <count-input  [maxValue]="item.product_number" [rank]="checkMainAttrNum" [(value)]="item.goods_attr_number" (valueChange)="numberIChange(item)"></count-input>
                </td>
                <td *ngIf="item.is_subsidy">{{item.price}}</td>
                <td *ngIf="item.is_subsidy">{{item.old_price}}</td>
                <td *ngIf="!item.is_subsidy">{{item.price}}</td>
                <td *ngFor="let group of item.goods_attr">{{group.attr_val}}</td>
                <td>{{item.product_number}}</td>
            </tr>
        </table> -->
        <div style="text-align: center;" *ngIf="!attrsList">
            <ion-spinner name="crescent"></ion-spinner>
        </div>
        <div style="text-align: center;" *ngIf="attrsList&&!attrsList.status">属性获取失败</div>
        <div class="tabelbox" *ngIf="attrsList">
            <div class="table">
                <div class="tr">
                    <div class="td-wrap">
                        <div class="td">数量</div>
                        <div class="td" *ngIf="attrsList?.data[0]?.is_subsidy">促销价</div>
                        <div class="td" *ngIf="attrsList?.data[0]?.is_subsidy">原价</div>
                        <div class="td" *ngIf="!attrsList?.data[0]?.is_subsidy">价格</div>
                        <div class="td" *ngFor="let item of attrsList?.data[0]?.goods_attr">{{item.attr_name}}</div>
                        <div class="td">库存</div>
                    </div>
                </div>
                <div class="tr" *ngFor="let item of attrsList?.data">
                    <div class="td-wrap">
                        <div class="td count-input-box">
                            <count-input [maxValue]="item.product_number" [rank]="checkMainAttrNum" [(value)]="item.goods_attr_number" (valueChange)="numberIChange(item)"></count-input>
                        </div>
                        <div class="td" *ngIf="item.is_subsidy">{{item.price}}</div>
                        <div class="td" *ngIf="item.is_subsidy">{{item.old_price}}</div>
                        <div class="td" *ngIf="!item.is_subsidy">{{item.price}}</div>
                        <div class="td" *ngFor="let group of item.goods_attr">{{group.attr_val}}</div>
                        <div class="td">{{item.product_number}}</div>
                    </div>
                    <div class="other-attr" *ngIf="item.alone_attr?.length">
                        <span *ngFor="let group of item.alone_attr">
                            {{group.attr_name+'：'+group.attr_val}}&nbsp;
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="type=='goods_spectacles'" class="main goods_spectacles_main">
        <!-- <div class="title">请选择蔡司1.56非球面镜片信息</div> -->
        <div class="fore" *ngFor="let it of goods;let i=index">
            <div class="top">
                <ion-select placeholder="选择球镜" [(ngModel)]="it.qiujing" (ionChange)="qiujingChange(it);attrChange(it)" [selectOptions]="{title: '选择球镜'}"
                    okText="确定" cancelText="取消">
                    <ion-option *ngFor="let item of data.spectacles_properties.list">{{item}}</ion-option>
                </ion-select>
                <ion-select [disabled]="!it.getZhujingList" [(ngModel)]="it.zhujing" (ionChange)="attrChange(it)" placeholder="选择柱镜" [selectOptions]="{title: '选择柱镜'}"
                    okText="确定" cancelText="取消">
                    <ion-option *ngFor="let item of it.getZhujingList?.data">{{item}}</ion-option>
                </ion-select>
                <div class="input" *ngIf="data?.goods_info?.zhouwei==1">
                    <input type="text" [(ngModel)]="it.zhouwei" placeholder="轴位">
                </div>
                <ion-select *ngFor="let item of data.specification;let i=index" (ionChange)="attrChange(it)" [(ngModel)]="it[item.name]"
                    placeholder="{{item.name}}" [selectOptions]="{title: item.name}" okText="确定" cancelText="取消">
                    <ion-option *ngFor="let item1 of item?.values" value="{{item1.id}}">{{item1.label}}</ion-option>
                </ion-select>
            </div>
            <div class="bottom">
                <div>¥{{it.price||'0.00'}}&nbsp;&nbsp;&nbsp;
                    <span class="youhui" *ngIf="it.youhui>0">优惠：¥{{it.youhui}}</span>
                </div>
                <div>
                    <ion-icon tappable (click)="removeJPByIndex($event,i)" *ngIf="goods&&goods.length>1" name="ios-trash-outline"></ion-icon>
                    <count-input [(value)]="it.number" (valueChange)="jingpianNumberChange($event,it)"></count-input>
                </div>
            </div>
        </div>

        <div class="handle">
            <button ion-button color="light" (click)="increasedJP()">点击新增一行 ＋</button>
            <button ion-button [disabled]="goods?.length<=1" color="light" (click)="removeJP()">点击删除一行 －</button>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="result">
            <span>共{{numberChangeData?.number||totalNumber||0}}件</span>
            <span>合计：¥{{numberChangeData?.goods_total||totalPrices||0 | tofixed}}</span>
        </div>
    </ion-toolbar>
    <div class="btns">
        <button color="jingku1" no-margin ion-button large full class="modal-button" (click)="addToCart()">加入购物车</button>
        <button color="jingku2" no-margin ion-button large full class="modal-button" (click)="goCarPage() ">立即购买</button>
    </div>
</ion-footer>
<!--    <div class="main">
        <ion-grid>
            <ion-row align-items-center class="table-head">
                <ion-col>价格</ion-col>
                <ion-col *ngFor="let item of data.data[0].goods_attr">{{item.attr_name}}</ion-col>
                <ion-col>库存</ion-col>
                <ion-col style="min-width: 150px;" col-2>数量</ion-col>
            </ion-row>
            <ion-row align-items-center *ngFor="let item of data.data">
                <ion-col class="price">{{item.price}}</ion-col>
                <ion-col *ngFor="let group of item.goods_attr">{{group.attr_val}}</ion-col>
                <ion-col>{{item.product_number}}</ion-col>
                <ion-col col-2>
                    <count-input (valueChange)="numberIChange($event)"></count-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>-->