page-particulars-modal-attr {
    .toolbar {
        min-height: 44px;
    }
    .head {
        h2 {
            color: #666;
            @include ellipsis_2;
        }
    }
    .item p {
        font-size: font-size-text('h5');
        &:last-child {
            font-size: font-size-text('h3');
            color: red;
        }
    }
    .price {
        color: map-get($colors, danger);
    }
    .goods_main {
        color: #808080;
        font-size: font-size-text('h4');
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        .main-attr-wrap {
            margin-bottom: 10px;
            background: #fff;
            display: flex;
            padding: 5px 0;
            overflow: scroll;
            .main-attr {
                border: #333 1px solid;
                border-radius: 4px;
                padding: 5px 10px;
                margin: 6px;
            }
        }
        /* —————————————————————————————————————————————————— */
        table {
            min-width: 100%;
            tr {
                height: 40px;
                border-bottom: $border;
                td.count-input-box {
                    padding-left: 10px;
                    padding-right: 10px;
                    count-input {
                        margin: 0 auto;
                    }
                }
                &:last-child {
                    border: 0;
                }
                th {
                    min-width: 74px;
                    font-weight: 500;
                }
                td {
                    text-align: center;
                    &:first-child {
                        color: #e60000;
                    }
                }
            }
        }
        /* —————————————————————————————————————————————————— */
        .tabelbox {
            display: flex;
            overflow: scroll;
            .table {
                flex: 1;
                background: #fff;
                .tr {
                    border-bottom: $border;
                    color: #808080;
                    padding: 10px 0;
                    .td-wrap {
                        display: flex;
                        align-items: center;
                        .td {
                            min-width: 74px;
                            margin: 0 10px;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex: 1;
                            &:first-child {
                                min-width: 100px;
                            }
                            .td.count-input-box {
                                padding-left: 10px;
                                padding-right: 10px;
                                count-input {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                    .other-attr {
                        text-align: left;
                        color: #b3b3b3;
                        font-size: 1.2rem;
                        padding-right: 20px;
                        margin-top: 10px;
                        padding: 0 10px;
                    }
                }
            }
        }
        /* —————————————————————————————————————————————————— */
    }
    .goods_spectacles_main {
        .title {
            background: #fff;
            color: #808080;
            padding: 10px;
        }
        .fore {
            background: #fff;
            margin-bottom: 10px;
            .top {
                overflow: hidden;
                border-bottom: 1px solid #e0e0e0;
                padding: 10px 0;
                .select,
                .input {
                    width: 45%;
                    border-radius: 8%;
                    float: left;
                    border: 1px solid #e0e0e0;
                    position: relative;
                    margin: 0 2.5% 10px;
                    padding: 10px;
                    height: 40px;
                }
                .input {
                    padding: 9px;
                    overflow: hidden;
                    input {
                        border: 0;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                font-size: 1.6rem;
                div:first-child {
                    color: #e60000;
                }
            }
        }
        .handle {
            background: #fff;
            display: flex;
            justify-content: space-around;
            padding: 5px 0;
            margin-bottom: 20px;
            >button {
                border: 1px solid #e0e0e0;
                width: 45%;
            }
        }
    }
    ion-row {
        border-bottom: 0.5px solid #e0e0e0;
        color: #808080;
        font-size: 1.6rem;
        ion-col {
            text-align: center;
        }
    }
    ion-footer {
        .btns {
            display: flex;
            button {
                width: 50%;
            }
        }
        .result {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span:first-child {
                margin-right: 10px;
                color: #808080;
            }
            span:last-child {
                margin-right: 5px;
                font-size: 1.5rem;
                color: red;
            }
        }
    }
}


/*page-particulars-modal-jingjia {
    .item p:last-child {
        font-size: 2rem;
        color: red;
    }
    .price {
        color: map-get($colors, danger);
    }
    .main {
        overflow: scroll;
    }
    ion-row {
        border-bottom: 0.5px solid #e0e0e0;
        color: #808080;
        font-size: 1.6rem;
        ion-col {
            text-align: center;
            min-width: 100px;
        }
    }
}*/