<!--
  Generated template for the OrderModalShipping page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>收货地址</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list radio-group>
        <ion-item-sliding *ngFor="let item of data">
            <ion-item mode="md">
                <ion-radio mode="md" item-left color="secondary" [checked]="item.selected==1" (ionSelect)="dismiss(item)"> </ion-radio>
                <ion-label>
                    <h2><span class="name">{{item.consignee}}</span>{{item.mobile|phonenumberfilter}}</h2>
                    <p><span class="moren" *ngIf="item.is_default==1">默认</span>{{item.address}}</p>
                </ion-label>
                <ion-icon item-right name="ios-create-outline" tappable (click)="goEditAddress(item.address_id)"></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(item.address_id)">删除</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer slideInUp>
    <div ion-button full large no-margin color="jingku1" (click)="goAddShippingAddressPage()">+添加收货地址</div>
</ion-footer>