<!--
  Generated template for the AccountHistory page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>浏览记录</ion-title>
        <ion-buttons right *ngIf="data?.data?.length!=0">
            <button ion-button clear (click)="showCheckBoxChange()">{{showCheckBox?'完成':'编辑'}}</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
        <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
    </ion-refresher>
    <nothing *ngIf="data?.data.length=='0'" title="暂无浏览记录" text="" backgroundImg="url(./assets/icon/images/homepage_42_03.png)"></nothing>
    <ion-list *ngIf="data?.data.length!='0'">
        <div class="item-wrap" *ngFor="let item of data?.data">
            <div margin-left [ngClass]="{'activein':showCheckBox}" *ngIf="showCheckBox">
                <ion-checkbox [(ngModel)]="item.selected" [checked]="data.selectedAll" color="dark" mode="ios"></ion-checkbox>
            </div>
            <ion-item-sliding>
                <button ion-item (click)="goParticularsPage(item.id)">
                    <ion-thumbnail item-left>
                        <img img-lazy-load="{{item.goods_thumb}}">
                    </ion-thumbnail>
                    <h2>{{item.goods_name}}</h2>
                    <p class="right-bottom">
                        <span class="price">{{item.shop_price}}</span>
                    </p>
                </button>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteOne(item.goods_id)">
                        删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>

<ion-footer *ngIf="showCheckBox&&data&&data?.data?.length!=0">
    <div class="wrap">
        <div class="left-box">
            <ion-checkbox [(ngModel)]="data.selectedAll" mode="ios"></ion-checkbox>全选
        </div>
        <button no-margin ion-button full large color="dark" (click)="deleteSelected()">删除</button>
    </div>
</ion-footer>