page-account-history {
    @include slidingList1;
    ion-thumbnail img{
       width: 75px !important;
       height: 75px !important;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        .left-box {
            display: flex;
            align-items: center;
            margin-left: 16px;
            ion-checkbox {
                margin-right: 10px;
            }
        }
        .button {
            flex-basis: 100px;
        }
    }
}