meun-category {
   .scroll-content{
      background: #ffffff !important;
   }
   .head {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 10px;
      background: #ffffff;
      margin-top: 20px;
      .img {
         border: 1px solid #f0f0f0;
         margin-right: 16px;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 80px;
         height: 80px;
      }
   }
}