<ion-header>

    <ion-navbar>
        <ion-title>预售</ion-title>
    </ion-navbar>

</ion-header>


<ion-content parallax-header>
    <div class="header-image">
        <img src="./assets/images/images/yushou_01_02.jpg" alt="">
    </div>

    <div class="main-content">
        <div class="fore fore1">
            <div class="banner">
                <div class="top-scrollbar">
                    <div *ngFor="let item of getCategorys;let i = index" (click)="getList(i)">
                        <div class="select" *ngIf="checkedIndex==i"></div>
                        <div><img src="{{item.thumb}}" alt="{{item.cat_name}}"></div>
                        <span>{{item.cat_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <ion-list>
            <div class="nomore" *ngIf="data?.data?.length<=0">该分类下暂无预售</div>
            <div class="fore singleton" *ngFor="let item of data?.data">
                <div class="left">
                    <img src="http://img.jing-ku.com/{{item.goods_img}}" alt="">
                    <div class="time">
                        <ion-icon name="ios-time-outline"></ion-icon>
                        <countdown endDate="{{item.pre_end_date}}"></countdown>
                    </div>
                </div>
                <div class="right">
                    <div class="title">{{item.name}}</div>
                    <!--<div class="strip">
                    <div class="wrap">
                        <div [ngStyle]="{'width.%':20}"></div>
                    </div>
                    <div class="number">
                        <span>已抢购???件</span>
                        <span>仅???件</span>
                    </div></div>-->
                    <div class="price">
                        <div class="red">{{item.promote_price}}</div>
                        <div class="old-price">{{item.shop_price}}</div>
                        <div ion-button color="dark" no-margin (click)="goParticularsPage(item.id)">立即购买</div>
                    </div>
                </div>
            </div>
        </ion-list>
    </div>
    <!--<ion-fab left bottom>
        <button ion-fab color="dark" mini>
            {{data?.page}}/{{data?.pages}}
        </button>
    </ion-fab>-->
    <ion-fab right bottom (click)="scrollToTop()">
        <button ion-fab color="dark" mini goBackTop></button>
    </ion-fab>

    <ion-infinite-scroll></ion-infinite-scroll>
</ion-content>