<ion-header>

    <ion-navbar>
        <ion-title>预售</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="fore fore1">
        <div class="banner">
            <img src="./assets/images/images/yushou_01_02.jpg" alt="">
            <div class="top-scrollbar">
                <div *ngFor="let item of getCategorys;let i = index" (click)="getList(i)">
                    <div class="select" *ngIf="checkedIndex==i"></div>
                    <div><img src="{{item.thumb}}" alt="{{item.cat_name}}"></div>
                    <span>{{item.cat_name}}</span>
                </div>
            </div>
        </div>
    </div>
    <ion-list>
        <div class="fore singleton" *ngFor="let item of [{},{},{},{}]">
            <div class="left">
                <img src="./assets/images/images/shangou_01_05.jpg" alt="">
                <div class="time">
                    <ion-icon name="ios-time-outline"></ion-icon>
                    <countdown endDate="454545454"></countdown>
                </div>
            </div>
            <div class="right">
                <div class="title">as打算大所大所大撒所所所所所所所所所所所所所所所所所所所所所所所所所</div>
                <div class="strip">
                    <div class="wrap">
                        <div></div>
                    </div>
                    <div class="number">
                        <span>已抢购52件</span>
                        <span>仅剩12件</span>
                    </div>
                </div>
                <div class="price">
                    <div class="red">¥454.00</div>
                    <div class="old-price">¥454.00</div>
                    <div ion-button color="dark" no-margin>立即购买</div>
                </div>
            </div>
        </div>
    </ion-list>

</ion-content>