footer-rights {
    .footer {
        background: #f7f7f7;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }
    .footer .fto-1 {
        color: #666;
    }
    .footer .fto-1 em {
        position: relative;
        top: -1px;
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 3px;
        background: url(../assets/images/wellcome-newm/foot-ico-1.png) no-repeat center;
        background-size: 14px;
    }
    .footer .fto-2 {
        margin-bottom: 5px;
    }
    .footer .fto-2 a {
        color: #666;
        margin: 0 5px;
    }
    .footer .fto-3 {
        color: #666;
        line-height: normal
    }
}