footer-rights {
    .footer {
        background: #f7f7f7;
        text-align: center;
        padding: 10px 0;
        font-size: 1.2rem;
    }
    .footer .fto-1 {
        color: #666;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            font-size: 1.3rem;
        }
    }
    .footer .fto-1 em {
        position: relative;
        top: -1px;
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 3px;
        background: url(../assets/images/wellcome-newm/foot-ico-1.png) no-repeat center;
        background-size: 16px;
    }
    .footer .fto-2 {
        a {
            font-size: 1.3rem;
        }
        margin: 6px;
    }
    .footer .fto-2 a {
        color: #666;
        margin: 0 5px;
    }
    .footer .fto-3 {
        color: #666;
        line-height: normal
    }
}