<!-- Generated template for the SwiperNewmComponent component -->
<div class="swiper-container car-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="p1" data-swiper-parallax-x data-swiper-parallax="-500">眼镜业采购批发专业平台</div>
      <div class="p3" data-swiper-parallax-x data-swiper-parallax="-2000">Glasses industry purchase wholesale professional platform</div>
      <div class="p2" data-swiper-parallax-x data-swiper-parallax="-4000"><em></em><i></i><em></em></div>
      <div class="p4" data-swiper-parallax-x data-swiper-parallax="-5000">
        <a navPush="LoginPage" class="xzpp">进入镜库app<em></em></a>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
</div>