<!-- Generated template for the SwiperNewmComponent component -->
<div class="swiper-container car-swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">

      <div class="p1" data-swiper-parallax-x data-swiper-parallax="-500">
        <ng-content></ng-content>
      </div>
      <!-- <div class="p3" data-swiper-parallax-x data-swiper-parallax="-2000"></div>Glasses industry purchase wholesale professional platform -->
      <!-- <div class="p2" data-swiper-parallax-x data-swiper-parallax="-4000"><em></em><i></i><em></em></div> -->
      <div class="p4" data-swiper-parallax-x data-swiper-parallax="-5000">
        <a class="xzpp" (click)="goToHome()">登录<em></em></a>
      </div>
      <div class="p5" data-swiper-parallax-x data-swiper-parallax="-5000">
        <a hideWhen="ios" href="https://download.fir.im/apps/5922bcefca87a836ff000973/install?download_token=3c6507644d38ab745948a21a6c14a5ac&release_id=5959bd2c959d691a83000060">下载镜库采购APP ><em></em></a>
        <a showWhen="ios" href="https://itunes.apple.com/cn/app/%E9%95%9C%E5%BA%93/id1265021927?mt=8">下载镜库采购APP ><em></em></a>
      </div>
      <!-- <div class="p5" data-swiper-parallax-x data-swiper-parallax="-5000">
        <a hideWhen="ios" href="https://download.fir.im/apps/5922bcefca87a836ff000973/install?download_token=3c6507644d38ab745948a21a6c14a5ac&release_id=5959bd2c959d691a83000060">下载镜库采购APP ><em></em></a>
        <a showWhen="ios" href="https://itunes.apple.com/cn/app/%E9%95%9C%E5%BA%93/id1265021927?mt=8">下载镜库采购APP ><em></em></a>
      </div> -->
    </div>
  </div>
  <!-- Add Pagination -->
</div>