page-payment-method {
    .item {
        .pay-icon {
            height: 30px;
            display: block;
        }
        &:nth-child(2) {
            .pay-icon {
                margin-left: 6px;
            }
        }
        &:nth-child(4) {
            .pay-icon {
                margin-left: 4px;
                height: 33px;
            }
        }
    }
}