ion-app.platform-ios {
    page-payment-method {
        .zffs {
            .main {
                .zf_x {
                    border-width: 0.8px;
                    &:first-child {
                        border-width: 0.8px;
                    }
                }
            }
        }
    }
}

page-payment-method {
    .scroll-content {
        background: #fff !important;
    }
    .e_p {
        background: #f5f5f5;
        color: #666666;
        font-size: 1.2rem;
        countdown {
            display: inline-block;
            font-size: inherit;
            span {
                background: #808080;
                color: #ffffff;
                padding: 3px;
            }
        }
    }
    .zffs {
        background: #fff;
        overflow: hidden;
        .zffs_h {
            font-size: $item-ios-body-text-font-size;
            padding: 16px 14px;
            font-size: 1.5rem;
            .text {
                color: #ff3333;
                font-size: 1rem;
                margin-left: 4px;
            }
        }
        .main {
            .zf_x {
                display: flex;
                align-items: center;
                padding: 10px 0;
                border-bottom: 1px solid #e0e0e0;
                &:first-child {
                    border-top: 1px solid #e0e0e0;
                }
                img {
                    max-width: 30px;
                    display: block;
                    margin: 10px 18px;
                }
                .cont {
                    flex: 1;
                    .p1 {
                        color: #333333;
                        font-size: 1.4rem;
                        margin-bottom: 2px;
                    }
                    .p2 {
                        color: #808080;
                        font-size: 1rem;
                    }
                }
                .checkbox {
                    margin-right: 15px;
                }
                /* &.selected {
                    // border-color: #3f69a5;
                    background: url(../assets/icon/images/close_ico_03.png) no-repeat right 10px top 5px;
                    background-size: 16px;
                    box-shadow: 0px 0px 4px #3f69a5;
                } */
                &.disable {
                    opacity: .5; // pointer-events: none;
                }
            }
        }
    }
}