<!--
  Generated template for the DiscountCoupon page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>优惠券</ion-title>
        <!-- <ion-buttons right>
            <button ion-button clear icon-only icon-left>
                <ion-icon name="ios-share-alt-outline"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>

</ion-header>


<ion-content parallax-header>
    <div class="header-image">
        <img src="./assets/images/images/couponCenter_1_02.jpg" width="100%" alt="">
    </div>
    <div class="main-content">
        <div class="no-coupon" *ngIf="data&&!data?.list?.length">
            <div class="img">
                <img src="./assets/icon/no-coupon.png" alt="">
            </div>
            <div class="message">
                还没有优惠券哦
            </div>
        </div>
        <div class="coupon" [class.get]="item.is_get==1" *ngFor="let item of data?.list">
            <div class="get">
                <img  *ngIf="item.is_get==1" src="./assets/images/images/coupon_center_1_03.png" alt="">
                <img  *ngIf="item.is_get==2" style="margin-top: -12px;width: 4.7rem;" src="./assets/images/images/coupon_center_1_04.png" alt="">
            </div>
            <div class="left" tappable (click)="getPrivilege(1,item.type_id,item.suppliers_id)">
                <div class="img">
                    <img src="{{item.logo}}" alt="">
                </div>
                <div class="center">
                    <div class="title">{{item.suppliers_name}}</div>
                    <div class="info"><span class="bigfont">{{item.type_money}}</span>满{{item.min_goods_amount}}可用</div>
                </div>
            </div>
            <div class="right">
                <div style="width: 60px;height: 60px;">
                    <my-canvas [baifen]="item.baifen.slice(0,-1)" *ngIf="item.is_get==0"></my-canvas>
                </div>
                <div ion-button small round block class="click" *ngIf="item.is_get==0" (click)="getPrivilege(0,item.type_id,item.suppliers_id)">点击领劵</div>
                <div ion-button small round block class="touse" *ngIf="item.is_get==1||item.is_get==2" (click)="getPrivilege(1,item.type_id,item.suppliers_id)">去使用</div>
            </div>
        </div>
    </div>
    <ion-fab right bottom (click)="scrollToTop()">
        <button ion-fab color="dark" mini goBackTop></button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="flag">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>