ion-app.ios.platform-cordova {
    wel-header {
        .head {
            padding-top: 20px;
            .dyon {
                top: 18px;
            }
        }
        .color {
            .dyon {
                top: 39px;
            }
        }
    }
}

wel-header {
    .head {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2000;
        padding: 3px 0;
        width: 100%;
        // background: rgba(51, 51, 51, 1);
        transition: all 1000ms cubic-bezier(.19, 1.12, .65, .91);
    }
    .head .logo {
        float: left;
        display: block;
        padding: 7px 0;
        margin-left: 10px;
        opacity: 1;
    }
    .head .logo img {
        display: block;
        height: 25px;
        width: auto;
    }
    .head .dyon,.head .dyon1 {
        position: absolute;
        right: 8px;
        top: 2px;
        display: block;
        width: 40px;
        height: 40px;
        background: url(../assets/images/wellcome-newm/top-ico-1.png) no-repeat center;
        background-size: 20px;
        border-radius: 50%;
        margin-top: 0px;
        transition: all 300ms cubic-bezier(.19, 1.12, .65, .91);
        margin-right: 0px;
        background-color: transparent;/* rgba(51, 51, 51, 1) */
        z-index: 100;
    }
    .head .dyon1{
        background: #3f69a5;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        line-height: 40px;
        z-index: 1;
        opacity: 0;
    }

    .color {
        background: rgba(27, 11, 11, 0) !important;
        .logo {
            opacity: 0;
        }
        .dyon {
            background-image: url(../assets/images/wellcome-newm/top-ico-2.png);
            position: absolute;
            box-shadow: 0px 0px 17px #666;
            right: 21px;
            top: 19px;
            background-color: rgba(255, 255, 255, 1) !important;
        }
        .dyon1{
            right: 21px;
            top: 68px;
            box-shadow: 0px 0px 17px #666;
            opacity: 1;
        }
    }
}