page-more-menu {
    .menu-wrap {
        padding: 0 10px;
        font-size: 1.3rem;
        .btn {
            min-height: 4rem;
            margin-top: -1px;
            color: #e4e4e4;
            background: transparent;
            border-bottom: 1px solid #666;
            display: flex;
            align-items: center;
            &:last-child {
                border: 0 !important;
            }
            .icon {
                img {
                    width: 20px;
                    margin-right: 6px;
                    margin-top: 2px;
                }
            }
        }
    }
}