single-foods-card {
    @-webkit-keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: .5;
        }
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    .card {
        border: 1px solid #e6e6e6;
        width: 49%;
        margin: 0 0 10px 0;
        display: inline-block;
        position: relative;
        box-shadow: none;
        .card-wrap {
            display: flex;
            flex-direction: column;
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 180px;
                border-bottom: solid 1px #e0e0e0;
                img {
                    width: auto;
                }
            }
            .info {
                .text {
                    color: #808080;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
                .price {
                    color: #e60000;
                    font-weight: 700;
                }
            }
        }
        .background {
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            animation: fade 1s;
        }
        ion-fab[middle] {
            margin-top: -61px;
            button {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}