<!--
  Generated template for the SingleCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="card-wrap" (press)="tapEvent($event)" [ngClass]="animateClass" [navPush]="ParticularsPage" [navParams]="{}" *ngFor="let item of animateItems; let i = index;">
    <div class="img" padding><img src="./assets/icon/homepage_71.png" alt=""></div>
    <div class="info" padding>
        <div class="text">{{item.short_name}}</div>
        <div class="price">{{item.market_price}}</div>
    </div>
    <ion-fab center middle *ngIf="showBtn" >
        <button ion-fab mini><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>
</div>