<!--
  Generated template for the SingleCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="card-wrap" [ngClass]="animateClass" [navPush]="ParticularsPage" [navParams]="{}" *ngFor="let item of animateItems; let i = index;">
    <div class="img" padding><img src="./assets/icon/homepage_71.png" alt=""></div>
    <div class="info" padding>
        <div class="text">博士伦美瞳明透亮眸半年巴拉巴拉巴拉巴</div>
        <div class="price">￥4545</div>
    </div>
</div>