<!--
  Generated template for the SingleCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card *ngFor="let item of animateItems; let i = index;" mode="md">
    <div class="card-wrap" (press)="tapEvent(item,$event)" [ngClass]="animateClass" [navPush]="ParticularsPage" [navParams]="{goodsId:item.id}">
        <div class="img"><img src="{{item?.thumb}}" alt=""></div>
        <div class="info" padding>
            <div class="text">{{item.short_name}}</div>
            <div class="price">{{item.shop_price}}</div>
        </div>
        <!--<ion-fab center middle *ngIf="showBtn" >
            <button ion-fab mini><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="top">
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            </ion-fab-list>
            <ion-fab-list side="bottom">
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
            </ion-fab-list>
        </ion-fab>-->

    </div>
    <div class="background" (click)="item.showBtn=false" *ngIf="item.showBtn"></div>

    <ion-fab center middle #fab *ngIf="item.showBtn">
        <button color="light" ion-fab>购物车</button>
        <button color="danger" ion-fab>关注</button>
    </ion-fab>
</ion-card>