count-input {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 29px;
    max-width: 93px;
    min-width: 93px;
    overflow: hidden;
    .btn {
        width: 27px;
        font-size: 1.8rem;
        color: #808080;
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 10px;
        }
    }
    input {
        width: 26px;
        flex: 1;
        color: red;
        text-align: center;
        height: 100%;
        border: none;
        border-radius: 0;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background: none;
        &:disabled{
            -webkit-text-fill-color: #e60000;
            -webkit-opacity: 1;
            color: #e60000;
        }
    }
    .disabled{
        opacity: .3;
        pointer-events: none;
    }
}