<ion-header>

   <ion-navbar>
      <ion-title>铺货资质</ion-title>
      <ion-buttons right>
         <button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
            <ion-icon name="ios-more"></ion-icon>
         </button>
      </ion-buttons>
   </ion-navbar>

</ion-header>


<ion-content>
   <ng-container *ngIf="data">
      <div class="list">
         <div class="li">
            <div class="name">法人姓名：</div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.fr" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
         </div>
         <div class="li">
            <div class="name">法人身份证号：</div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.code_sn" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
         </div>
         <div class="li">
            <div class="name">法人联系方式：</div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.mobile" [placeholder]="checks?'无':'请填写'" type="number" value=""></ion-input>
         </div>
         <div class="li">
            <div class="name">身份证效期：</div>
            <ng-container *ngIf="!checks">
               <ion-datetime style="padding: 0;position: relative;color: #999999;" item-end cancelText="取消" doneText="确定" placeholder="请选择" displayFormat="YYYY-MM-DD" [(ngModel)]="params.code_validity_start"></ion-datetime>
               <span style="color: #999999;">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
               <ion-datetime style="padding: 0;position: relative;color: #999999;" item-end cancelText="取消" doneText="确定" placeholder="请选择" displayFormat="YYYY-MM-DD" [(ngModel)]="params.code_validity_end"></ion-datetime>
            </ng-container>
            <ng-container *ngIf="checks">
               <span style="color:#999;">无</span>
            </ng-container>
         </div>
         <div class="li">
            <div class="name">营业执照编号：</div>

            <ng-container>
               <ion-input autocomplete="off" autocorrect="off" class="inp" [disabled]="checks" [(ngModel)]="params.yyzzsn" [placeholder]="checks?'无':'请填写'" type="text" value=""></ion-input>
            </ng-container>
         </div>
         <div class="li">
            <div class="name">营业执照效期：</div>
            <ng-container *ngIf="!checks">
               <ion-datetime style="padding: 0;position: relative;color: #999999;" item-end cancelText="取消" doneText="确定" placeholder="请选择" displayFormat="YYYY-MM-DD" [(ngModel)]="params.zz_validity_start"></ion-datetime>
               <span style="color: #999999;">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
               <ion-datetime style="padding: 0;position: relative;color: #999999;" item-end cancelText="取消" doneText="确定" placeholder="请选择" displayFormat="YYYY-MM-DD" [(ngModel)]="params.zz_validity_end"></ion-datetime>
            </ng-container>
            <ng-container *ngIf="checks">
               <span style="color:#999;">无</span>
            </ng-container>
         </div>
         <div class="li">
            <div class="name">门头照：</div>
            <div class="camra" tappable *ngIf="!checks">
               <img img-lazy-load="./assets/icon/choosefile.png" alt="">
               <input type="file" (get-image)="params.doorhead_img = $event.img_url;doorhead_img_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
            </div>
            <div class="camra ui" tappable *ngIf="doorhead_img_img || data?.data?.doorhead_img">
               <img img-lazy-load="{{doorhead_img_img || data?.data?.doorhead_img}}" alt="">
            </div>
            <div *ngIf="!(doorhead_img_img || data?.data?.doorhead_img)">
               <span style="color:#999;">无</span>
            </div>
         </div>
         <div class="li">
            <div class="name">营业执照：</div>
            <div class="camra" tappable *ngIf="!checks">
               <img img-lazy-load="./assets/icon/choosefile.png" alt="">
               <input type="file" (get-image)="params.zhizhao = $event.img_url;zhizhao_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
            </div>
            <div class="camra ui" tappable>
               <img img-lazy-load="{{zhizhao_img || data?.data?.zhizhao || './assets/icon/choosefile_2.png'}}" alt="">
            </div>
         </div>
         <div class="li">
            <div class="name">医疗器械许可证：</div>
            <div class="camra" tappable *ngIf="!checks">
               <img img-lazy-load="./assets/icon/choosefile.png" alt="">
               <input type="file" (get-image)="params.medical = $event.img_url;medical_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
            </div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.medical" [disabled]="checks" type="text" value="无"></ion-input>
            <div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.medical)">
               <img img-lazy-load="{{medical_img || data?.data?.medical || './assets/icon/xkz_yl.jpg'}}" alt="">
               <div *ngIf="!(medical_img || data?.data?.medical)" class="sli-fdj " style="    position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-align: center;
					background: rgba(0, 0, 0, 0.5);
					padding-top: 19px;
					color: #ece0e0;
					font-size: 12px;"><span style="    display: block;
					width: 21px;
					height: 30px;
					margin: 0 auto;
					background: url(./assets/icon/dsearch.png) no-repeat center/100%;"></span>示例</div>
            </div>
         </div>
         <div class="li">
            <div class="name">身份证正面照片：</div>
            <div class="camra" tappable *ngIf="!checks">
               <img img-lazy-load="./assets/icon/choosefile.png" alt="">
               <input type="file" (get-image)="params.zsfz = $event.img_url;zsfz_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
            </div>
            <div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.zsfz)">
               <img img-lazy-load="{{zsfz_img || data?.data?.zsfz || './assets/icon/choosefile_1.png'}}" alt="">
            </div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.zsfz" [disabled]="checks" type="text" value="无"></ion-input>
         </div>
         <div class="li">
            <div class="name">身份证反面照片：</div>
            <div class="camra" tappable *ngIf="!checks">
               <img img-lazy-load="./assets/icon/choosefile.png" alt="">
               <input type="file" (get-image)="params.fsfz = $event.img_url;fsfz_img = $event.base64" style="width:100%;height:100%;position: absolute;opacity: 0;top:0;">
            </div>
            <div class="camra ui" tappable *ngIf="!(checks&&!data?.data?.fsfz)">
               <img img-lazy-load="{{fsfz_img || data?.data?.fsfz || './assets/icon/choosefile_3.png'}}" alt="">
            </div>
            <ion-input autocomplete="off" autocorrect="off" class="inp" *ngIf="checks&&!data?.data?.fsfz" [disabled]="checks" type="text" value="无"></ion-input>
         </div>
      </div>
      <div class="submit" padding style="padding-top: 0;" *ngIf="!checks">
         <button ion-button block color="jingku1" (click)="submit()" large>确认</button>
      </div>
   </ng-container>
</ion-content>