page-account-security {
    .label {
        margin: 15px 8px 15px 0;
        h2 {
            margin: 0 0 10px;
        }
    }
    ion-note.phone[item-right] {
        margin: 13px 8px 8px 8px;
        align-self: flex-start;
    }
}