page-invoice-info {
   .list-tit{
         padding: 10px;
         padding-left: 12px;
         font-size: 1.2rem;
   }
   .list{
      background: #fff;
      .li{
         padding: 16px;
         padding-left: 12px;
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid #e0e0e0;
         &:last-child{
            border:none;
         }
         .name{
            color: #666666;
         }
         .value{
            color: #4d4d4d;
         }
      }
   }
}
