page-signup {
    .content .list {
        margin-bottom: 5px;
        .item {
            @include certified-img;
            ion-label[fixed] {
                flex-basis: 87px;
            }
        }
    }
    .tool {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        .agree {
            display: flex;
            align-items: center;
        }
        .login {
            float: right;
            white-space: nowrap;
            .text {
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                color: #999;
            }
        }
    }
}