page-signup {
    .content .list {
        margin-bottom: 5px;
        .item-input {
            min-height: 62px;
        }
        .certified-img {
            display: flex;
            align-items: center;
            margin: 0;
            border-left: 1px solid #e0e0e0;
            margin-left: 10px;
            ion-icon {
                color: #999;
                font-size: 1.5em;
                margin: 0 10px;
            }
        }
    }
    .certified-img-box {
        .input-wrapper {
            border-right: 1px solid #c8c7cc;
        }
    }
    .login {
        float: right;
        margin-bottom: 20px;
        .text {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
            color: #999;
        }
    }
    .btn-register {
        width: 80%;
        margin: 0 auto;
    }
}