page-signup {
    .content .list {
        margin-bottom: 5px;
        .item-input {
            min-height: 62px;
        }
        @include certified-img;
    }
    .login {
        float: right;
        margin-bottom: 20px;
        margin-right: 20px;
        white-space: nowrap;
        .text {
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
            color: #999;
        }
    }
    .btn-register {
        width: 80%;
        margin: 0 auto;
    }
}