<!--
  Generated template for the SharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar>
      <ion-title>推荐有礼</ion-title>
   </ion-navbar>

</ion-header>
<div class="mark" *ngIf="showMark" (click)="showMark=!showMark">
   <div (click)="$event.stopPropagation()">
      <qr-code size="300" [value]="href"></qr-code>
      <div style="    color: #fff;
         text-align: center;
         margin-top: 20px;
         font-size: 17px;
         line-height: 26px;"
         *ngIf="mine?.userInfo.data.UserShare">长按发送或保存本地 <!-- 邀请码：<span>{{mine.userInfo.data.UserShare}}</span> --><!-- <br>长按复制 --></div>
   </div>
   <!-- <img style="position: absolute;right: 15px;top: 15px;width: 80px;" src="./assets/icon/share_03.png"> -->
</div>

<ion-content padding>
   <div class="main-card" fadeIn *ngIf="data">
      <div class="section1">
         <div class="title">邀请好友加入镜库</div>
         <div class="subtitle">邀请1个好友奖{{data?.type_money}}元</div>
         <div class="card">
            <img src="./assets/icon/share_01.png">
            <div class="price"><em>{{data?.type_money}}</em>元</div>
         </div>
         <button class="btn" (click)="sharing()">立即邀请</button>
      </div>
      <div class="section2">
         <div class="title">我的邀请</div>
         <div class="data">
            <div tappable navPush="ShareListPage">
               <div class="s1"><em class="num">{{data?.list?.yyq||0}}</em>人</div>
               <div class="s2">已邀请</div>
            </div>
            <div tappable navPush="ShareListPage">
               <div class="s1"><em class="num">{{data?.list?.ywc||0}}</em>人</div>
               <div class="s2">已完成</div>
            </div>
            <div>
               <div class="s1"><em class="num">{{data?.list?.yhjl||0}}</em>元</div>
               <div class="s2">已得奖励</div>
            </div>
         </div>
      </div>
   </div>
</ion-content>
