<!--
  Generated template for the SharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar>
      <ion-title>推荐有礼</ion-title>
   </ion-navbar>

</ion-header>
<div class="mark" *ngIf="showMark" (click)="showMark=!showMark">
   <div (click)="$event.stopPropagation()" style="width:91%; position: absolute;bottom: 11%;left:4.5%">
      <span style="      position: absolute;  width: 20px; height: 20px;border-radius: 100%; background: #2f6be3; top: 30%; left: -2%;"></span>
      <span style="    position: absolute; width: 20px; height: 20px;  border-radius: 100%; background: #2f6be3;  top: 30%; right: -2%;"></span>
      <div class="yaoqingshuoming"><p style="    padding-top: 5%;   padding-bottom: 3%;">邀请好友来注册可得20元优惠券</p>
      <p style="padding-bottom: 2.5%;">好友下单还可再得30元优惠券</p>
      </div>
      <!-- <div style=""></div> -->
     <div style="    background: #FFF;     padding-bottom: 15%;  padding-top: 14%;"><qr-code size="300" [value]="href"></qr-code></div> 
      <div style="    color: #fff;
         text-align: center;
         font-size: 17px;
         line-height: 26px;"
         *ngIf="mine?.userInfo.data.UserShare">截屏分享，点击空白处外退出 </div>
          <!-- 邀请码：<span>{{mine.userInfo.data.UserShare}}</span> --><!-- <br>长按复制 -->
        
   </div>
   <!-- <img style="position: absolute;right: 15px;top: 15px;width: 80px;" src="./assets/icon/share_03.png"> -->
</div>


<ion-content>
   <!-- <div class="main-card" fadeIn *ngIf="data">
      <div class="section1">
         <div class="title">邀请好友加入镜库</div>
         <div class="subtitle">邀请1个好友奖{{data?.type_money}}元</div>
         <div class="card">
            <img src="./assets/icon/share_01.png">
            <div class="price"><em>{{data?.type_money}}</em>元</div>
         </div>
         <button class="btn" (click)="sharing()">立即邀请</button>
      </div>
      <div class="section2">
         <div class="title">我的邀请</div>
         <div class="data">
            <div tappable navPush="ShareListPage">
               <div class="s1"><em class="num">{{data?.list?.yyq||0}}</em>人</div>
               <div class="s2">已邀请</div>
            </div>
            <div tappable navPush="ShareListPage">
               <div class="s1"><em class="num">{{data?.list?.ywc||0}}</em>人</div>
               <div class="s2">已完成</div>
            </div>
            <div>
               <div class="s1"><em class="num">{{data?.list?.yhjl||0}}</em>元</div>
               <div class="s2">已得奖励</div>
            </div>
         </div>
      </div>
   </div> -->
   <div class="bander_con"><div><img class="bander_img" src="../assets/icon/yaoqingbander.png" alt=""></div>
   <div class="bander_tit">
      <!-- ----------------------------------------------------------------------------------------------------赚钱攻略------------------------------------------------ -->
      <div class="jieqiangonglue con_img">
         <div class="zhuanqiangonglue"><img src="../assets/icon/111111111.png" alt=""></div>
      </div>
       <!-- ----------------------------------------------------------------------------------------------------邀请步骤   ------------------------------------------------ -->
      <div class="yaoqingbuzhou con_img">
         <div class="yaoqingbuzhouimg"><img src="../assets/icon/222222.png" alt=""></div>
      </div>
       <!-- ----------------------------------------------------------------------------------------------------我的邀请------------------------------------------------ -->
       <div class="wodeyaoqing">
          <div>
               <div class="shuliang">
                     <span style="margin-right: 18%;"><em>{{data?.list?.yyq||0}}</em>人</span>
                     <span style="margin-right: 20%;"><em>{{data?.list?.ywc||0}}</em>人</span>
                     <span style="    padding-left: 6%;"><em>{{data?.register_money||0}}</em>元</span>
                </div> 
                <div class="zhuce">
                     <span style="margin-right: 13%;">注册</span>
                     <span style="margin-right: 16%;">首单</span>
                     <span>优惠券总金额</span>
                </div> 
          </div>
       </div>
       <!-- --------------------------------------------------------------------------------------------------------注册按钮----------------------------------------------------------------- -->
       <div class="lijizhuce"  (click)="sharing()">
       </div>
   </div>
   </div>
</ion-content>
