page-share {
   .scroll-content {
      background: rgb(241, 244, 251) !important;
   }
   .bander_tit{
      width: 100%;
      height: auto;
      background: #EBDDF8;
   }
   .bander_img{
      display: block;
      width: 100%;
   }
   .zhuanqiangonglue{
      text-align: -webkit-center;
    margin-top: -20%;
    padding-bottom: 6.77%;
   }
   .con_img img{
      width: 91%;
   }
   .con_img{
      text-align: center
   }
   .yaoqingbuzhouimg{
      padding-bottom: 6.77%;
   }
   .wodeyaoqing{
      background-image: url(../assets/icon/wodeyaoqing.png);
      width: 100%;
      height: 154px;
      background-size: 91% 100%;
      background-repeat: no-repeat;
      background-position: center;
      // text-align: center;
      .shuliang{
         margin-bottom: 3%;  
        padding-top: 11%;
         margin-left: 14%;
      }
      .zhuce{
         font-size:1.7rem;
         margin-left: 14%;
      }
      em{
         color: #732CE5;
         font-size: 3rem;
      }
   }
   .lijizhuce{
      width: 100%;
      height: 110px;
      background-size: 71% 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../assets/icon/lijiyaoqing.png);
      cursor: pointer;
      
     
   }
   .mark {
      position: fixed;
      height: 100%;
      width: 100%;
      // background: rgba(0, 0, 0, .7);
      background-image: url(../assets/icon/fenxianghaibao.png);
      z-index: 10;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      text-align: -webkit-center;
      >div {
         // width: 200px;
         margin: auto;

         span {
            user-select: text;
         }
      }
      .yaoqingshuoming{
           width: 100%;
          text-align: -webkit-center;
          background: #FFF;
          border-radius: 2% 2% 0 0;
         }
      qr-code {
         display: block;
         height: 90px;
         width: 25%;
         // margin-top: 92px;
         text-align: -webkit-center;

         border-radius: 6px;
         overflow: hidden;
      }
   }

   .main-card {
      min-height: 100%;
      background: #ffffff;
      border-radius: 8px;
      text-align: center;
      overflow: hidden;

      .section1 {
         padding: 40px 0;
         margin: 0 8px;
         border-bottom: 1px dashed #f0f0f0;

         .title {
            color: #7e97fc;
            font-size: 20px;
            font-weight: 500;
         }

         .subtitle {
            color: #7e97fc;
            margin-bottom: 30px;
            font-size: 16px;
            font-weight: 500;
         }

         .card {
            position: relative;
            width: 286px;
            margin: 0 auto;
            margin-bottom: 30px;

            .price {
               position: absolute;
               top: 10px;
               left: 10px;
               color: #ffffff;
               position: absolute;
               top: 26px;
               left: 14px;

               em {
                  font-size: 42px;
                  color: rgba(255, 255, 255, .9);
                  text-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
                  // background: linear-gradient(to bottom,rgba(255,255,255,1),rgba(255,255,255,.5));
                  // -webkit-background-clip: text;
                  // color: transparent;
               }
            }
         }

         .btn {
            background: url(../assets/icon/share_02.png) no-repeat center/100%;
            width: 230px;
            height: 44px;
            color: #ffffff;
            border-radius: 20px;
            font-size: 14px;
         }
      }
   }

   .section2 {

      .title {
         text-align: left;
         font-size: 16px;
         padding: 16px;
      }

      .data {
         display: flex;
         justify-content: space-around;

         >div {
            .s1 {
               margin-bottom: 4px;
               color: #666666;

               em {
                  color: #7e97fc;
                  margin-right: 2px;
                  font-size: 22px;
               }
            }

            .s2 {
               color: #999999;
            }
         }
      }
   }
}
