<!--
  Generated template for the ClassifyNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <form action="">
      <ion-searchbar [(ngModel)]="searchkey" [ngModelOptions]="{standalone: true}" placeholder="搜索镜库商品" mode="ios" debounce="500"
        animated (keypress)="searchbar($event)" type="search"></ion-searchbar>
    </form>
    <!-- <ion-buttons right tappable (click)="presentPopover($event)">
        <button ion-button clear icon-only icon-left>
            <ion-icon name="ios-add-circle-outline"></ion-icon>
        </button>
    </ion-buttons> -->
    <ion-buttons right>
      <button ion-button clear icon-only icon-left right navPush="MessagePage">
        <ion-icon name="mess"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content style="width: 25%;" class="left">

  <div class="list1">
    <div class="text_wrap" *ngFor="let item of getCategorys;let i = index;" tappable (click)="clickItem(item.cat_id)" [class.selected]="selectedId == item.cat_id">
      <div class="inner_text">{{item.cat_name}}</div>
    </div>
  </div>
</ion-content>
<ion-content padding-horizontal class="right" style="width: 75%;left: 0;right: 0;left: initial;">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="60">
    <ion-refresher-content refreshingSpinner="1" pullingIcon="0"></ion-refresher-content>
  </ion-refresher>

  <div class="list2">
    <div class="list2_item" fadeIn *ngFor="let item of childrenCaCtegory">
      <div class="list2_header">
        {{item.cat_name}}
      </div>
      <div class="list3">
        <div class="brand" tappable (click)="goBrandList(item.cat_id)" *ngFor="let item1 of item.cat_list ">
          <div class="brand_img">
            <img [img-lazy-load]="item1.thumb" defaultSrc="./assets/images/images/640-360.jpg" alt="">
          </div>
          <div class="brand_name">{{item1.cat_name}}</div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab right bottom tappable>
    <button ion-fab color="jingku1" mini goBackTop scroll-to-top></button>
  </ion-fab>
</ion-content>