<!--
  Generated template for the MyToolbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div (click)="click($event)">
    <button ion-button clear icon-right>
      综合
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </button>
</div>
<div>
    <button ion-button clear icon-right>
      销量
    </button>
</div>
<div>
    <button ion-button clear icon-right>
      价格
      <div>
        <div [ngStyle]="{'height':'7px'}">
            <ion-icon [ngStyle]="{'font-size':'1.5rem'}" name="md-arrow-dropup"></ion-icon>
        </div>
        <div [ngStyle]="{'height':'13px'}">
            <ion-icon [ngStyle]="{'font-size':'1.5rem'}" name="md-arrow-dropdown"></ion-icon>
        </div>
      </div>
  </button>
</div>
<div>
    <button ion-button clear icon-right menuToggle>
      筛选
      <ion-icon name="ios-funnel-outline" [ngStyle]="{'font-size':'2rem'}"></ion-icon>
    </button>
</div>