<!--
  Generated template for the MyToolbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div>
    <button ion-button clear icon-right>
      综合
      <ion-icon name="md-arrow-dropdown"></ion-icon>
    </button>
</div>
<div>
    <button ion-button clear icon-right>
      销量
    </button>
</div>
<div>
    <button ion-button clear icon-right>
      价格
    <ion-icon name="sort"></ion-icon>
  </button>
</div>
<div>
    <button ion-button clear icon-right>
      筛选
      <ion-icon name="ios-funnel-outline"></ion-icon>
    </button>
</div>