<ion-toolbar class="segment-style">
    <!--<my-toolbar></my-toolbar>-->
    <ion-segment mode="md" [(ngModel)]="mytool" (click)="mytoolChange()" color="primary">
        <ion-segment-button value="all">
            综合
            <div [ngClass]="allStatus==false?'sortup':'sortdown'" class="myicon">
                <div [ngStyle]="{'height':'7px'}">
                    <ion-icon name="md-arrow-dropup"></ion-icon>
                </div>
                <div>
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                </div>
            </div>
        </ion-segment-button>
        <ion-segment-button value="sales_num">
            销量
            <div [ngClass]="salesNumStatus==false?'sortup':'sortdown'" class="myicon">
                <div [ngStyle]="{'height':'7px'}">
                    <ion-icon name="md-arrow-dropup"></ion-icon>
                </div>
                <div>
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                </div>
            </div>
        </ion-segment-button>
        <ion-segment-button value="shop_price">
            价格
            <div [ngClass]="shopPriceStatus==false?'sortup':'sortdown'" class="myicon">
                <div [ngStyle]="{'height':'7px'}">
                    <ion-icon name="md-arrow-dropup"></ion-icon>
                </div>
                <div>
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                </div>
            </div>
        </ion-segment-button>
        <ion-segment-button menuToggle value="">
            筛选
            <img src="./assets/icon/images/filter.png" width="18" alt="">
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>