<!--
  Generated template for the ParticularsHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <form action="">
            <ion-searchbar [(ngModel)]="myHomeSearch" [ngModelOptions]="{standalone: true}" (ionInput)="onInput($event)" placeholder="搜索店铺商品"
                animated="false" spellcheck="true" type="search" debounce="1000" mode="ios"></ion-searchbar>
        </form>
        <!-- <ion-buttons right>
            <button ion-button clear icon-only icon-left (click)="listStyleflag=!listStyleflag">
                <img img-lazy-load="./assets/icon/images/list_01.png" width="22" *ngIf="!listStyleflag" alt="">
                <img img-lazy-load="./assets/icon/images/list_02.png" width="22" *ngIf="listStyleflag" alt="">
            </button>
        </ion-buttons> -->
        <ion-buttons right>
            <button ion-button clear icon-only icon-left right open-more="MoreMenuPage">
                <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content #myContent>
    <div class="banner-shop">
        <div class="banner-shadow">
            <div class="banner-shop-logo">
                <div class="banner-shop-anoLogo">
                    <img img-lazy-load="{{shopdata?.data?.logo}}" alt="">
                </div>
            </div>
            <div class="banner-shop-content">
                <div class="name">{{shopdata?.data?.name}}</div>
                <div class="heart" tappable (click)="collectStore(shopdata?.data?.is_select)">
                    <ion-icon name="md-heart-outline" *ngIf="!shopdata?.data?.is_select"></ion-icon>
                    <ion-icon name="md-heart" color="danger" *ngIf="shopdata?.data?.is_select"></ion-icon>
                    <span>收藏</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ion-segment class="shop-tabs" mode="md" [(ngModel)]="classShop" (ionChange)="classShopChange()">
            <ion-segment-button value="shopHome">
                <div class="num shop-tabs-item-img">
                    <img src="./assets/icon/store-home/shop.png" *ngIf="classShop!='shopHome'" alt="">
                    <img src="./assets/icon/store-home/shop1.png" *ngIf="classShop=='shopHome'" alt="">
                </div>
                <span>店铺首页</span>
            </ion-segment-button>
            <ion-segment-button value="allGoods">
                <div class="num">
                    <span>{{alldata?.count||'0'}}</span>
                </div>
                <span>全部商品</span>
            </ion-segment-button>
            <ion-segment-button value="cuXiao">
                <div class="num">
                    <span>{{shopdata?.data?.promote_goods||0}}</span>
                </div>
                <span>促销</span>
            </ion-segment-button>
            <ion-segment-button value="goNew">
                <div class="num">
                    <span>{{newdata?.count||'0'}}</span>
                </div>
                <span>上新</span>
            </ion-segment-button>
        </ion-segment>
    </div>
    <!-- 
    <div class="shop-tabs">
        <button class="shop-tabs-item" value="shopHome">
          <div class="shop-tabs-item-img"></div>
          <span>店铺首页</span>
      </button>
        <button class="shop-tabs-item" value="allGoods">
          <div><span>{{alldata?.count||0}}</span></div>
          <span>全部商品</span>
      </button>
        <button class="shop-tabs-item" value="cuXiao">
          <div><span>{{cxdata?.count||0}}</span></div>
          <span>促销</span>
      </button>
        <button class="shop-tabs-item" value="goNew">
          <div><span>{{newdata?.count||0}}</span></div>
          <span>上新</span>
      </button>
    </div> -->
    <ion-list [ngSwitch]="classShop">
        <div class="shopHome-main" *ngSwitchCase="'shopHome'">
            <no-goods *ngIf="data&&(!data?.new_list?.length)&&(!data?.hot_list?.length)"></no-goods>
            <div class="new-arrival" *ngIf="data?.new_list?.length" style="margin-top: 7px;">
                <p>2017 NEW ARRIVAL</p>
                <p>新品推荐</p>
            </div>

            <div class="new-arrival-goods-box" *ngIf="listStyleflag||data?.new_list?.length">
                <div class="new-arrival-goods" *ngFor="let item of data?.new_list">
                    <img img-lazy-load="{{item.goods_img}}" tappable (click)="goParticularsPage(item.id)" alt="">
                    <div class="price">
                        <span>{{item.shop_price}}</span>
                        <button (click)="goParticularsPage(item.id)">立即抢购</button>
                    </div>
                </div>
            </div>
            <!-- <single-foods-item [data]="data?.new_list" *ngIf="listStyleflag"></single-foods-item> -->

            <div class="new-arrival" *ngIf="data?.hot_list?.length">
                <p>POPULARITY LIST</p>
                <p>人气单品</p>
            </div>

            <!-- <div class="new-arrival-goods-box" *ngIf="!listStyleflag">
                <div class="allGoods-items" *ngFor="let item of data?.hot_list" tappable (click)="goParticularsPage(item.id)">
                    <div class="allGoods-items-img">
                        <img img-lazy-load="{{item.goods_img}}" alt="{{item.name}}">
                    </div>
                    <div class="allGoods-items-info">
                        <p>{{item.name}}</p>
                        <p>{{item.shop_price}}</p>
                    </div>
                </div>
            </div> -->
            <single-foods-card [data]="data?.hot_list" *ngIf="!listStyleflag" [toTop]="false"></single-foods-card>
            <single-foods-item [data]="data?.hot_list" *ngIf="listStyleflag" [toTop]="false"></single-foods-item>
        </div>
        <div class="allGoods-main" *ngSwitchCase="'allGoods'">
            <ion-toolbar class="segment-style">
                <!--<my-toolbar></my-toolbar>-->
                <ion-segment mode="md" [(ngModel)]="alltool" (click)="alltoolChange()" color="primary">
                    <ion-segment-button value="all">
                        综合
                        <!-- <div [ngClass]="all_Status==false?'sortup':'sortdown'" class="myicon">
                            <div [ngStyle]="{'height':'7px'}">
                                <ion-icon name="md-arrow-dropup"></ion-icon>
                            </div>
                            <div>
                                <ion-icon name="md-arrow-dropdown"></ion-icon>
                            </div>
                        </div> -->
                    </ion-segment-button>
                    <ion-segment-button value="sales_num">
                        销量
                        <!-- <div [ngClass]="sales_NumStatus==false?'sortup':'sortdown'" class="myicon">
                            <div [ngStyle]="{'height':'7px'}">
                                <ion-icon name="md-arrow-dropup"></ion-icon>
                            </div>
                            <div>
                                <ion-icon name="md-arrow-dropdown"></ion-icon>
                            </div>
                        </div> -->
                    </ion-segment-button>
                    <ion-segment-button value="shop_price">
                        价格
                        <div [ngClass]="shop_PriceStatus==false?'sortup':'sortdown'" class="myicon">
                            <div [ngStyle]="{'height':'7px'}">
                                <ion-icon color="jingku1" name="md-arrow-dropup"></ion-icon>
                            </div>
                            <div>
                                <ion-icon color="jingku1" name="md-arrow-dropdown"></ion-icon>
                            </div>
                        </div>
                    </ion-segment-button>
                    <!-- <ion-segment-button menuToggle value="">
                        筛选
                        <img img-lazy-load="./assets/icon/images/filter.png" width="18" alt="">
                    </ion-segment-button> -->
                </ion-segment>
            </ion-toolbar>
            <ion-list>
                <!-- <div class="alldata-box" *ngIf="!listStyleflag">
                    <div class="allGoods-items" *ngFor="let item of alldata?.goods" tappable (click)="goParticularsPage(item.id)">
                        <div class="allGoods-items-img">
                            <img img-lazy-load="{{item.goods_img}}" alt="">
                        </div>
                        <div class="allGoods-items-info">
                            <p>{{item.name}}</p>
                            <p>{{item.shop_price}}</p>
                        </div>
                    </div>
                </div> -->
                <no-goods *ngIf="alldata&&!alldata?.goods?.length"></no-goods>
                <single-foods-card [data]="alldata?.goods" *ngIf="!listStyleflag" [toTop]="false"></single-foods-card>

                <single-foods-item [data]="alldata?.goods" *ngIf="listStyleflag" [toTop]="false"></single-foods-item>
                <!--<div class="allGoods-box">
                    <div class="allGoods-items">
                        <div class="allGoods-items-img">
                            <img img-lazy-load="./assets/icon/newGoods.png" alt="">
                        </div>
                        <div class="allGoods-items-info">
                            <p>博士伦美瞳明透亮眸半年XXX</p>
                            <p>￥450</p>
                        </div>
                    </div>
                </div>-->
                <ion-infinite-scroll *ngIf="alldata" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-list>
        </div>
        <div class="cuXiao-mian" *ngSwitchCase="'cuXiao'">
            <div class="cuXiao-time-goods" *ngIf="cxdata?.end_list?.length">
                <div class="cuXiao-time-goods-tit">
                    <p>即将结束</p>
                    <span>以下商品今日23.59结束促销</span>
                </div>
                <ng-container *ngFor="let item of cxdata?.end_list;let i = index;">
                    <div class="cuXiao-time-goods-content" *ngIf="show?i<cxdata?.end_list?.length:i<1" tappable navPush="ParticularsPage" [navParams]="{goodsId:item.goods_id}">
                        <div class="time-goods-img">
                            <img img-lazy-load="{{item.goods_img}}" alt="">
                        </div>
                        <div class="right">
                            <p title="{{item.goods_name}}">{{item.goods_name}}</p>
                            <span>{{item.promote_price}}</span>
                            <!-- <div class="button">限购</div> -->
                        </div>
                    </div>
                </ng-container>
                <div class="show-more" *ngIf="cxdata?.end_list?.length>1" tappable (click)="show=!show">
                    查看更多&nbsp;
                    <ion-icon [name]="show?'ios-arrow-up':'ios-arrow-down'"></ion-icon>
                </div>
            </div>
            <div class="cuXiao-tabs">
                <button class="cuXiao-tabs-item">商品满减</button>
                <button class="cuXiao-tabs-item">商品打折</button>
                <button class="cuXiao-tabs-item">商品满赠</button>
                <button class="cuXiao-tabs-item">商品补贴</button>
            </div>
            <div class="sixJianOne-main">
                <!-- <div class="preferential-tip">
                    <p>促销时间：08月21日 15:11结束促销</p>
                    <p>促销规则“以下商品满6件减1件</p>
                </div> -->
                <div class="allGoods-box">
                    <no-goods *ngIf="cxdata&&!cxdata?.goods_list?.length"></no-goods>
                    <single-foods-card [data]="cxdata?.goods_list" *ngIf="!listStyleflag" [toTop]="false"></single-foods-card>

                    <single-foods-item [data]="cxdata?.goods_list" *ngIf="listStyleflag" [toTop]="false"></single-foods-item>
                    <ion-infinite-scroll *ngIf="cxdata" (ionInfinite)="doInfinite($event)">
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."></ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </div>
            </div>
        </div>
        <div class="goNew-main" *ngSwitchCase="'goNew'">
            <!--<ion-list>-->
            <div class="newTime-date-big-box">
                <!--<div class="newTime-date-box">
                        <div></div>
                        <p><img img-lazy-load="./assets/images/images/time.png" alt=""><span>6月16日</span></p>
                    </div>-->
                <!--    <div class="newdata-box" *ngIf="!listStyleflag">
                    <div class="allGoods-items" *ngFor="let item of newdata?.goods" tappable (click)="goParticularsPage(item.id)">
                        <div class="allGoods-items-img">
                            <img img-lazy-load="{{item.goods_img}}" alt="">
                        </div>
                        <div class="allGoods-items-info">
                            <p>{{item.name}}</p>
                            <p>{{item.shop_price}}</p>
                        </div>
                    </div>
                </div> -->
                <no-goods *ngIf="newdata&&!newdata?.goods?.length"></no-goods>

                <single-foods-card [data]="newdata?.goods" *ngIf="!listStyleflag" [toTop]="false"></single-foods-card>

                <single-foods-item [data]="newdata?.goods" *ngIf="listStyleflag" [toTop]="false"></single-foods-item>

                <ion-infinite-scroll *ngIf="newdata" (ionInfinite)="doInfinite($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."></ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </ion-list>

    <ion-fab right bottom tappable (click)="myContent.scrollToTop()">
        <button ion-fab color="jingku1" mini #goBackTop goBackTop></button>
    </ion-fab>

</ion-content>
<ion-footer>
    <div class="shop-footer">
        <div tappable class="shop-footer-items" (click)="goParticularsHomeDetails()">
            <a class="lx_tel">
                <span>店铺详情</span>
            </a>
        </div>
        <div class="shop-footer-items" tappable (click)="openPopover($event)">
            <a class="lx_tel">
                <ion-icon name="ios-menu" style="pointer-events: none;"></ion-icon>
                <span style="pointer-events: none;">热门分类</span>
            </a>
        </div>
        <div class="shop-footer-items">
            <a (click)="goAccountServicePage(shopdata?.data?.access_id)" class="lx_tel">
                <ion-icon>
                    <img img-lazy-load="./assets/icon/kefu.png" alt="">
                </ion-icon>
                <span>联系卖家</span>
            </a>
        </div>
    </div>
</ion-footer>