<!--
  Generated template for the MeunItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-content style="margin-top:10px;">
    <ng-container *ngFor="let item of data?.goods_attr_arr">
        <div class="box" *ngIf="item.data?.length">
            <div class="head" *ngIf="item.data?.length != 0">
                <span class="title">{{item.name}}</span>
                <!--<span class="all">全部<ion-icon name="ios-arrow-down" ></ion-icon></span>-->
            </div>
            <div class="body" *ngIf="item.name=='商品品牌'">
                <div class="tap-box">
                    <div class="tap" *ngFor="let group of item?.data" tappable (click)="radiolist3.toggleItem3(group,item?.data)" [ngClass]="group.selected==0?'select':'selected'">{{group.brand_name}}</div>
                </div>
            </div>
            <div class="body" *ngIf="item.name=='商品分类'">
                <div class="tap-box">
                    <div class="tap" *ngFor="let group of item?.data" tappable (click)="radiolist2.toggleItem2(group,item?.data)" [ngClass]="group.selected==0?'select':'selected'">{{group.cat_name}}</div>
                </div>
            </div>
            <div class="body" *ngIf="item.name=='商品价格区间'">
                <div class="price-input">
                    <input type="number" [(ngModel)]="filterParams.min_price" placeholder="最低价"> — <input type="number" [(ngModel)]="filterParams.max_price" placeholder="最高价">
                </div>
                <div class="tap-box">
                    <div class="tap" *ngFor="let group of item?.data" tappable (click)="radiolist.toggleItem(group,item?.data);" [ngClass]="group.selected==0?'select':'selected'">{{group.min_price}}~{{group.max_price}}</div>
                </div>
            </div>
            <div class="range" *ngIf="item.name=='商品价格区间'">
                <!-- <ion-item no-lines>
                    <ion-range dualKnobs="true" pin="true" [(ngModel)]="price" mode="ios" [min]="item?.data[0]?.min_price" [max]="item?.data[item.data.length-1]?.max_price"></ion-range>
                </ion-item> -->
                <!-- <div class="number">
                    <div>{{price.lower}}</div>
                    <div>{{price.upper}}</div>
                </div> -->
            </div>
            <div class="selectedbox" *ngIf="item.data.length!=0&&item.name=='商品属性'">
                <ion-select *ngFor="let group of item?.data;let i = index;" placeholder="{{group.attr_name}}" [(ngModel)]="group.selected" okText="确定" cancelText="取消" [selectOptions]="{subTitle: group.attr_name}">
                    <ion-option *ngFor="let subgroup of group?.values;let i = index;" [value]="subgroup.id">{{subgroup.value}}</ion-option>
                </ion-select>
            </div>
        </div>
    </ng-container>


</ion-content>
<ion-footer>
    <button full large ion-button color="cancelBtn" (click)="reset()">重置</button>
    <button full large ion-button color="dark" menuClose tappable (click)="confirm()">确定</button>
</ion-footer>