meun-item {
    .box {
        border-bottom: 1px solid map-get($colors, border);
        padding: 8px;
        &:last-child {
            border: none;
        }
    }
    .head {
        height: 40px;
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        align-items: center;
        .all {
            color: #acacac;
            ion-icon {
                margin-left: 3px;
            }
        }
    }
    .body {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-bottom: 18px;
        >div {
            padding: 10px 0;
            margin: 10px 2% 0 0;
            border-radius: 3px;
            background-color: #f5f5f5;
            text-align: center;
            width: 32%;
            color: #acacac;
            font-size: 1.2rem;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .range-ios .range-knob {
        border: 1px solid #bbb;
        background: #fff url(../assets/icon/menu_shoplist_03.png) center center no-repeat;
        background-size: 64%;
    }
    .select {
        background-color: #cccccc;
        color: #fff;
    }
}