<!--
  Generated template for the MeunItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="box" *ngIf="data?.arr_attr.length!=0">
    <div class="head">
        <span class="title">商品属性类型</span>
        <span class="all">全部<ion-icon name="ios-arrow-down" ></ion-icon></span>
    </div>
    <div class="body">
        <div *ngFor="let item of data?.arr_attr" #click>{{item.cat_name}}</div>
    </div>
</div>
<div class="box" *ngIf="data?.brands.length!=0">
    <div class="head">
        <span class="title">商品品牌</span>
        <span class="all">全部<ion-icon name="ios-arrow-down" ></ion-icon></span>
    </div>
    <div class="body">
        <div *ngFor="let item of data?.brands">{{item.brand_name}}</div>
    </div>
</div>
<div class="box" *ngIf="data?.categorys">
    <div class="head">
        <span class="title">商品分类</span>
        <span class="all">全部<ion-icon name="ios-arrow-down" ></ion-icon></span>
    </div>
    <div class="body">
        <div *ngFor="let item of data?.categorys">{{item.cat_name}}</div>
    </div>
</div>
<div class="box" *ngIf="data?.item">
    <div class="head">
        <span class="title">商品价格分级</span>
        <span class="all">全部<ion-icon name="ios-arrow-down" ></ion-icon></span>
    </div>
    <div class="body">
        <div *ngFor="let item of data?.item">{{item.min_price}}~{{item.max_price}}</div>
    </div>
    <ion-item no-lines>
        <ion-range mode="ios" debounce="2000" dualKnobs="true">
            <!-- [(ngModel)]="brightness"-->
        </ion-range>
    </ion-item>
</div>