page-signup-second {
    .content .list-wrap {
        margin-bottom: 5px;
        .item {
            ion-label[fixed] {
                flex-basis: 100px;
            }
            &.select-wrapper .input-wrapper {
                display: flex;
                justify-content: space-around;
                padding: 15px;
                ion-select {
                    border: 1px solid #ccc;
                    width: 30%;
                    padding: 8px 12px 8px 13px;
                    border-radius: 4px;
                }
            }
        }
    }
    .zhizhao {
        [item-content] {
            display: flex;
            align-items: center;
            /* .add-zhizhao {
                height: 7rem;
                width: 7rem;
                min-height: 7rem;
                min-width: 7rem;
                display: flex;
                font-size: 1.3rem;
                flex-direction: column;
                align-items: center;
                background: #e0e0e0;
                border-radius: 3px;
                color: #fff;
                justify-content: center;
                margin: 10px 0;
                margin-right: 20px;
                ion-icon {
                    font-size: 3rem;
                }
            } */
            .camra {
                border: 1px solid #e0e0e0;
                height: 85px;
                width: 85px;
                position: relative;
                margin: 10px 0;
                border-radius: 8px;
                margin-right: 10px;
                overflow: hidden;
                &:last-child {
                    margin-right: 0;
                }
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    width: 58%;
                    max-height: 100%;
                }
                &.ui {
                    img {
                        width: auto;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
    .tool {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        .agree {
            display: flex;
            align-items: center;
        }
        .login {
            float: right;
            .text {
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                color: #999;
            }
        }
    }
}