<!--
  Generated template for the SignupSecond page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>注册</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form #signupTwoForm="ngForm" novalidate>

        <ion-list class="list-wrap">
            <ion-item>
                <ion-label color="primary" fixed><span ion-text color="google">*</span>　姓名</ion-label>
                <ion-input required clearInput [(ngModel)]="formData.true_name" name="true_name" type="text" placeholder="请输入真实姓名"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>　 QQ</ion-label>
                <ion-input clearInput [(ngModel)]="formData.qq" name="qq" type="number" placeholder="请输入QQ号"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed><span ion-text color="google">*</span>　公司名称</ion-label>
                <ion-input required clearInput [(ngModel)]="formData.company" name="company" type="text" placeholder="请输入公司名称"></ion-input>
            </ion-item>
            <ion-item class="select-wrapper">
                <ion-select mode="ios" required [(ngModel)]="formData.province" name="province" placeholder="选择省" cancelText="取消" okText="确定"
                    [selectOptions]="{subTitle:'省'}" (ionChange)="provinceChange(formData.province)">
                    <ion-option *ngFor="let item of provinceList" value="{{item.region_id}}">
                        {{item.region_name}}
                    </ion-option>
                </ion-select>
                <ion-select mode="ios" required [(ngModel)]="formData.city" [disabled]="!cityList" name="city" placeholder="选择市" cancelText="取消"
                    okText="确定" [selectOptions]="{subTitle:'市'}" (ionChange)="cityChange(formData.city)">
                    <ion-option value="{{item.region_id}}" *ngFor="let item of cityList">
                        {{item.region_name}}
                    </ion-option>
                </ion-select>
                <ion-select mode="ios" required [(ngModel)]="formData.district" [disabled]="!districtList" name="district" placeholder="选择区"
                    cancelText="取消" okText="确定" [selectOptions]="{subTitle:'区'}">
                    <ion-option value="{{item.region_id}}" *ngFor="let item of districtList">
                        {{item.region_name}}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="zhizhao">
                <ion-label color="primary" fixed><span ion-text color="google">*</span>　营业执照</ion-label>
                <div item-content>
                    <div class="add-zhizhao" style="position: relative;" (click)="openFile()" item-center icon-top>
                        <ion-icon name="md-add"></ion-icon>
                        <input type="file" id="file" style="width:
                        100%;height:100%;position: absolute;opacity: 0;" (change)="openFile($event)">
                        选择文件
                    </div>
                    <span color="danger" *ngIf="!formData.zhizhao" ion-text>请上传图片</span>
                    <img style="margin:10px;max-height:150px;" id="preview" src="{{formData.zhizhao}}" alt="">
                </div>
                <!-- <div class="jjp cle">
                        <div class="License ">
                            <div class="ret-up fl "><img ng-src="{{getQyMsg.company_info.zsfz || 'img/up.jpg'}}" id="img00"/><input id="img0" class="up-file cursor" type="file" ng-model="sfz_before" ng-change="sfzBefore($event)"/></div>
                            <div class="ret-sli fl"><img src="img/sfz-z.jpg"/><div class="sli-fdj "><span></span>示例</div></div>
                            <div class="muke hidden"></div>
                            <div class="zzc "><img src="img/sfz-z.jpg"/></div>
                        </div>
                    </div> -->
            </ion-item>
            <ion-item>
                <ion-label color="primary" fixed>　 推荐人编码</ion-label>
                <ion-input clearInput type="text" [(ngModel)]="formData.parent_id" name="parent_id" placeholder="请填写推荐人编码"></ion-input>
            </ion-item>
        </ion-list>
        <div class="tool" padding-horizontal>
            <label tappable class="agree">
                <ion-checkbox required id="agree" [(ngModel)]="agree" name="agree" mode="ios" color="danger"></ion-checkbox>
                &nbsp;&nbsp;我已同意并阅读
                <span ion-text color="google" (click)="goHelperDetailsPage();">《用户协议》</span>
            </label>
            <div class="login">
                <span class="text">已有账号？</span>
                <div ion-button outline small color="danger" tappable (click)="toLoginPage()">登录</div>
            </div>
        </div>
        <div padding>
            <button ion-button block color="dark" large class="btn-register" type="submit" (click)="onSubmit()" [disabled]="!(signupTwoForm.form.valid&&formData.zhizhao&&agree)">注册</button>
        </div>
    </form>
</ion-content>