img-tabs {
    $slide-height-small: 40px;
    $slide-height-large: 50px;
    .slides {
        border-top: 1px solid #e0e0e0;
        background: #fff;
    }
    .slide-title {
        width: 100%;
        height: $slide-height-small;
        color: #666666;
        padding: 0;
    }
    .slide-title-unit {
        display: inline-block;
        font-size: 14px;
        white-space: nowrap;
        width: 60%;
        height: $slide-height-small;
        line-height: 44px;
    }
    .slide-title-active {
        color: map_get($colors, primary);
        border-bottom: 1px solid map_get($colors, danger);
    }
}