img-tabs {
    $slide-height-small: 41px;
    $slide-height-large: 50px;
    .slides {
        width: 100%;
        color: #666666;
        padding: 0;
    }
    .slide-title-unit {
        font-size: 14px;
        white-space: nowrap;
        width: 60%;
        height: $slide-height-small;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .slide-title-active {
        color: #3f69a5;
        border-bottom: 2px solid #3f69a5;
    }
}