<!--
  Generated template for the SingleFoodsItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list>

    <ion-item [ngClass]="animateClass" tappable [navPush]="ParticularsPage" [navParams]="{goodsId:item.id,cutId:item.cutting_id>0?item.cutting_id:0}" *ngFor="let item of animateItems; let i = index;">
        <ion-thumbnail border-none item-left>
            <img img-lazy-load="{{item?.goods_img}}" alt="{{item?.short_name}}">
        </ion-thumbnail>
        <h2>{{item.short_name}}</h2>
        <h3 *ngIf="mine?.showPrice">{{item.shop_price}}</h3>
        <div class="btns">
            <div class="chips">
                <div class="sale" *ngIf="item.is_promote==1">SALE</div>
                <div class="hot" *ngIf="item.is_hot==1">HOT</div>
                <div class="new" *ngIf="item.is_new==1">NEW</div>
            </div>
            <button ion-button small color="jingku1" mode="md" (click)="openAttrModal($event,item)" outline class="choose_attr">选规格</button>
        </div>
        <div class="background" tappable (click)="close(item,$event)" *ngIf="item.showBtn"></div>
        <ion-fab middle center #fab *ngIf="item.showBtn" (click)="$event.stopPropagation();">
            <button color="light" ion-fab (click)="goParticularsPage(item.id)">购物车</button>
            <button color="danger" ion-fab [disabled]="item.is_collect" (click)="onCollect(item)">{{item.is_collect?'已关注':'关注'}}</button>
        </ion-fab>
    </ion-item>
</ion-list>