single-foods-item {
    .fade-in-item {
        animation: fadeIn 800ms;
    }
    .item-inner{
        margin-bottom: -1px;
    }
    ion-item.item{
        border-bottom: 1px solid #dedede;
        ion-thumbnail img{
            width: 100px;
            height: 100px;
        }
    }
}