single-foods-item {
    .item-inner {
        margin-bottom: -1px;
    }
    ion-item.item {
        border-bottom: 1px solid #dedede;
        position: relative;
        ion-thumbnail img {
            width: 100px;
            height: 100px;
        }
        h2 {
            color: #666;
            white-space: pre-wrap;
            font-size: 1.4rem;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        h3 {
            color: color($colors, danger);
            font-weight: 700;
            margin: 10px 0px;
        }
        .chips {
            display: flex;
            >div {
                /* width: 42px; */
                border-radius: 5px;
                background: red;
                color: #fff;
                text-align: center;
                height: 25px;
                line-height: 25px;
                padding: 0 5px;
                margin-right: 5px;
                font-size: 13px;
            }
        }
        .background {
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            animation: fade 1s;
        }
        ion-fab[middle] {
            display: flex;
            margin-left: -61px;
            button {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}