<!--
  Generated template for the SingleFoodsItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list>

    <ion-item [ngClass]="animateClass" tappable [navPush]="ParticularsPage" [navParams]="{goodsId:item.id,cutId:item.cutting_id>0?item.cutting_id:0,dId:isDistribution ? item.id : 0}" *ngFor="let item of animateItems; let i = index;">
        <ion-thumbnail border-none item-left>
            <img img-lazy-load="{{item?.goods_img}}" alt="{{item?.short_name}}">
        </ion-thumbnail>
        <h2>{{item.short_name}}</h2>
        <h3 *ngIf="mine?.showPrice">{{item.shop_price}}</h3>
        <div class="btns">
            <div class="chips">
                <div class="sale" *ngIf="item.is_promote==1">SALE</div>
                <div class="hot" *ngIf="item.is_hot==1">HOT</div>
                <div class="new" *ngIf="item.is_new==1">NEW</div>
            </div>
            <button style="position: absolute;right: 18px;bottom: 5px;" ion-button small color="jingku1" mode="md" (click)="openAttrModal($event,item)" outline class="choose_attr">{{isDistribution?'立即预约':'选规格'}}</button>
        </div>
    </ion-item>
</ion-list>