<!--
  Generated template for the SingleFoodsItem component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list>

    <ion-item [ngClass]="animateClass" (press)="tapEvent(item,$event)" [navPush]="ParticularsPage" [navParams]="{}" *ngFor="let item of animateItems; let i = index;">
        <ion-thumbnail item-left>
            <img [src]="item.goods_img" alt="{{item.title}}" />
        </ion-thumbnail>
        <h2>{{item.short_name}}</h2>
        <h3>￥{{item.market_price}}</h3>
        <div class="chips">
            <div>SALE</div>
            <div>HOT</div>
            <div>NEW</div>
        </div>
        <div class="background" (click)="close(item,$event)" *ngIf="item.showBtn"></div>

        <ion-fab middle center #fab *ngIf="item.showBtn">
            <button color="light" ion-fab>购物车</button>
            <button color="danger" ion-fab>关注</button>
        </ion-fab>
    </ion-item>
</ion-list>